p.wristband-hint
  = fa_icon "info-circle"
  = t('gtag_assignations.info.line_1')
= f.text_field :tag_serial_number, placeholder: t("gtag_assignations.placeholders.#{@gtag_registration_presenter.gtag_format}.line_1")