p
  = fa_icon "info-circle"
  = t('gtag_registrations.info.line_1')
= f.text_field :tag_serial_number, placeholder: t("gtag_registrations.placeholders.#{@gtag_assignment_presenter.gtag_format}.line_1")