= render "admins/events/stations/analytics/report_card", title: "Access Control for #{station.name}", chart_id: "access_control"
javascript:
    $(function () {
        var renderers = $.extend($.pivotUtilities.renderers, $.pivotUtilities.c3_renderers, $.pivotUtilities.export_renderers);
        var tpl = $.pivotUtilities.aggregatorTemplates;
        var numberFormat = $.pivotUtilities.numberFormat;
        var frFormat = numberFormat({digitsAfterDecimal: 0});

        var access_control = jQuery.parseJSON('#{ escape_javascript(access_control.html_safe) }');

        $("#access_control").pivotUI(access_control, {
            renderers: renderers,
            cols:["Station Name", "Direction"], rows: ["Event Day", "Date Time"],
            rendererName: "Table",
            aggregators: {
                "Access": function () {
                    return tpl.sum(frFormat)(["Access"])}
                }

        });

    });
