- breadcrumb :admins_payments
- provide :actions do

= render "admins/payments/search", q: @q

//- if @payments.empty?
//  .section-title-empty
//    = image_tag "img-empty.png"
//    p = t("admin.defaults.empty_payments")
//- else
= render "admins/payments/list", payments: @payments