// -------------------------------------------------------
//
//  Color configuration
//
// -------------------------------------------------------

$white:         #f6f6f6;
$nuclear:       #fff;
$black:         #0f0f0f;

