= simple_form_for [:admins, current_event, credential_type] do |f|
  .wrapper-negative-space
    = f.association :catalog_item, collection: @catalog_items_collection, include_blank: false

    = f.button :submit, class: "btn btn-primary"