// -------------------------------------------------------
//
// Animations
//
// -------------------------------------------------------

// Opacity animation for app main container when change view

@keyframes loadFadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

// ···
