// -------------------------------------------------------
//
// Base stylesheet for common elments
//
// -------------------------------------------------------

*,
:after,
:before {
  box-sizing: border-box;
}

//Variables

$small_text:        $base_font_size * 0.75;
$label-size:        $base-font-size;
$paypal-logo-agreement:        $base-font-size * 3;
$credit-size:       $base-font-size * 5;

$radius:            3px;

$light_paypal:      rgba(0, 156, 222, 0.06);

// HTML base styles

html,
body {
  position: relative;
  height: 100%;

  @include min-screen($bp3) { @include sticky-footer(modules(4)); }
}

// The whole screen container
.container-main {
  overflow: hidden;
  width: 100%;
  height: auto;

  @include min-screen($bp3) { min-height: 100%; }
}

.wrapper-main { position: relative; }

// Avoid scroll when display aside menu on mobile
.unscrollable-view {
  overflow: hidden;
  min-height: 100%;
}

// TODO: Manu, the header in the edit registration view must be included as a mobile layout, not with css.
.registrations {
  &.edit {
    .container-welcome-logo {
      margin-top: modules(3);

      @include min-screen($bp3) { margin-top: auto; }
    }
  }
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p { line-height: 170%; }

a {
  text-decoration: none;
}

// Custom texts sizes

.panel-amount-number {
  @include mscale($credit-size);
  margin-bottom: 0;
  color: $color_text;
  line-height: 1;

  .currency-symbol {
    @include mscale($base-font-size * 2.5);
    font-weight: 500;
  }
}

.currency-symbol { padding-left: modules(0.10); }

.refundable-conversion-list {

  p { display: inline-block; }

  li {
    display: inline-block;
    width: auto;
    margin: 0;
    padding: modules(0.25);
  }
}

// Refs to text alignment

.ticket-id { font-weight: bold; }

.img-ticket {
  display: block;
  width: 90%;
  margin: 0 auto modules(1);

  @include min-screen($bp3) {
    max-width: modules(13);
    height: auto;
    margin: modules(1) auto 0;
  }
}

.preload {
  @include transition(all 150ms linear);
  display: block;
  max-width: modules(13);
  height: modules(5);
  margin: 0 auto;
  border-radius: $radius;
  background-color: $light_grey;
}

.img-gtag {
  display: block;
  width: 90%;
  margin: 0 auto modules(1);
  max-width: modules(10);
}

.center-text {
  text-align: center;

  i { padding-right: modules(0.25); }
}

.italic-text { font-style: italic; }

.bold-text { font-weight: bold; }

.refundable-text { margin-bottom: 0; }

.highlight-text {
  font-weight: bold;
  margin-bottom: 0;
}

.hint-text {
  color: $grey;
  font-weight: bold;
  text-transform: uppercase;
}

.hint-redirect {
  margin-bottom: 0;
  color: $grey;
}

.hint-review { padding: modules(1) 0; }

.ticket-detail-module {
  padding: modules(0.5) 0;
  box-shadow: inset 0 -1px 0 0 lighten($light_grey, 17%);

  li { font-weight: bold; }
}

.event-state-image {
  width: auto;
  margin-bottom: modules(0.5);
}

.state-illustration { height: modules(7); }
.module-illustration { height: modules(9); }

.hint {
  display: none;

  @include min-screen($bp3) {
    @include transition(opacity 200ms ease-in-out, top 150ms ease-in-out);
    @include mscale($base-font-size * 0.85);
    position: absolute;
    top: modules(2);
    left: -20%;
    display: block;
    width: 140%;
    padding: modules(0.15);
    border-radius: $radius;
    background-color: $dark_grey;
    color: $nuclear;
    text-transform: none;
    font-style: normal;
    opacity: 0;

    &:before {
      position: absolute;
      top: -6px;
      left: 45%;
      display: block;
      content: "";
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid $color_text;
    }
  }
}

.wrapper-module-agreement {
  margin: modules(2) 0 0;
  padding: modules(1) modules(1) modules(2);
  border-radius: $radius;
  box-shadow: inset 0 0 1px 0 $paypal;
  background-color: $light_paypal;
  text-align: left;

  .hint {
    top: modules(1) !important;
    text-align: center;
    z-index: 3;
  }
}

.paypal-agreement-title {
  @include mscale($base-font-size * 1);
  margin-bottom: modules(0.5);
  color: $paypal;

  i { padding-right: modules(0.25); }
}

.agreement-description,
.agreement-hint,
.agreement-amount {
  color: $grey;
}

.agreemet-current {
  display: inline-block;
  vertical-align: top;
  width: 100%;

  @include min-screen($bp3) {
    width: 48%;
    box-shadow: 1px 0 0 0 $light_grey;
  }
}

.agreement-hint {
  margin-bottom: modules(0.5);
  font-weight: bold;
}

.agreement-select {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin: modules(1) 0;

  @include min-screen($bp3) {
    width: 42%;
    margin: 0 0 modules(1) 10%;
  }

  select { width: 100%; }
}

.agreement-amount {
  @include mscale($base-font-size * 3);
  margin-bottom: 0;
}

.wristband-hint {
  margin-bottom: 0;
  text-align: left;

  i { padding-right: modules(0.25); }
}

.paypal-styled {
  @include mscale($paypal-logo-agreement);
  display: block;
  margin-bottom: 0;
  color: $grey;
}

body.synchronous_payments.error,
body.asynchronous_payments.error {
  background-color: lighten($red,30%) !important;
}

// ···
