// -------------------------------------------------------
//
// Base stylesheet for DASHBOARD
//
// -------------------------------------------------------

// Container for dashboard info for ticket and credit

.btn {
  @include transition(background 200ms ease-in-out, opacity 200ms ease-in-out, color 200ms ease-in-out);
  position: relative;
  display: block;
  width: modules(4);
  height: modules(2);
  margin: 0 auto modules(1);
  padding: modules(0.25) modules(0.5);
  border-radius: 3px;
  text-transform: uppercase;
  text-align: center;

  &:focus { outline: none; }
  &:hover {
    .hint {
      top: modules(1.75);
      opacity: 1;
    }
  }

  &:disabled {
    opacity: 0.7;
  }
}

.social-btn {
  color: $white!important;
  text-decoration: none!important;
  padding: .6rem 0!important;
  text-align: center;
  width: 32%;
  font-weight: bold;
  border-radius: 3px;
  transition: all .3s;
  display: block;
  width: 100%;
  margin-bottom: 1.2rem;


  i {
    margin-right: .6rem;
  }

  &--twitter {
    background: $twitter;

    &:hover {
      background: lighten($twitter, 12%)
    }
  }
  &--facebook {
    background: $facebook;

    &:hover {
      background: lighten($facebook, 12%)
    }
  }
  &--google {
    background: $google;

    &:hover {
      background: lighten($google, 12%)
    }
  }
}

.btn-action-enter {
  @include transition(opacity 200ms ease-in-out);
  display: block;
  width: 100%;
  height: modules(2);
  margin: 0 auto modules(1);

  @include min-screen($bp3) { width: 45%; }

  &:focus,
  &:hover {
    opacity: 0.6;
    outline: none;
  }
}

.btn-action-enter {
  @include transition(opacity 200ms ease-in-out);
  display: block;
  width: 100%;
  height: modules(2);
  margin: 0 auto modules(1);

  @include min-screen($bp3) { width: 45%; }

  &:focus,
  &:hover {
    opacity: 0.6;
    outline: none;
  }
}

.btn-edit-customer {
  clear: both;
  width: 100%;
  margin: modules(2) auto modules(0.75);
}

.btn-action-primary {
  @include transition(background 200ms ease-in-out, color 200ms ease-in-out, opacity 200ms ease-in-out);
  display: inline-block;
  float: right;
  vertical-align: top;
  width: 100%;
  margin: modules(1.5) 0;
  background-color: transparent;

  &:hover { opacity: 0.6; }
  .to-be-label { top: 0; }
}

.btn-action-checkout {
  display: block;
  float: none;
  width: 100%;
  margin: modules(1.5) 0;
}

// Centered button inside the column

.btn-action-secondary {
  display: inline-block;
  float: right;
  vertical-align: top;
  max-width: modules(12);
  height: auto;
  border-radius: 50px;
}

// Floating button inside column

.btn-action-dashboard {
  position: absolute;
  top: modules(0.75);
  right: modules(0.5);
  z-index: 1;
  display: inline-block;
  width: modules(4.5);
  height: auto;
  border-radius: 25px;

  &--refund {
    top: 4rem;
  }

  @include min-screen($bp3) {
    top: modules(1.35);
    right: modules(1);

    &--refund {
      top: 5rem;
    }
  }

  &:hover {
    &:after {
      @include transform(scale(1));
      opacity: 1;
    }
  }

  &:after {
    @include box-sizing(content-box);
    @include transition(transform 200ms ease-in-out, opacity 200ms ease-in-out);
    @include transform(scale(1.2));
    position: absolute;
    top: -5px;
    left: -5px;
    width: 100%;
    content: "";
    height: 100%;
    padding: 5px;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
  }
}

// Link to user customer in desktop

.btn-desktop-customer {
  position: absolute;
  top: modules(0.75);
  right: modules(0.75);
  z-index: 2;
  width: modules(2);
  height: modules(2);
  padding-top: modules(0.5);
  border-radius: 50px;
  text-align: center;

  &:after {
    @include box-sizing(content-box);
    @include transition(transform 120ms ease-in-out, opacity 200ms ease-in-out);
    @include transform(scale(1.10));
    position: absolute;
    top: -5px;
    left: -5px;
    z-index: 0;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50px;
    padding: 5px;
    opacity: 0;
    pointer-events: none;
  }

  &:hover,
  &:focus {
    outline: none;

    &:after {
      @include transform(scale(1));
      opacity: 1;
    }
  }
}

.btn-action-empty-state {
  @include transition(opacity 200ms ease-in-out);
  display: block;
  max-width: modules(9);
  width: auto;
  height: auto;
  margin: 0 auto;

  &:focus,
  &:hover {
    opacity: 0.6;
    outline: none;
  }
}

.add-bottom { margin-bottom: modules(1) !important; }

.btn-auto-claim {
  margin: modules(0.5) auto modules(1);
  padding: modules(0.5);
}

.btn-full-width { max-width: modules(11); }

.btn-action-add-paypal {
  background-color: $paypal;
  color: $nuclear;

  &:hover { background-color: lighten($paypal, 7%); }

  &--disabled {
    background-color: lighten($paypal, 40%);
    cursor: not-allowed;
    pointer-events: none;
  }
}

.btn-action-add-mercadopago {
  background-color: $mercadopago;
  color: $nuclear;

  &:hover { background-color: lighten($mercadopago, 7%); }

  &--disabled {
    background-color: lighten($mercadopago, 40%);
    cursor: not-allowed;
    pointer-events: none;
  }
}

.btn-action-back {
  position: relative;
  z-index: 5;
  display: block;
  height: auto;
  margin: modules(1) auto;

  i {
    display: inline-block;
    width: auto;
    padding-right: modules(0.25);
  }
}

.btn-remove-ticket {
  display: inline-block;
  width: 100%;
  margin: modules(0.5) 0 0;
  padding: modules(0.5) modules(0.5) modules(0.5) 0;
  color: $red;
  font-weight: bold;
  text-align: left;

  i {
    display: inline-block;
    width: auto;
    padding-right: modules(0.25);
  }

  &:hover { text-decoration: underline; }
}

.remove-centered {
  margin: 0;
  text-align: center;
}

.btn-payment-trigger {
  @include transition(opacity 180ms linear);
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: modules(0.25);
  border-radius: $radius;
  background-color: lighten($light_grey, 23%);
  color: $grey;
  text-align: center;
  cursor: pointer;

  a {
    display: block;
    width: 100%;
    height: 100%;
  }

  p {
    @include mscale($base_font_size * 0.75);
    margin-bottom: 0;
  }

  i {
    @include mscale($half_text);
    padding-top: modules(0.5);
  }

  &:hover { opacity: 0.7; }

  &.button-selected {
    box-shadow: none;
    background-color: lighten($amber, 7%);
    color: $nuclear;
  }
}

// Paypal buttons

#braintree-paypal-button {
  margin: 0 auto modules(2);

  @include min-screen($bp3) { margin: 0 auto modules(1); }
}

#braintree-paypal-loggedin {
  margin-bottom: modules(1) !important;
  padding: modules(0.5) 0;
  background-position: 0 50% !important;
}

#bt-pp-cancel { width: auto; }
#bt-pp-name { margin-left: 0 !important; }

.paypal-nvp-submit {
  display: block;
  width: auto;
  height: modules(2);
  margin: 0 auto modules(1);

  &:hover,
  &:focus {
    outline: none;
  }
}

// First registration buttons

.btn-action-first-registration {
  display: block;
  float: none;
  width: 100%;
  height: auto;
  max-width: modules(9);
  margin: 0 auto;
  padding: modules(0.75);
  border-radius: $radius;

  @include min-screen($bp2) {
    display: inline-block;
    vertical-align: middle;
    width: 45%;
    margin: 0 modules(0.25) 0 0;
    padding: modules(0.25);

    &:last-child {
      margin-right: 0;
      margin-left: modules(0.25);
    }
  }
}

// Separator for the buttons in the first log view
.buttons-separator {
  display: inline-block;
  margin: modules(0.5) auto;

  @include min-screen($bp6) { margin: 0 modules(0.15) modules(1); }
}

// ···
