// -------------------------------------------------------
//
// Tables and checkout styles
//
// -------------------------------------------------------

.wrapper-payments-methods {
  @include min-screen($bp3) {
    position: absolute;
    top: modules(0.75);
    right: modules(1);
    padding-bottom: 0;
    text-align: right;
  }

  i {
    @include mscale($quarter_text);
    display: inline-block;
    padding-right: modules(0.5);

    &:last-child { padding-right: 0; }
  }
}

// _______ ORDER ________

.table-order {
  width: 100%;
  margin-bottom: modules(1);
  text-align: left;
  border-collapse: collapse;

  th {
    display: none;
    padding: 0 0 modules(0.5);

    &:last-child { text-align: right; }
  }

  tr {

    &.table-head {
      background-color: transparent;
    }

    td:last-child {
      text-align: right;
    }
  }

  td {
    padding: modules(0.25) 0;
    color: $grey;
    border-bottom: 1px solid $form_gray;
  }
}

.total-amount {
  text-transform: uppercase;

  td {
    @include mscale($half_text);
    vertical-align: top;
    padding: modules(0.5) 0;
    color: $color_text;
    font-weight: bold;
    border-bottom: none;
  }
}

.vat-text {
  @include mscale($disclaimer);
  display: block;
  color: $grey;
  font-weight: bold;
  text-transform: none;
}

.wrapper-seal {
  padding-bottom: modules(0.5);
  clear: both;
  text-align: center;

  img {
    width: auto;
    height: modules(1.5);
  }
}

.checkout-title,
.checkout-amount {
  @include mscale($double_text);
  display: inline-block;
  vertical-align: middle;
  width: auto;
  font-weight: bold;
  text-transform: uppercase;
}

.checkout-amount {
  float: right;
  span { @include mscale($double_text); }
}

// Orders

.orders-disclaimer {
  margin-bottom: 0;
  padding: modules(0.3) modules(0.5);
  font-style: italic;
  border-radius: $radius;
  background-color: lighten($blueBoot, 50%);
  color: $blueBoot;
  border: 1px solid lighten($blueBoot, 40%);
  margin-bottom: 1rem;
}

.order {
  margin-bottom: 1rem;

  &__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $form_gray;
  }

  &__title {
    font-weight: bold;
  }

  &__status {
    font-size: .8rem;
    margin-left: .4rem;
    font-weight: bold;
    font-style: italic;

    &--completed {
      color: lighten($green, 13%);
    }

    &--tba {
      color: lighten($red, 8%);
    }

    &--cancelled {
      color: #999;
    }
  }
}

.order-item {
  font-style: italic;
  display: flex;
  justify-content: space-between;
}
