// -------------------------------------------------------
//
// Base stylesheet for footer
//
// -------------------------------------------------------

$footer_color:          rgba(255, 255, 255, 0.5);

footer {
  position: relative;
  overflow: hidden;
  padding: modules(2) 0;
  text-align: center;

  @include min-screen($bp3) {
    padding: 0;
    color: $footer_color;
  }

  a {
    color: $grey;
    text-transform: uppercase;
    text-decoration: none;

    &:hover { text-decoration: underline; }
  }
}

.copyright {
  color: white;
}

.footer-nav {
  display: block;

  li {
    display: inline-block;
    vertical-align: top;
    width: auto;
    padding: 0 modules(0.25);
    font-weight: bold;
    cursor: pointer;
  }

  a {
    color: white;
  }
}

.terms-list {
  width: 100%;

  li {
    display: block;

    @include min-screen($bp3) {
      display: inline-block;
      vertical-align: top;
      width: auto;
    }
  }
}

.wrapper-copy {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: modules(0.5);
  background-color: darken($glwnt_header, 7%);
  text-align: center;
  text-transform: uppercase;
}

.container-language {
  padding-bottom: modules(0.25);

  .selected { font-weight: bold; }
}

.language-item {
  font-weight: 300;
}

.footer-separator:before {
  content: "|";
  color: white;
}

.copyright {
  display: block;
  padding-top: modules(0.25);
}

// ···
