// -------------------------------------------------------
//
//  Page form styles
//
// -------------------------------------------------------

$form_border:        #999;

abbr { display: none; }

.input {
  position: relative;
  overflow: hidden;
  text-align: left;
}

form { overflow: hidden; }

label {
  @include transition(color 123ms linear, top 123ms linear);
  position: absolute;
  top: modules(1.5);
  z-index: 1;
  display: block;
  color: $grey;
}

.to-be-label {
  top: modules(0.5);
  z-index: 3;
}

select {
  @include linear-gradient($air_gray, $graySilver);
  height: modules(2);
  margin-bottom: modules(1);
  background-color: $air_gray;
  color: $grey;

  &:focus {
    outline: none;
    border: 1px solid $nuclear;
  }
}

.select-full-width {
  select {
    width: 100%;
    margin: modules(1) 0 0;
  }
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
  @include appearance(none);
  border: 1px solid transparent;
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=url],
input[type=tel],
input[type=search] {
  @include appearance(none);
  position: relative;
  z-index: 2;
  display: block;
  overflow: hidden;
  width: 100%;
  margin: modules(1) 0;
  padding: modules(0.5) 0;
  border: 1px solid transparent;
  border-bottom: 1px solid $form_border;
  background-color: transparent;
  color: $color_text;

  @include placeholder { color: $grey; }

  &:focus {
    outline: none;
    background-color: transparent;
    opacity: 1;
  }
}

.registration-select {

  label { top: modules(0.75); }

  select {
    @include linear-gradient($air_gray, $graySilver);
    position: relative;
    height: modules(2);
    margin: modules(2.25) 0 0;
    border: none;
    border-radius: $radius;
    box-shadow: none;
    background-color: $air_gray;
    color: $grey;

    &:focus {
      outline: none;
      box-shadow: inset 0 0 0 1px $grey;
    }
  }
}

.wrapper-session-login {
  position: relative;

  label { display: none; }
  input { padding: modules(0.5) modules(0.5) modules(0.5) modules(1); }

  i {
    position: absolute;
    top: modules(1.6);
    left: 0;
    z-index: 3;
    opacity: 0.6;
  }

  .error { z-index: 6; background-color: $red; }
}

button {
  @include appearance(none);
  width: 100%;
  border: 1px solid transparent;
}

.edit-customer-form {
  form {
    overflow: visible;
    width: 100%;
  }
}

.input-add-wristband {
  input { margin: modules(0.5) 0 0; }
}

.wristband-image {
  height: modules(5);
  margin: 1rem 0;

  @include min-screen($bp3) {
    height: modules(8);
  }
}

.disclaimer-gtag-text { margin: modules(0.25) 0; }

// ···
