// -------------------------------------------------------
//
// Base stylesheet for common elments
//
// -------------------------------------------------------

header { position: relative; }

.header-mobile {
  z-index: 3;
  display: block;
  box-shadow: 0 0 6px 2px $grey;

  h1 {
    @include mscale($base_font_size);
    display: inline-block;
    vertical-align: top;
    width: auto;
    margin-bottom: 0;
    padding: modules(0.5);
  }

  .open-nav {
    @include transition(right 350ms ease-in-out, opacity 350ms ease-in-out, width 350ms ease-in-out);
    position: absolute;
    right: 0;
    z-index: 8;
    width: 100%;
    height: modules(30);
    opacity: 1;

    a { opacity: 1; }
  }
}

.edit-customer-menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  @include min-screen($bp3) { display: none; }
}

.mobile-trigger {
  @include mscale($base_font_size * 2);
  position: absolute;
  top: 0;
  right: modules(0.5);
  z-index: 9;
  display: inline-block;
  vertical-align: top;
  width: auto;
  font-weight: 500;
  cursor: pointer;

  &:hover { opacity: 0.7; }
}

.mobile-options {
  @include transition(right 350ms ease-in-out, opacity 350ms ease-in-out, width 350ms ease-in-out);
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 5;
  display: block;
  overflow: hidden;
  width: 0%;
  height: 100%;
  background-color: $color_text;
  opacity: 0;

  ul { margin-top: 30%; }

  a {
    @include transition(opacity 500ms ease-in-out);
    @include mscale($base_font_size * 2);
    display: block;
    width: 100%;
    padding: modules(0.5);
    color: $nuclear;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
  }
}

.header-desktop {
  display: none;

  @include min-screen($bp3) {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    display: block;
  }
}

.header-nav {
  float: right;
  width: auto;

  li {
    @include mscale($base_font_size * 1.2);
    position: relative;
    display: inline-block;
    width: modules(2.5);
    height: modules(2.75);
    padding: modules(0.25);
  }
}

// ···
