// -------------------------------------------------------
//
// Payments style
//
// -------------------------------------------------------

$limegreen:                 #32cd32;
$tomato:                    #ff6347;
$braintree_border:          #777;
$stripe_border:             #999;

.controls,
.control-group {
  position: relative;
  overflow: hidden;
}

.controls {
  input[type=text] { margin: modules(0.5) 0; }
  label { top: modules(1); }
  .to-be-label { top: 0; }
}

.expiration-label {
  position: relative;
  top: 0;
  margin-bottom: modules(0.5);
}

.payment-expiration-year { margin-right: modules(0.5); }

.stripe-payment-form {
  .control-group { padding-top: modules(0.25); }
  .controls:first-child { margin-top: modules(0.25); }
}

.tipalti {
  width: 100%;
  height: modules(2);
}

.payment-errors {
  overflow: hidden;
  border-radius: $radius;
  background-color: $red;
  color: $nuclear;
  line-height: 3;
  text-align: center;
}

// Braintree
#braintree-payment-form {
  .controls:first-child { margin-top: modules(-0.5); }
}

#card-number,
#card-verification,
#expiration-month,
#expiration-year {
  height: 3rem;
  margin-top: 1rem;
  border-bottom: 1px solid $stripe_border;
  font-family: "Roboto", "Helvetica";
  font-size: 12px;
  font-weight: lighter;

  .braintree-hosted-fields-focused {
    border-color: $braintree_border;
  }

  .braintree-hosted-fields-invalid {
    border-color: $tomato;
  }

  .braintree-hosted-fields-valid {
    border-color: $limegreen;
  }
}

.expiration-month,
.expiration-year {
  display: inline-block;
  vertical-align: top;
}

.expiration-month {
  width: 47.5%;
  margin-right: 2.5%;
}

.expiration-year {
  width: 47.5%;
  margin-left: 2.5%;
 }

 // TODO Refactor: Use this function only on mobile
.payment-anchor-desktop {
  display: none;

  @include min-screen($bp3) { display: block; }
}

.payment-anhor-mobile {
  display: block;

  @include min-screen($bp3) { display: none; }
}

#paypal-activated-container {
  @include transition(max-height 183ms ease-in-out, opacity 183ms ease-in-out);
  overflow: hidden;
  max-height: 0;
  opacity: 0;

  &.display-paypal {
    overflow: visible;
    height: auto;
    max-height: modules(40);
    opacity: 1;
  }
}

// Wirecard, sofort, ideal buttons
.btn-payment-font {
  font-size: modules(1);
  padding-top: 0.5rem !important;
}