// -------------------------------------------------------
//
// Styles for the login and sign up forms
//
// -------------------------------------------------------

// Login wrapper

$border_with_opacity:     rgba(255, 255, 255, 1);

.wrapper-session {
  position: relative;
  padding: modules(1);

  h3 {
    margin-bottom: 0;
    text-transform: uppercase;
  }

  input[type=text],
  input[type=password],
  input[type=email],
  input[type=number],
  input[type=url],
  input[type=tel],
  input[type=search] {
    margin-bottom: 0;
  }

  select {
    @include linear-gradient($air_gray, $graySilver);
    margin-bottom: 0;
    height: modules(2);
    background-color: $air_gray;

    &:focus {
      outline: none;
      border: 1px solid $nuclear;
    }
  }

  .error_notification {
    border-radius: $radius;
    margin: modules(0.5);
    padding: modules(0.5);
  }
}

.wrapper-forgot-password {
  label {
    top: modules(0.25);
    color: $grey;
  }
}

.login-form {

  form { overflow: visible; }
}

.session-form {
  overflow: visible;
  padding: modules(1) 0;

  label {
    position: relative;
    top: 0;
  }

  .input { overflow: visible; }
}

// Inputs and selects

.session-select {
  position: relative;
  display: block;
  width: 100%;
  height: modules(2);
  margin-bottom: modules(1);
  padding: modules(0.5);
  border: none;
  border-radius: $radius;
  box-shadow: none;

  &:focus {
    outline: none;
    border: 1px solid $grey;
    opacity: 1;
  }
}

// ------- REMEMBER ME -------
.required {
  label:before {
    content: "*";
    display: inline-block;
    padding-right: modules(0.25);
    font-weight: bold;
  }
}

.sessions-shared-login {
  clear: both;
  padding-bottom: modules(1);
  text-align: center;

  a {
    display: block;
    text-decoration: underline;

    figure {
      display: inline-block;
      padding-right: modules(0.25);
    }

    &:hover,
    &:focus {
      outline: none;
      text-decoration: none;
    }
  }

  .highlight-text { padding-bottom: modules(1); }
}

.session-remember-me {
  display: inline-block;
  margin-right: modules(0.25);
}

// -------- ACCEPT TERMS -------

.session-accept-terms {
  display: block;
  overflow: hidden;
  padding: modules(1) 0 0;
  text-align: center;
  text-transform: none;

  .input {
    overflow: visible;
    padding-bottom: 0;
  }

  label {
    position: relative;
    top: 0;
  }

  a {
    color: $color_text;

    &:hover,
    &:focus {
      outline: none;
      text-decoration: underline;
    }
  }
}

.customer-agreed-on-registration {
  text-align: center;

  input { margin-right: modules(0.25); }

  label {
    color: $color_text;
    font-weight: normal;
    text-transform: none;
  }

  a:hover { text-decoration: underline; }
}

// -------- DISCLAIMER -------

.container-disclaimer {
  @include mscale($small_text);
  position: relative;
  overflow: visible;
  width: 100%;
  padding: modules(0.5);
  text-align: center;

  @include min-screen($bp4) {
    @include animation(loadFadeIn);
    @include animation-duration(300ms);
    @include animation-timing-function(linear);
    @include outer-container(40%);
    margin-bottom: modules(2);
    height: auto;
    border-radius: $radius;
  }
}

.wrapper-disclaimer {
  margin-bottom: modules(0.5);

  &:last-child { margin-bottom: 0; }
}

.wrapper-captcha {
  position: relative;
  padding-bottom: modules(1);

  .to-be-label { color: $nuclear; }
}

.captcha-error {
  display: block;
  width: modules(12.75);
  margin: 0 auto;

  @include min-screen($bp3) { width: modules(13.5); }
}

// ···
