body { background-color: #e2e2e2; }

// Mobile header
.mobile-event-name,
.header-mobile a,
.header-mobile h1,
.header-mobile i,
// Buttons
.btn-action,
.btn-action-enter,
.btn-action-register,
.btn-desktop-customer i,
.btn-action-secondary:hover,
.btn-action-primary:hover,
input[type=submit] { color: $snow; }

// HEADER
.header-desktop h1 a,
// Default
h3,
.to-be-label,
.credential-types label,
// Modules
.container-event-column h3,
.store-module-title,
// Buttons
.btn-action-secondary,
.btn-action-back,
// Language selected
.container-language .selected,
// Login, register
.wrapper-terms h2,
.wrapper-terms h3,
.wrapper-terms a,
.customer-agreed-on-registration a,
.separator,
.wrapper-redirect-sessions a,
.wrapper-acceppt-paypal-terms a { color: $magenta; }

// HEADER-MOBILE
.header-mobile,
// Buttons
.btn-action,
.btn-action-enter,
.btn-action-register,
.btn-desktop-customer,
.btn-action-secondary:hover,
.btn-action-empty-state:hover,
.btn-action-primary:hover { background-color: $magenta; }

// Wrapper module styles
.wrapper-module,
.wrapper-module-centered { box-shadow: inset 0 -1px 0 0 rgba(150, 150, 150, 0.35); }

.add-bottom-shadow { box-shadow: inset 0 -1px 0 0 $light_grey !important; }

// Buttons
.btn-action,
.btn-action-primary,
.btn-action-back,
.btn-action-empty-state { box-shadow: inset 0 0 0 2px $magenta; }

// Login and sign up styles
.customer_remember_me label,
.sessions-shared-login a,
.customer_agreed_on_registration label { color: $color_text; }

// Main wrapper background color and border
.container-event-column { background-color: rgba(255, 255, 255, 1); }
.container-event-column { box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
.btn-action-secondary { background-color: transparent; }

.btn:after,
.btn-desktop-customer:after { box-shadow: 0 0 0 2px $magenta; }

.current-breadcrumb { box-shadow: inset 0 0 0 1px $magenta; }

#card-number.braintree-hosted-fields-focused,
#card-verification.braintree-hosted-fields-focused,
#expiration-month.braintree-hosted-fields-focused,
#expiration-year.braintree-hosted-fields-focused { border-color: $magenta; }

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=url],
input[type=tel],
input[type=search] { &:focus { border-bottom: 1px solid $magenta; } }

footer { background-color: transparent; }

// ···
