// -------------------------------------------------------
//
// Include all the elements and classes that user can customize
//
// -------------------------------------------------------

// COLORS:

// Header
$glwnt_header:        #212738;
// Pink
$default:             #ff0090;
// Sonar red
$sonar:               #e51513;
// Grays
$snow:                #fff;
$air_gray:            #f2f2f2;
$background-color:    #2c2c2c;
$dark:                #2e2e2e;
// Succes
$succes:              #00cd00;

// SIZES:
$disclaimer:             $base_font_size * 0.78;
$half_text:              $base_font_size * 1.5;
$double_text:            $base-font-size * 2;
$triple_text:            $base-font-size * 3;
$highlight-tittle:       $base-font-size * 3.5;

// IMAGES:

$background-image: image-url("background.jpg");

// BACKGROUND:

body {
  width: 100%;
  color: $color_text;
  background-attachment: fixed;
}

.fixed-background {
  @include min-screen($bp6) { background-size: 100% 100%; }
}


// ···
