// -------------------------------------------------------
//
// TOPUP application styles
//
// -------------------------------------------------------

//  CHECKOUTS CREDITS BUTTON

.product-amount {
  @include mscale($half_text);
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  text-align: center;

  input[type=number] {
    @include appearance(none);
    padding: 0;
    border: none;
    box-shadow: none;
    background-color: transparent;

    &:focus {
      border: none;
      box-shadow: none;
    }
  }
}

.minus-button,
.amount-input,
.plus-button {
  display: inline-block;
  vertical-align: top;
}

.minus-button,
.plus-button { width: 25%; }

.minus-button { text-align: left; }

.plus-button { text-align: right; }

.wrapper-credits-total {
  @include appearance(none);
  @include mscale($double_text);
  display: inline-block;
  float: none;
  overflow: visible;
  width: 50%;
  margin: 0 auto;
  border: none;
  background-color: transparent;
  font-weight: bold;
  text-align: center;

  @include min-screen($bp3) { @include mscale($triple_text); }
  input {margin: 0; }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  .amount-input { text-align: center; }

  &:focus { outline: none; }
}

.top-up-amount {
  @include mscale($label_size);
  font-weight: bold;
  text-align: center;

  span {
    padding-left: modules(0.10);
  }
}

.amount-button {
  @include transition(opacity 83ms linear);
  @include user-select(none);
  display: block;
  width: modules(1.75);
  height: modules(1.75);
  padding-top: modules(0.45);
  border-radius: 50px;
  box-shadow: inset 0 0 0 1px $color_text;
  text-align: center;
  cursor: pointer;

  @include min-screen($bp2) {
    padding-top: modules(0.75);
    width: modules(2.5);
    height: modules(2.5);
  }

  &:hover { opacity: 0.5; }
}

.product-name { margin-bottom: modules(0.25); }

.credit-total {
  padding-top: modules(0.5);
  box-shadow: inset 0 1px 0 0 $black;

  h3,
  .top-up-amount {
    display: inline-block;
    width: 50%;
  }
}

.wrapper-payment-error { padding: modules(1) 0; }

.wrapper-secure-payment {
  text-align: center;

  @include min-screen($bp2) {
    float: left;
    text-align: left;
  }

  p { margin: modules(0.5) 0; }
  img { height: modules(1.5); }
}

// _______ CREDIT CARDS ICONS _______

#siteseal { padding-left: modules(0.5); }

.wrapper-ccs i {
  @include mscale($double_text);
}

.icon-ccs {
  display: inline-block;
  vertical-align: top;
  margin: 0 modules(0.25);

  &:first-child { margin-left: 0; }
}

.bank-page-alert {
  padding: modules(0.5) 0;
  text-align: center;

  @include min-screen($bp3) {
    margin-bottom: modules(0.5);
    text-align: right;
  }
}

// --------- PRODUCTS ----------

.container-customer-product {
  padding: modules(0.5) 0;
  box-shadow: inset 0 -1px 0 0 lighten($light_grey, 17%);

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    margin: 0;
    padding-bottom: 0;
    box-shadow: none;
  }
}

.wrapper-customer-product,
.wrapper-customer-amount {
  display: inline-block;
  vertical-align: top;
}

.wrapper-customer-product { width: 80%; }

.wrapper-customer-amount {
  @include linear-gradient($air_gray, $graySilver);
  display: inline-block;
  vertical-align: top;
  width: 20%;
  height: modules(1.5);
  margin-bottom: 0;
  background-color: $air_gray;
  text-align: right;

  &:focus {
    outline: none;
    border: 1px solid $nuclear;
  }
}

// ···
