// -------------------------------------------------------
//
//  Wrappers for login an register views
//
// -------------------------------------------------------

.container-welcome-logo {
  margin: modules(1) auto;

  @include min-screen($bp3) { margin: modules(2) auto modules(1); }
}

.wrapper-create-account {
  display: block;
  text-align: center;

  @include min-screen($bp3) { display: none; }
}

// Redirect to logn register link
.wrapper-redirect-sessions {
  padding-top: modules(1);

  p,
  a { display: inline-block; }

  p { margin-bottom: modules(0.5); }
  a {
    padding-left: modules(0.25);
    text-decoration: underline;

    &:hover { text-decoration: none; }
  }
}

// TERMS AND CONDITIONS

.wrapper-terms {
  padding: modules(1);

  p {
    @include min-screen($bp3) { line-height: 1.5; }
  }
  h3 { margin-top: modules(1); }
  h2,
  h3 { @include mscale($base_font_size); }
  ul {
    padding: 0 modules(0.5) 0 modules(0.5);
    li{
      padding-bottom: modules(0.25);
    }
  }
}

// ···

// The centered container that contains all the account info
.container-event-login {
  position: relative;
  z-index: 1;
  overflow: visible;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  padding: 2rem 0;

  @include min-screen($bp4) {
    flex-direction: row;
    @include animation(loadFadeIn);
    @include animation-duration(300ms);
    @include animation-timing-function(linear);
    @include outer-container(40%);
    height: auto;
    border-radius: $radius;
    margin-bottom: modules(1);
  }

  @include min-screen($bp6) { max-width: modules(35); }

  .success-message {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input[type=text],
  input[type=password],
  input[type=email],
  input[type=number],
  input[type=url],
  input[type=tel],
  input[type=search] {
    margin: .4rem 0;
  }

  .wrapper-session-login i {
      top: 1.4rem;
  }

  .btn-action-enter {
    height: auto;
    width: 100%;
    margin: 2rem auto 0;
    padding: .6rem 0!important;
  }

  .btn-action-register {
    height: auto;
    width: 100%;
    margin: 0.8rem auto 0;
    padding: .6rem 0!important;
  }
}

.social-login, .traditional-login {
  flex: 2;
  padding: 0 1.6rem;
}

.social-login {
  flex: 1.3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.6rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid #CCC;

  @include min-screen($bp4) {
    border: 0;
    padding: 0 2rem 0 1.6rem;
    border-right: 1px solid #CCC;
  }
}
