// -------------------------------------------------------
//
// Base application styles
//
// -------------------------------------------------------


// BREADCRUMBS
.wrapper-breadcrumbs {
  display: none;
  vertical-align: middle;
  padding-top: modules(0.10);

  a {
    padding: 0 modules(0.25);
    border-radius: $radius;
  }

  //@include min-screen($bp3) { display: inline-block; }
}

// Breadcrumbs links separator
.separator { padding: 0 modules(0.25); }

// Event logo styles and root link
.container-event-logo {
  display: none;
  padding: 0 4rem;

  @include min-screen($bp3) {
    display: block;
    height: modules(6);
    margin: 0 auto;
    padding: 0;
    width: 50%;
  }
}

.logo {
  @include mscale($base_font_size);
  display: block;
  overflow: hidden;
  width: 100%;
  margin-bottom: 0;
  text-align: center;

  a {
    @include transition(opacity 150ms ease-in);
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;

    &:hover,
    &:focus { outline: none; opacity: 0.7; }
  }

  img {
    display: inline-block;
    width: auto;
    max-height: modules(4);
    margin: 0 auto;
    padding: modules(0.5) 1rem;
    max-width: 100%;

    @include min-screen($bp3) {
      max-height: modules(6);
      padding: modules(1) 0;
    }
  }
}

// The centered container that contains all the account info
.container-event-column {
  position: relative;
  z-index: 1;
  overflow: visible;
  width: 100%;

  @include min-screen($bp4) {
    @include animation(loadFadeIn);
    @include animation-duration(300ms);
    @include animation-timing-function(linear);
    @include outer-container(40%);
    height: auto;
    border-radius: $radius;
    margin-bottom: modules(1);
  }

  @include min-screen($bp6) { max-width: modules(23); }

  .success-message {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

// Each section inside the main column

.wrapper-module,
.wrapper-module-centered,
.wrapper-module-restriction {
  position: relative;
  overflow: visible;
  width: 100%;
  padding: modules(1) modules(0.5);

  @include min-screen($bp3) { padding: modules(1); }

  h3 {
    text-transform: uppercase;
    margin-bottom: modules(0.5);
  }

  &:last-child { box-shadow: none; }
}

.wrapper-module {

  h3 {
    padding-right: modules(5);
    text-transform: uppercase;

    @include min-screen($bp3) { padding-right: 0; }
  }
}

.form-module { padding: 0; }

.module-refunds {
  .panel-amount-number {
    margin-bottom: modules(1);

    &:after { content: ""; }
  }
}

.container-method {
  @include transition(max-height 180ms ease-in-out, opacity 220ms ease-in-out);
  overflow: hidden;
  max-height: 0;
  padding: 0;
  opacity: 0;

  h3 {
    margin-bottom: modules(2);
    padding-right: 0;

    @include min-screen($bp3) { margin-bottom: modules(1); }
  }

  &.show-container { max-height: 80rem; opacity: 1; }
}

.container-auto-topup {
  position: relative;

  p { line-height: 1.5; }

  select {
    width: 40%;
    margin: 0 auto modules(1);
  }
}

.wrapper-module-centered {
  text-align: center;

  @include min-screen($bp3) { padding: modules(1) modules(2.75); }
  @include min-screen($bp5) { padding: modules(1) modules(3.75); }
  @include min-screen($bp6) { padding: modules(1) modules(4.5); }

  .highlight-text { padding-bottom: modules(1); }
}

.wrapper-claim {
  padding: modules(1) modules(0.5);

  @include min-screen($bp3) { padding: modules(1); }
}

.wrapper-module-restriction {
  padding: modules(2) modules(0.5);
  text-align: center;

  @include min-screen($bp4) { padding: modules(2); }
}

// Wrapper with styles for the Payapal agreement saved account

.wrapper-saved-agreement {
  padding: modules(0.75) 0;
  box-shadow: inset 0 -1px 0 0 lighten($light_grey, 23%), inset 0 1px 0 0 lighten($light_grey, 23%);
  text-align: center;

  .bold-text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 modules(0.25);
  }
}

.saved-agreement-logo,
.saved-agreement-mail {
  display: inline-block;
  vertical-align: middle;
}

.saved-agreement-logo {
  width: auto;
  height: modules(0.75);
}

.saved-agreement-mail {
  @include mscale($base_font_size * 0.9);
  color: lighten($grey, 9%);
}

// ···
