- breadcrumb :admins_online_product, @online_product
- provide :actions do
  = link_to t("actions.back"), admins_online_products_path, class: "btn btn-action btn-action-back"

= render "form", online_product: @online_product