.current-showing = t('helpers.page_entries_info.more_pages.display_entries_small', count: @list_model_presenter.current_items, total: @list_model_presenter.count)
table.accesses
  thead
    tr
      th.table-sorter-field #
      th = t('admin.stations.name')
      th = t('admin.stations.items')
      th.table-actions-field = t('admin.defaults.actions')
  tbody.sortable
    - stations.each do |station|
      tr data-id="#{station.id}"
        td.table-sorter-field
          span.handler = fa_icon('bars')
        td data-label=t('admin.stations.name')
          = link_to station.name, admins_event_station_station_products_path(current_event, station)
        td data-label=t('admin.stations.items') = StationProduct.joins(station_parameter: :station).where(station_parameters: { station_id: station.id } ).count
        td.table-actions-field = render 'admins/events/point_of_sale_stations/actions', station: station

javascript:
  function setPositions() {
    $('.sortable tr').each(function(i){
      $(this).attr("data-pos", i + 1);
    });
  }

  function sortList() {
    setPositions();

    $('.sortable').sortable({
      handle: 'span.handler',
      items: 'tr' ,
      placeholder: '<tr><td colspan="4" class="sortable-placeholder">&nbsp;</td></tr>'
    });

    $('.sortable').sortable().bind('sortupdate', function(e, ui) {
      updated_order = []
      setPositions();
      $('.sortable tr').each(function(i) {
        updated_order.push({ id: $(this).data("id"), position: i + 1 });
      });

      $.ajax({
        type: "PUT",
        url: "#{sort_admins_event_stations_path(current_event)}",
        data: { order: updated_order }
      });
    });
  }
  
  $(document).ready(sortList);
  $(document).on('page:load', sortList);
