ul
  li.table-action.action-delete = link_to admins_event_station_station_product_path(current_event, @station, station_product), method: :delete, data: { confirm: t('admin.confirm.delete') } do
    = fa_icon "trash"