<a href="http://www.glownet.com">www.glownet.com</a>

<ol>
	<li><b>INTRODUCTION</b>
<ol>
	<li style="text-align: left;"><span style="font-weight: 400;">This privacy policy (we’ll refer to it as the </span><b>Privacy Policy</b><span style="font-weight: 400;">) sets out important information about the ways in which Glownet Limited (</span><b>we, us </b><span style="font-weight: 400;">or</span><b> our</b><span style="font-weight: 400;">) collect and use your information when you browse our site </span><a href="http://www.glownet.com"><span style="font-weight: 400;">www.glownet.com</span></a><span style="font-weight: 400;">, or any other sites or apps operated by us (we’ll refer to them as our </span><b>platforms </b><span style="font-weight: 400;">for short) or use any of our services (the </span><b>Services</b><span style="font-weight: 400;">), such as our RFID technology which facilitates access control and cashless payments at festivals or events (let’s call them </span><b>Events</b><span style="font-weight: 400;">).</span></li>

	<li style="text-align: left;"><span style="font-weight: 400;">In this Privacy Policy, when we refer to </span><b>you</b><span style="font-weight: 400;"> and </span><b>your</b><span style="font-weight: 400;"> we mean you, the person using or visiting our platforms or using our Services.</span></li>
	<li style="text-align: left;"><span style="font-weight: 400;">If you are under the age of 18, please make sure that a parent or legal guardian (“</span><b>Your Adult</b><span style="font-weight: 400;">”) reads this Privacy Policy and explain any bits to you that you don’t understand. You must be at least 13 years of age and have Your Adult’s permission to use our platforms and Services and unfortunately only Your Adult can set up accounts with us. </span></li>
	<li style="text-align: left;"><span style="font-weight: 400;">Please read this Privacy Policy carefully to understand how we use and protect the personal information that you provide to us. By visiting our platforms, using our Services or otherwise interacting with us, you consent to our processing of your personal data in accordance with this Privacy Policy.</span></li>
</ol>
</li>
	<li style="text-align: left;"><b>WHO WE ARE</b>
<ol>
	<li style="text-align: left;">We are Glownet Limited, a company registered in England with registered no. 08245670 with registered offices at Unit 2, 9 Dennington Park Rd, London, NW6.</li>
	<li style="text-align: left;"><span style="font-weight: 400;">If you have any queries about this Privacy Policy, or would like to contact us for any reason, please do so using the following details:</span>
<ul>
	<li style="text-align: left;"><strong>Address</strong>: Unit 2, 9 Dennington Park Rd, London, NW6 1BB.</li>
	<li style="text-align: left;"><strong>Email</strong>: support@glownet.com</li>
</ul>
</li>
</ol>
</li>
	<li style="text-align: left;"><b>INFORMATION WE MAY COLLECT ABOUT YOU</b>
<ol>
	<li style="text-align: left;"><strong>Information you give us</strong>
<ol>
	<li style="text-align: left;">We will collect any information that you provide to us when you contact us via email, telephone, mail or via our platforms. This information may include your name, email address, password, Events you plan to attend and RFID wristband or Event identification numbers which will be used for providing the Services to you.</li>
</ol>
</li>
	<li style="text-align: left;"><b>Information we collect about you</b>
<ol>
	<li style="text-align: left;"><span style="font-weight: 400;">We will collect any information contained in any correspondence between you and us. For example, if you contact us, we may keep a record of that correspondence.  We may also ask you for information when you report a problem with any of our platforms.</span></li>
	<li style="text-align: left;">We may also collect certain information about your visits to our platforms and how you use them, this will include platforms operated by us which are used by third party Event organisers to manage Event registration and distribution of our RFID wristbands. The information we may collect may include your Internet Protocol (IP) address, geographical location, characteristics and information about your device, browser type, referral source, length of visit, operating system, number of page views, what you have viewed or searched for on our platforms and similar information. This information may be collected by a third party website analytics service provider on our behalf and/or may be collected using cookies. For more information on cookies please refer to paragraph 6 below.</li>
	<li style="text-align: left;"><span style="font-weight: 400;">We will also collect certain information about your engagement at Events when you use our RFID wristbands such as the vendors from whom you have completed a purchase or the gates where you entered the event. </span></li>
</ol>
</li>
	<li style="text-align: left;"><b>Information we may receive from third parties</b>
<ol>
	<li style="text-align: left;"><span style="font-weight: 400;">We may also receive information about you from third parties that we work closely with or partner with for the purposes of particular Events. For example, if you register for an Event with an organiser that is using our RFID technology (through a third party such as a ticketing company), we may receive the information that you provide to them in order to provide you with our Services in connection with that Event. This may include your name, email address, ticket type and unique ticket identification number. </span></li>
	<li style="text-align: left;"><span style="font-weight: 400;">We may also receive information about you from third party social network platforms such as Facebook if you use your social network account to register with us via one of our platforms. For example, if you register with us using a Facebook account, Facebook will share with us your ID, name, last name, email, location, friends list and profile picture. </span></li>
</ol>
</li>
</ol>
</li>
	<li style="text-align: left;"><b>HOW WE USE YOUR INFORMATION</b>
<ol>
	<li style="text-align: left;"><span style="font-weight: 400;">We collect and use your information only in a manner that is consistent with this Privacy Policy. In addition to the specific uses that we have explained in paragraph 3 above, you agree that we may use your information for the following purposes:</span>
<ol>
	<li style="text-align: left;"><span style="font-weight: 400;">to provide you with access to our platforms and to ensure that content on our platforms is presented in the most effective manner;</span></li>
	<li style="text-align: left;">to provide you with our Services (such as our RFID wristbands and technology) and to monitor your use of such Services;</li>
	<li style="text-align: left;">to keep in contact with you about our platforms and Services, or other services of ours that we believe might be of interest to you, provided that we do so in accordance with your marketing preferences;</li>
	<li style="text-align: left;">to provide customer service support in relation to your use of the platforms and Services, to contact you, to deal with enquiries and complaints relating to the use of the platforms and/or Services and to notify you about any changes to the same;</li>
	<li style="text-align: left;">to develop and improve the platforms and Services and to identify or address errors or wrongdoing;</li>
	<li style="text-align: left;">to carry out aggregated and anonymised research and analytics about engagement with our platforms and Services;</li>
	<li style="text-align: left;">to provide third parties with statistical information about our users provided that this information cannot be used to identify any individual;</li>
	<li style="text-align: left;">to enable us to enforce our legal rights, or to protect the rights, property or safety of our employees; and</li>
	<li style="text-align: left;">for security purposes.</li>
</ol>
</li>
</ol>
</li>
	<li style="text-align: left;"><b>HOW WE DISCLOSE AND SHARE YOUR INFORMATION</b>
<ol>
	<li style="text-align: left;"><span style="font-weight: 400;">Other than as expressly set out in this Privacy Policy or as otherwise required or permitted by law, we will not share, sell or distribute any of the information you provide to us without your consent.</span></li>
	<li style="text-align: left;"><span style="font-weight: 400;">You agree that we can share your information with:</span>
<ol>
	<li style="text-align: left;"><span style="font-weight: 400;">any parent company, subsidiary, affiliate and/or third party to whom disclosure is necessary to enable us to provide you with the platforms or our Services that you have requested either via a platform or via a third party such as the organiser of an Event you are attending. For example:</span>
<ol>
	<li style="text-align: left;"><span style="font-weight: 400;">we may share your information with service providers that help us to perform certain functions such as marketing agencies, email service providers and hosting providers;</span></li>
	<li style="text-align: left;"><span style="font-weight: 400;">we use a third party payment service provider to process payments made using our RFID technology and will share your information with them to process your payments and/or refunds; and</span></li>
	<li style="text-align: left;"><span style="font-weight: 400;">we may share your information with organisers of Events that you are registering to attend via our platforms; </span></li>
</ol>
</li>
	<li style="text-align: left;"><span style="font-weight: 400;">any other selected third party that you consent to our sharing your information with for marketing purposes;</span></li>
	<li style="text-align: left;"><span style="font-weight: 400;">any prospective seller or buyer of our business or assets (in the event that we decide to sell or buy any business or assets); and</span></li>
	<li style="text-align: left;">any person to whom disclosure is necessary to enable us to enforce our legal rights, or to protect the rights, property or safety of our employees or where such disclosure may be permitted or required by law (including without limitation to any court, regulator or other relevant authority).</li>
</ol>
</li>
</ol>
</li>
	<li style="text-align: left;"><b>COOKIES</b>
<ol>
	<li style="text-align: left;">We use cookies to ensure that you get the most out of our platforms. Cookies are small amounts of information in the form of text files which we store on the device you use to access our platforms and/or Services. Cookies allow us to monitor your use of the software and simplify your use of our platforms. For example, a temporary cookie is also used to keep track of your "session". Without that temporary cookie (which is not stor<span style="font-weight: 400;">ed after you quit your browser) you would have to log on every time you access a new page.</span></li>
	<li style="text-align: left;">If you do not wish for cookies to be installed on your device, you can change the settings on your browser or device to reject cookies. For more information about how to reject cookies using your internet browser settings please consult the “Help” section of your internet browser (or alternatively visit http://www.aboutcookies.org). Please note that, if you do set your Internet browser to reject cookies, you may not be able to access all of the functions of the site and your experience may be less satisfying without using cookies.</li>
	<li style="text-align: left;">The names of the cookies used by our platforms and the purposes for which these cookies are used are set out in the table below:</li>
</ol>
</li>
</ol>
<table>
<tbody>
<tr>
<td><span style="font-weight: 400;">Cookie Name</span></td>
<td><span style="font-weight: 400;">Purpose</span></td>
<td><span style="font-weight: 400;">Type</span></td>
<td><span style="font-weight: 400;">Duration</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">_ga</span></td>
<td><span style="font-weight: 400;">Performanc</span></td>
<td><span style="font-weight: 400;">First party (glownet.com)</span></td>
<td><span style="font-weight: 400;">730 days</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">_gat</span></td>
<td><span style="font-weight: 400;">Performance</span></td>
<td><span style="font-weight: 400;">First party (glownet.com)</span></td>
<td><span style="font-weight: 400;">1 day</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">_glownet_web_session</span></td>
<td><span style="font-weight: 400;">Performance</span></td>
<td><span style="font-weight: 400;">First party (glownet.com)</span></td>
<td><span style="font-weight: 400;">Temporary</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">APISID</span></td>
<td><span style="font-weight: 400;">Targeting/Advertising</span></td>
<td><span style="font-weight: 400;">Third party (google.com)</span></td>
<td><span style="font-weight: 400;">975 days</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">SSID</span></td>
<td><span style="font-weight: 400;">Targeting/Advertising</span></td>
<td><span style="font-weight: 400;">Third party (google.com)</span></td>
<td><span style="font-weight: 400;">975 days</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">NID</span></td>
<td><span style="font-weight: 400;">Targeting/Advertising</span></td>
<td><span style="font-weight: 400;">Third party (google.com)</span></td>
<td><span style="font-weight: 400;">428 days</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">SID</span></td>
<td><span style="font-weight: 400;">Targeting/Advertising</span></td>
<td><span style="font-weight: 400;">Third party (google.com)</span></td>
<td><span style="font-weight: 400;">975 days</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">SAPISID</span></td>
<td><span style="font-weight: 400;">Targeting/Advertising</span></td>
<td><span style="font-weight: 400;">Third party (google.com)</span></td>
<td><span style="font-weight: 400;">975 days</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">HSID</span></td>
<td><span style="font-weight: 400;">Targeting/Advertising</span></td>
<td><span style="font-weight: 400;">Third party (google.com)</span></td>
<td><span style="font-weight: 400;">975 days</span></td>
</tr>
<tr>
<td><span style="font-weight: 400;">JSESSIONID</span></td>
<td><span style="font-weight: 400;">Performance </span></td>
<td><span style="font-weight: 400;">.nr-data.net</span></td>
<td><span style="font-weight: 400;">Temporary</span></td>
</tr>
</tbody>
</table>
<ol>
	<li style="text-align: left;"><b>THIRD PARTY CONTENT AND CONTRIBUTORS</b>
<ol>
	<li style="text-align: left;"><span style="font-weight: 400;">Our platforms may contain content and links to other sites, microsites and/or platforms that are operated by third parties. In addition, advertisements contained on our platforms may operate as links to that advertiser’s website, and such advertisers and third parties may also use and place cookies on your computer.</span></li>
	<li style="text-align: left;"><span style="font-weight: 400;">We do not control these third party websites, advertisements and cookies and this Privacy Policy does not apply to them. Any information that such third parties collect by virtue of you clicking on a third party link on our platforms will be collected and used in accordance with the privacy policy of that third party. Please therefore consult the terms and conditions and privacy policy of those third party websites and microsites to find out how they collect and use your personal data and to establish whether and for what purpose they use cookies.</span></li>
</ol>
</li>
	<li style="text-align: left;"><b>HOW WE LOOK AFTER YOUR INFORMATION AND HOW LONG WE KEEP IT FOR</b>
<ol>
	<li style="text-align: left;"><span style="font-weight: 400;">We use appropriate technological and operational security measures to protect against any unauthorised access to or any unlawful processing of any personal information about you that we hold. We will retain your information for as long as is necessary to provide you with access to our platforms and/or Services that you have requested from us or for a reasonable period or as long as the law otherwise permits.</span></li>
	<li style="text-align: left;"><span style="font-weight: 400;">Data transmission over the internet is inherently insecure, and although we employ appropriate technological and organisational security measures to protect your data from unauthorised access we cannot guarantee the security of any data sent over the internet. Therefore please take special care in deciding what information you send to us.</span></li>
</ol>
</li>
	<li style="text-align: left;"><b>WHERE WE STORE YOUR INFORMATION</b>
<ol>
	<li style="text-align: left;"><span style="font-weight: 400;">Our servers are currently located in </span><span style="font-weight: 400;">Ireland</span><span style="font-weight: 400;"> and all of the information that we collect about you will be stored on these servers. Note, we may use a third party service provider to host our information on our behalf.</span></li>
	<li style="text-align: left;">In certain circumstances your information may be processed outside of the European Economic Area (EEA) such as when we engage third parties based outside of the EEA to assist us in delivering the platforms or Services that you have requested from us. This might also include Event organisers based (or with servers based) outside of the EEA.</li>
	<li style="text-align: left;">In such circumstances, we will take all steps necessary to ensure that any information transferred outside of the EEA is adequately protected and processed in accordance with this Privacy Policy. You consent to this transfer and processing of your information.</li>
</ol>
</li>
	<li style="text-align: left;"><b>YOUR RIGHTS</b>
<ol>
	<li style="text-align: left;"><span style="font-weight: 400;">You have certain rights in respect of the information that we hold about you, including:</span>
<ol>
	<li style="text-align: left;"><span style="font-weight: 400;">the right to ask us to make changes to the information we hold about you to ensure that it is accurate and kept up to date;</span></li>
	<li style="text-align: left;"><span style="font-weight: 400;">the right to ask us not to process your personal data for marketing purposes; </span></li>
	<li style="text-align: left;"><span style="font-weight: 400;">the right to request access to the information that we hold about you; and </span></li>
	<li style="text-align: left;"><span style="font-weight: 400;">in certain circumstances, the right to request that we delete certain information that we hold about you.</span></li>
</ol>
</li>
	<li style="text-align: left;">You may exercise the rights set out in paragraph 10.1 above by contacting us using the details in paragraph 2 of this Privacy Policy, or in the case of preventing processing for marketing activities also by checking certain boxes on forms that we use to collect your data to tell us that you don’t want to be involved in marketing.</li>
</ol>
</li>
	<li style="text-align: left;"><b>CHANGES TO THIS PRIVACY POLICY</b>
<ol>
	<li style="text-align: left;"><span style="font-weight: 400;">We reserve the right to make changes to this Privacy Policy from time to time. Any such changes to our Privacy Policy will be posted to our platforms and if we consider it to be appropriate we will notify you of any material changes by e-mail. Any changes will come into effect the next time you engage with us after the changes have been notified.</span></li>
</ol>
</li>
</ol>