.panel-card-wide.mdl-card.mdl-shadow--2dp
  .mdl-card__title
    h3 GLOWNET - PRIVACY POLICY
  .mdl-card__supporting-text
    ul
      li style=("list-style: none; display: block")
        p Vielen Dank für Ihr Interesse an unserer Handhabung Ihrer Daten. 
        p 
          |Es ist zu jeder Zeit das Ziel der Glownet Limited, registriert unter der Nummer 
          |08245670 und der Adresse Unit 2, 9 Dennington Park Rd, London, NW6 1BB, UK 
          |(wir, uns oder unser/e), Ihre Privatsphäre zu schützen. Wir sind ein 
          |Technologieservice-Provider, der Lösungen für bargeldlose Zahlungssysteme für 
          |Live-Veranstaltungen und Festivals über RFID Technologie anbietet. Wir
          br
          |verstehen uns als Experte im Bereich IT-Sicherheit. Daher hat der Schutz Ihrer 
          |persönlichen Daten für uns höchste Priorität. 
        p 
          |Im Rahmen dieser Datenschutzrichtlinien möchten wir Ihnen mehr Informationen 
          |über die Art und Weise zur Verfügung stellen, in der wir bei Ihrem Besuch unserer 
          |Webseite und/oder der Verwendung unserer Produkte und Dienstleistungen, 
          br
          |Daten erfassen, speichern, verwenden und übermitteln oder weitergeben. 
          br
          |Darüber hinaus werden wir auch erläutern, wie wir personenbezogene Daten, 
          |Cookies (siehe hierzu die detaillierte Erläuterung und Definition unten) und 
          |Analysetools auf unserer Webseite und im Zusammenhang mit unseren 
          br 
          |Produkten und Dienstleistungen verwenden. Wir geben Ihre Daten (dazu zählen 
          |auch personenbezogene Daten) nicht an Dritte weiter, wenn dies nicht auf eine
          br 
          |Art und Weise geschieht, die diesen Datenschutzrichtlinien oder 
          |Datenschutzgesetzen entspricht (unter Umständen müssen Sie dazu Ihre 
          |ausdrückliche Zustimmung erteilen). 
      li style=("list-style: none; display: block; font-weight: bold")
        |EINVERSTÄNDNISERKLÄRUNG
        br
        |DURCH DIE PRÜFUNG UND ANNAHME DIESER 
        br
        |DATENSCHUTZRICHTLINIEN UND DURCH DIE VERWENDUNG UNSERER
        br
        |PRODUKTE UND DIENSTLEISTUNGEN ERKLÄREN SIE SICH
        br
        |AUSDRÜCKLICH DAMIT EINVERSTANDEN, DASS WIR GEMÄSS DIESEN
        br
        |DATENSCHUTZRICHTLINIEN UNTER BEACHTUNG DER GRUNDSÄTZE DER
        br
        |DATENSPARSAMKEIT UND DER DATENVERMEIDUNG PERSONENBEZOGEN
        br
        |DATEN VON IHNEN ERHEBEN, NUTZEN, VERARBEITEN UND GEGEBENEN
        br
        |FALLS AN DRITTE ÜBERMITTELN BZW. WEITERLEITEN.
        p
        |EINE ERHEBUNG, NUTZUNG, VERARBEITUNG, ÜBERMITTLUNG ODER
        br
        |WEITERLEITUNG PERSONENBEZOGENER DATEN AUSSERHALB DIESER
        br
        |DATENSCHUTZRICHTLINIEN FINDET NICHT STATT.
      li style=("list-style: none; display: block")
        p
        |Ihre personenbezogenen Daten benötigen wir zur Angebots-, Vertrags- und 
        |Leistungsabwicklung. Darüber hinaus verwenden wir Ihre Daten zur
        br 
        |Durchführung einer bargeldlosen Zahlung, zur Überprüfung unserer 
        br
        |Leistungspflicht und zu Ihrer Beratung und Information. 
        p
        |Unser Dienst ermöglicht Ihnen den Zugang sowie die bargeldlose Bezahlung auf 
        |Veranstaltungen. Dafür werden die an uns von Ihnen übermittelten, persönlichen 
        |Daten (Name, Adresse, E-Mail, Guthaben) sowohl auf dem unserem Internet
        br
        |-Portal als auch auf dem Bezahlarmband mit RFID Technologie gespeichert. 
        br
        b Anlage 1 &nbsp;
        |enthält eine Darstellung, welche
        |Daten auf unserem Portal und welche Daten auf dem Bezahlarmband gespeichert sind. 
        p
        |Gegebenenfalls werden bestimmte Daten über Ihren Computer, Ihr Smartphone 
        |oder Ihren Tablet-PC (nachfolgend 
        b „Gerät“
        | bzw. 
        b “Geräte”
        |) und deren
        br
        |Zusammenspiel mit anderen Geräten erhoben, gespeichert und verwendet 
        |(nachfolgend 
        b “Datennutzung”
        |). Wenn Sie sich nach erfolgter Registrierung und 
        |Aktivierung Ihres Profils mit der dort hinterlegten E-Mailadresse an Event 
        |teilnehmen, wird Ihr Profil diesem Event zugeordnet, um Daten betreffend Ihres 
        |Guthabens und der Bezahlung auszutauschen, die für die Bereitstellung der 
        |Services dort erforderlich sind. Nach Bestätigung durch Sie werden Ihre aktuellen 
        |Daten (Name, E-Mail-/Kontaktadresse, Telefonnummer, Liste der Identifizierungs- 
        |Chips (RFID), Guthaben) aus dem Armband in ihr Profil übernommen, damit sie 
        br
        |die jeweiligen Funktionen nutzen können.
        p
        |Die Datennutzung betrifft unter anderem die Identifikationsnummer, die IP
        br
        |-Adresse, den Standort, Inhalte, Spracheinstellungen, die IMEI-Nummer, die
        br
        |Marke, das Modell, den Batteriestand, das Hardwaremodell, die  
        |Betriebssystemversion, die SIM-Nummer, den Netzwerkanbieter, den  
        |Arbeitsspeicherstatus und geografische Informationen auf Grundlage der GPS/Wi- 
        |Fi-Netzwerkposition Ihres Geräts bzw. Ihrer Geräte. Zusätzlich erheben wir auch 
        |Kontaktinformationen, die unter anderem Ihren Namen, Ihre Adresse, Ihre Telefonnummer, Ihre 
        |E-Mail-Adresse, Ihre Bankdaten für den Lastschrifteinzug 
        |(SEPA), Kreditkarteninformationen und andere Informationen einschließen, die zu Ihrer Identifizierung verwendet werden können. 
        p
        |Das bargeldlose Aufladen von Guthaben über das Internet erfolgt über externe 
        |Zahlungsservice-Provider (  
        a href="https://www.wirecard.com/privacy-protection/" target='_blank'
          |Wirecard 
        |& 
        a href="https://wiredlion.io/" target='_blank'
          |Wiredlion)
        |. Diese gewährleisten 
        |Datensicherheit nach dem PCI DSS Industrie-Standards ("Payment Card Industry 
        |Data Security Standard"). Nähere Hinweise finden Sie unter 
        |https://www.wirecard.com/privacy-protection/. 
        p
        |Das Aufladen von Guthaben auf der Veranstaltung erfolgt über den Veranstalter  
        |Helene Beach via Bargeld oder EC-karte. 
        p
        |Die bargeldlose Bezahlung auf der Veranstaltung erfolgt über die von uns zur 
        |Verfügung gestellte Technologie auf Rechnung des Veranstalters. Der 
        br
        |Veranstalter erfasst, speichert und verarbeitet die für die Bezahlung
        br  
        |notwendigen Daten (Name, Anschrift, Guthaben etc.). Sofern dies über unsere  
        |technischen Systeme erfolgt handeln wir im Auftrag des Veranstalters 
        |(Auftragsdatenverarbeitung - § 11 BDSG). 
      li
        h4 1. Einleitung
      li style=("list-style: none; display: inline")
        ul
          li
            |1.1. Diese Datenschutzrichtlinien stellen die Basis dar, auf der wir die 
            |personenbezogenen Daten verwenden, die wir von Ihnen erhalten, wenn 
            br
            |Bitte lesen Sie die folgenden Datenschutzrichtlinien sorgfältig 
            |durch, damit Sie wissen, wie wir Ihre uns gegenüber gemachten 
            |personenbezogenen Angaben verwenden und schützen. 
          li
            |1.2. Wenn Sie auf unserer Site surfen, stimmen Sie der Verwendung Ihrer 
            |personenbezogenen Daten in Übereinstimmung mit diesen 
            |Datenschutzrichtlinien zu. 
          li
            |1.3. Sind Sie unter 18 Jahre alt, müssen Sie sich von Ihren Eltern oder 
            |sonstigem gesetzlichen Vertreter ( 
            b „Erziehungsberechtigter“ 
            |) diese 
            |Datenschutzrichtlinie vorlesen und erklären lassen. Sie müssen 
            br
            |mindestens 13 Jahre alt sein und die Einwilligung ihres 
            |Erziehungsberechtigten zur Niutzung unserer Plattform und Leistungen 
            |einholen und sich ihren Nutzer-Account. 
        h4 2. Kontaktaufnahme mit uns
      li style=("list-style: none; display: block")
        ul
          li
            |2.1. Glownet Limited ist der Datenverantwortliche im Hinblick auf sämtliche 
            |personenbezogenen Daten, die Sie uns gegenüber abgeben oder die wir 
            |erfassen, wenn Sie unsere Site nutzen. Wir sind ein in England 
            br
            |registriertes Unternehmen, eingetragen unter der Registernummer 
            br
            |08245670 mit registriertem Firmensitz mit der Adresse Unit 2, 9
            br
            |Dennington Park Rd, London, NW6 1BB, UK. Für weitere Informationen 
            br
            |über uns besuchen Sie bitte unsere Site. 
          li 
            |2.2 Wenn Sie wissen möchten, welche Informationen wir über Sie erfasst und 
            |gespeichert haben, oder wenn Sie Fragen oder Beschwerden im 
            |Zusammenhang mit diesen Datenschutzrichtlinien oder mit unserer Site 
            |haben, erreichen Sie uns über folgende Kontaktdetails: 
            p 
            |Adresse: Unit 2, 9 Dennington Park Rd, London, NW6 1BB, UK
            p 
            |Email: support@glownet.com
        h4 3. 3. Informationen, die wir auf der Site über Sie erfassen
      li style=("list-style: none; display: inline")
        ul
          li 
            |3.1 Wir erfassen sämtliche Informationen, die Sie uns zur Verfügung stellen, 
            |wenn Sie uns via Email oder über unsere Site kontaktieren. Diese 
            |Informationen können Ihren Namen, E-Mail-Adresse, Passwort, 
            br
            |Bankdetails und Identifikationsnummern von Armband- oder 
            br
            |Festivalkarten umfassen, die verwendet werden, wenn wir Ihnen unsere 
            |Leistungen zur Verfügung stellen – inklusive der Bereitstellung eines 
            br
            |Zugangs für die Gelderstattung von einem Zahlungsservice-Provider an 
            br
            |Sie, der Kontaktaufnahme mit Ihnen zur weiteren Information über 
            br
            |unsere Leistungen oder eine Verbesserung unserer Site, sowie weiteres 
            |Feedback, das auf der/den Site/s von Glownet eingeführt wird. 
          li 
            |3.2	Wir erfassen sämtliche in der Korrespondenz zwischen Ihnen und uns 
            |enthaltenen Informationen. Zum Beispiel dürfen wir die Aufzeichnung 
            br
            |der Korrespondenz mit Ihnen behalten, wenn Sie uns kontaktiert haben. 
            br
            |Wir sind auch berechtigt, Sie nach Informationen fragen, wenn Sie uns 
            br
            |von einem Problem mit unserer Site berichten. 
          li
            |3.3	Wir sind berechtigt, bestimmte Informationen über Ihre Besuche auf 
            |unserer Site zu erfassen, sowie darüber, wie Sie diese verwenden. Dies
            br 
            |kann Ihren geografischen Standort, Ihre IP-Adresse, Geräteinformationen, 
            |Browsertyp, Verweisquelle, Dauer eines Besuches, Anzahl der 
            br
            |Seitenaufrufe, Ort und Unfang von Einkäufen sowie die verwendeten 
            |Einlasstellen umfassen. Wir sind berechtigt, derartige Informationen für 
            |verschiedene Zwecke zu nutzen – inklusive der Verwaltung der Site, der 
            |Optimierung ihrer Nutzung und Performance, der Weitergabe an dritte 
            |Parteien oder zu Sicherheitszwecken. Individuelle Nutzer können aus
            br 
            |diesen Informationen nicht identifiziert werden – mit Ausnahme des 
            |Anschlussinhabers, der in bestimmten Fällen anhand der IP-Adresse bei 
            |Offenlegung durch den Internet-Service-provider ermittelt werden kann.
            br 
            |Diese Daten dürfen von einer dritten Partei, dem Siteanalysen-Serviceprovider in unserem Namen erfasst werden, auch unter 
            |Verwendung von Cookies. 
          li 
            |3.4 	Wir erhalten Informationen über Sie auch von Dritten, mit denen wir eng 
            |zusammenarbeiten oder eine Partnerschaft eingegangen sind für 
            br
            |bestimmte Veranstaltungen. Z.B., wenn Sie sich im Rahmen einer 
            |Veranstaltung bei einen Drittanbieter (z.B. eine Online-Ticket Anbieter) 
            |anmelden, welcher ebenfalls unsere RFID Technologie verwendet, 
            br
            |können wir Informationen über Sie erhalten, welche der Drittanbieter von 
            |Ihnen im Zusammenhang mit der Veranstaltung erhoben, genutzt oder 
            |verarbeitet hat. Dies beinhaltet insbesondere Ihren Namen, Ihre E-Mail 
            |Adresse, die Art Ihres Tickets und die einmalige Ticket- 
            |dentififkationsnummer. Dies Information benötigen wir die 
            br
            |Zugangskontrolle über unsere Technologie. 
        h4 4. 4. Verwendung Ihrer Informationen
      li style=("list-style: none; display: inline")
        ul
          li
            |4.1. Je nach Anwendbarkeit verwenden wir die von Ihnen erfassten 
            |personenbezogenen Daten ausschließlich in Übereinstimmung mit diesen 
            |Datenschutzrichtlinien und unseren Site- Nutzungsbedingungen 
            = link_to t("conditions.terms_of_use"), event_terms_of_use_url(@current_event)
            |.
          li 
            |4.2. Zusätzlich zu der unter Ziffer 3. ausgeführten spezifischen Nutzung, 
            |dürfen wir Ihre Angaben für folgende Zwecke nutzen:
          ul
            li
              |4.2.1. um sicherzustellen, dass die Inhalte unserer Site so effizient 
              |wie möglich präsentiert werden;
            li
              |4.2.2. um Ihnen allgemeine kommerzielle Kommunikation (nicht 
              |werblich) zuzusenden, wie zum Beispiel Informationen über die 
              br
              |Site und die Leistungen, die wir Ihnen zu dem Zeitpunkt zur 
              br
              |Verfügung stellen;
            li
              |4.2.3. um Ihnen in Verbindung mit Ihrer Nutzung der Site einen 
              |Kundenservice zur Verfügung zu stellen, um Sie zu kontaktieren, 
              |Fragen und Beschwerden im Zusammenhang mit der Nutzung der 
              br
              |Site zu bearbeiten und um Sie über Änderungen unserer 
              br
              |Leistungen zu informieren;
            li
              |4.2.4. um die Site weiter zu entwickeln und zu verbessern und somit 
              |das Surfen für Sie zu erleichtern und Ihr Surf- und 
              br
              |Betrachtungserlebnis zu verbessern; 
            li
              |4.2.5. um dritten Parteien statistische, anonymisierte Informationen 
              |über unsere Nutzer zur Verfügung zu stellen, wobei aus diesen 
              |Informationen – mit Ausnahme des in Ziffer 3.3. geregelten Falles 
              |– kein individueller Nutzer identifiziert werden kann; 
            li
              |4.2.6. zu Sicherheitszwecken.
        h4 5. Preisgabe Ihrer Informationen
      li style=("list-style: none; display: inline")
        ul
          li
            |5.1. Soweit dies nicht ausdrücklich in diesen Datenschutzrichtlinien formuliert 
            |ist oder anderweitig gesetzlich vorausgesetzt oder erlaubt wird, werden 
            |wir keine Ihrer uns zur Verfügung gestellten Informationen ohne Ihre 
            br
            |Zustimmung teilen, verkaufen oder weitergeben.
          li
            |5.2. Wir dürfen Ihre personenbezogenen Daten preisgeben:
          ul
            li
              |5.2.1. an alle Tochterunternehmen oder dritte Parteien, wenn dies 
              br
              |für die Erbringung einer von Ihnen über die Site bestellten 
              br
              |Leistung, für die von Ihnen über die Site bestellte Lieferung eines 
              |Produktes oder für die Abrechnung eines über die Site 
              |abgeschlossenen Vertragsverhältnisses nötig ist; solche 
              br
              |Leistungen oder Produkte dürfen von diesen Tochterunternehmen 
              br
              |oder dritten Parteien zur Verfügung gestellt werden;
            li 
              |5.2.2. an den jeweiligen Veranstalter oder Zahlungsdiensteanbieter 
              br
              |mit Bezug auf sämtliche Erstattungsanforderungen, die Sie über 
              br
              |die Site tätigen;  
            li 
              |5.2.3. wenn wir unser Unternehmen, eine Tochtergesellschaft oder 
              |Geschäftszweig oder unsere wesentliche Vermögenswerte 
              br
              |verkaufen oder kaufen, und wir in diesem Fall Ihre 
              br
              |personenbezogenen Daten an den vorgesehenen Verkäufer oder 
              |Käufer des Unternehmens oder Geschäftszweigs oder der 
              |wesentlichen Vermögenswerte weitergeben;
            li 
              |5.2.4. wenn wir oder im Wesentlichen alle unsere Vermögenswerte 
              br
              |von einer dritten Partei aufgekauft werden, da in diesem Fall alle 
              br
              |uns anvertrauten personenbezogenen Daten über unsere Kunden 
              |einen Teil der übertragenen Vermögenswerte darstellen; und
            li 
              |5.2.5. an jedwede Person, wenn die Preisgabe nötig ist, um unsere 
              |Rechte durchsetzen oder schützen können oder um die Rechte, 
              br
              |das Eigentum oder die Sicherheit unserer Mitarbeiter zu schützen 
              br
              |oder in solchen Fällen, in denen eine Preisgabe rechtlich gestattet 
              br
              |oder erforderlich ist (ohne Beschränkung auf ein Gericht, eine 
              |Regulierungsbehörde oder eine andere zuständige Autorität).
              
        h4 6. Inhalt, Websites von Dritten und Mitwirkenden
      li style=("list-style: none; display: inline")
        ul
          li
            |6.1. Unsere Site darf Inhalte von und Links zu anderen Websites und 
            |Microsites enthalten, die von Dritten betrieben werden. Zudem dürfen 
            |Werbeanzeigen auf unserer Site als Link zur Website des Werbetreibenden 
            |angelegt sein, wobei solche Werbetreibende und dritte Parteien auch 
            br
            |Cookies auf Ihren Computer verwenden und platzieren dürfen.  
          li
            |6.2. Solche Websites, Werbeanzeigen und Cookies von dritten Parteien werden 
            |von uns nicht  kontrolliert, unsere Datenschutzrichtlinien gelten nicht als 
            |bindend für diese dritten Parteien. Sämtliche Informationen, die solchen 
            |dritten Parteien zugänglich werden, nachdem Sie deren Link auf unserer 
            |Seite angeklickt haben, werden dann in Übereinstimmung mit den 
            |Datenschutzrichtlinien der betreffenden dritten Partei erfasst und genutzt. 
            br
            |Aus diesem Grund bitten wir Sie, sich über die Geschäftsbedingungen und 
            |Datenschutzrichtlinien für die Websites und Microsites der betreffenden 
            br
            |dritten Partei zu informieren, um zu erfahren, wie diese Ihre 
            |personenbezogenen Daten sammelt und verwendet und ob bzw. zu 
            br
            |welchem Zweck die dritte Partei Cookies verwendet.
          li
            |6.3. Folgende Cookies verwenden wir derzeit zum jeweils angegeben Zweck: 
        table border="1px solid black"
          tbody
            tr
              td
                strong Cookie Name
              td
                strong Zweck
              td
                strong Art
              td
                strong Dauer
            tr
              td
                |_ga
              td
                |Performance
              td
                |First party (glownet.com)
              td
                |730 days
            tr
              td
                |_gat
              td
                |Performance
              td
                |First party (glownet.com)
              td
                |1 day
            tr
              td
                |_glownet_web_session
              td
                |Performance
              td
                |First party (glownet.com)
              td
                |Temporary
            tr
              td
                |APISID
              td
                |Targeting/Advertising
              td
                |Third party (google.com)
              td
                |975 days
            tr
              td
                |SSID
              td
                |Targeting/Advertising
              td
                |Third party (google.com)
              td
                |975 days
            tr
              td
                |NID
              td
                |Targeting/Advertising
              td
                |Third party (google.com)
              td
                |428 days
            tr
              td
                |SID
              td
                |Targeting/Advertising
              td
                |Third party (google.com)
              td
                |975 days
            tr
              td
                |SAPISID
              td
                |Targeting/Advertising
              td
                |Third party (google.com)
              td
                |975 days
            tr
              td
                |HSID
              td
                |Targeting/Advertising
              td
                |Third party (google.com)
              td
                |975 days
            tr
              td
                |JSESSIONID
              td
                |Performance
              td
                |.nr-data.net
              td
                |Temporary
        h4 7. Sicherheitsvorkehrungen und Datenspeicherung
      li style=("list-style: none; display: inline")
        ul
          li
            |7.1. Wir treffen geeignete technische und operative Sicherheitsvorkehrungen, 
            |um jeglichen unautorisierten Zugriff auf oder jegliche ungesetzliche 
            |Verarbeitung von Ihren uns vorliegenden personenbezogenen Daten zu 
            |verhindern. Wir speichern Ihre Informationen so lange dies für die 
            br
            |Erbringung unserer Leistungen an Sie nötig ist oder so lange es 
            |vernunftmäßig sinnvoll ist oder so lange es das Gesetz anderweitig 
            br
            |erlaubt.
          li 
            |7.2. Datenübertragung via Internet ist in sich unsicher, und obwohl wir 
            |geeignete technische und operative Sicherheitsvorkehrungen treffen, um 
            br
            |Ihre Daten vor jeglichem unautorisierten Zugriff zu schützen, können wir 
            br
            |die Sicherheit von über das Internet übertragenen Daten nicht 
            br
            |garantieren.
        h4 8. Internationale Datenübertragung
      li style=("list-style: none; display: inline")
        ul
          li
            |8.1. Wir sind berechtigt, Ihre von uns erfassten Daten nach Irland zu 
            |übertragen und in Irland zu speichern. Zudem darf einer unserer Service 
            |Provider als dritte Partei in unserem Auftrag die Datenübertragung 
            |durchführen. Derartige Unternehmen dürfen ihren Firmensitz oder das von 
            |Ihnen verwendete IT-Equipment außerhalb des Europäischen 
            |Wirtschaftsraumes oder außerhalb des Landes, in dem Ihre Daten erfasst 
            |wurden, haben, soweit dort ein angemessenes Datenschutzniveau 
            |gewährleistet wird. Wenn dies der Fall ist, ergreifen wir Maßnahmen, um 
            |sicherzustellen, dass Ihre personenbezogenen Daten in entsprechendem 
            |Maße geschützt werden. 
          li 
            |8.2. Unser Hauptsitz liegt im Vereinigten Königreich. Ihre personenbezogenen 
            |Daten dürfen im Vereinigten Königreich und anderen Ländern des 
            |Europäischen Wirtschaftsraumes (EWR) sowie Ländern mit einem 
            |angemessenen Schutzniveau im Sinne der Datenschutzrichtlinie 
            br
            |2002/56/EG verarbeitet werden, wo Ihre Daten Gegenstand von 
            |Zugriffsanfragen seitens der Regierungsbehörden, der Gerichte oder 
            |Behörden der Rechtsdurchsetzung werden können. 
          li 
            |8.3. Durch Angabe Ihrer personenbezogenen Daten und Akzeptieren dieser 
            |Datenschutzbestimmungen stimmen Sie dieser Art von Datentransfer, 
            |-speicherung und -verarbeitung zu.
        h4 9. Ihre Rechte
      li style=("list-style: none; display: inline")
        ul
          li
            |9.1. Sie haben das Recht zu erfahren, welche personenbezogenen Daten wir 
            |von Ihnen erfasst haben und Sie haben das Recht auf Änderung der 
            |Informationen durch uns, um sicherzustellen, dass die Daten korrekt und 
            |aktuell sind. In bestimmten gesetzlichen Fällen haben Sie auch das Recht, 
            br
            |zu verlangen, dass wir bestimmte Informationen über Sie sperren oder 
            |löschen. 
          li 
            |9.2. Bei Fragen zu oder in Zusammenhang mit den personenbezogenen 
            |Daten, die wir über Sie haben, kontaktieren Sie uns bitte über die unter 
            |Nummer 2. genannten Kontaktdaten. Sofern wir aufgrund von geltendem 
            |Gesetz das Recht haben, eine kostendeckende Gebühr für die 
            br
            |Bereitstellung von Ihrerseits angefragten Details über Ihre 
            |personenbezogenen Daten bei uns zu berechnen, werden wir Sie darüber 
            |entsprechend informieren. Auch sind wir berechtigt, von Ihnen eine 
            |ausreichende Identifizierung zu verlangen, ehe wir die Anfrage 
            br
            |bearbeiten.
          li 
            |9.3. Sie haben das Recht, von uns jederzeit die Einstellung der Zusendung von 
            |Marketinginformationen zu verlangen, indem Sie uns dies schriftlich 
            |mitteilen oder indem Sie die „unsubscribe“-Anleitung befolgen, die jede 
            br
            |von uns übersendete Marketingkommunikation vorsieht.
        h4 10. Google Analytics
      li style=("list-style: none; display: inline")
        ul
          li
            |10.1. Wir verwenden Google Analytics, einen Webanalysedienst der 
            br
            |Google Inc. (nachfolgend „Google“). Durch Google Analytics wird eine 
            |Analyse der Nutzung unserer Webseite ermöglicht, indem Cookies und 
            |Zählpixel eingesetzt werden. Die durch Cookies erzeugten Informationen 
            br
            |über Ihre Benutzung unserer Webseite werden in der Regel an einen 
            br
            |Server von Google in den USA übertragen und dort gespeichert. Die IP-
            |Adressen von Nutzern unserer Webseite, die sich innerhalb der 
            |Mitgliedstaaten der Europäischen Union oder in einem anderen 
            br
            |Vertragsstaat des Abkommens über den Europäischen Wirtschaftsraum 
            |befinden, werden vor der Übertragung in die USA von Google allerdings 
            |gekürzt und damit anonymisiert (anonymized IP-Verfahren von Google). 
            br
            |Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von 
            br
            |Google in den USA übertragen und erst dort gekürzt. Durch die 
            |Anonymisierung wird sichergestellt, dass Ihre IP-Adresse nicht zu Ihnen 
            |zurückverfolgt werden kann. Google verwendet diese Informationen, um 
            br
            |Ihre Nutzung der Webseite auszuwerten, um Reports über die 
            |Webseitenaktivitäten für COCUS zusammenzustellen und um weitere, mit 
            br
            |der Webseitennutzung und der Internetnutzung verbundene 
            br
            |Dienstleistungen zu erbringen. Google kann diese Informationen 
            |gegebenenfalls an Dritte weitergeben, sofern dies gesetzlich erlaubt ist, 
            br
            |oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Google 
            |wird Ihre IP-Adresse nicht mit anderen Daten von Google in Verbindung 
            |bringen. Durch die Nutzung unserer Webseite erklären Sie sich 
            br
            |ausdrücklich mit der Verwendung von Google Analytics und der Erfassung 
            |und Speicherung der über Sie erhobenen Daten durch Google in der zuvor 
            |beschriebenen Art und Weise und zu dem zuvor benannten Zweck 
            |einverstanden.
          li 
            |10.2. Sie haben weiterhin die Möglichkeit, die Erfassung der durch 
            br
            |Cookies erzeugten und auf Ihre Nutzung der Webseite bezogenen Daten 
            |(inkl. Ihrer IP-Adresse) an Google und die Verarbeitung dieser Daten durch 
            |Google zu verhindern, indem Sie ein von Google zur Verfügung gestelltes 
            |Browser-Plugin herunterladen und installieren.
          li 
            |10.3. Im Übrigen finden die Datenschutzrichtlinien von Google Inc., die 
            br
            |hier abrufbar sind:
            
            p
              br
              a href="www.google.de/intl/de/policies/privacy/" target='_blank'
                |www.google.de/intl/de/policies/privacy/ 
            p Sie können dieser Analyse auf folgender Internetseite widersprechen: 
            p 
              a href="https://tools.google.com/dlpage/gaoptout?hl=de" target='_blank'
                |https://tools.google.com/dlpage/gaoptout?hl=de 
        h4 11. Änderungen unserer Datenschutzrichtlinien
      li style=("list-style: none; display: inline")
        ul
          li
            |11.1. Wir behalten uns vor, von Zeit zu Zeit Änderungen in diesen 
            |Datenschutzrichtlinien vorzunehmen. Derartige Änderungen werden von 
            br
            |uns auf unserer Site veröffentlicht, bzw. wenn es uns angemessen 
            br
            |erscheint, informieren wir Sie über die Änderungen per Email. 
          li 
            |11.2. Für den Fall, dass die Datenschutzrichtlinie als Übersetzung in einer 
            |anderen Sprache als Deutsche vorliegt, und sich ein Konflikt im Hinblick auf 
            |Bestimmungen in der deutschen Sprache und der 
            |Übersetzung in der anderen Sprache ergibt, ist die deutsche Fassung maßgebend.
          li 
            |11.3. If this Privacy Policy ist translated into a language other than German 
            |and there is a conflict of terms between the German and the other language, 
            |the German version will prevail. 
