.panel-card-wide.mdl-card.mdl-shadow--2dp
  .mdl-card__title
    h3 GLOWNET - POLITICA DE PRIVACIDAD
  .mdl-card__supporting-text
    ul
      li
        h4 1. Introducción
      li style=("list-style: none; display: inline")
        ul 
          li
            |1.1. La presente política de privacidad (en lo sucesivo denominada la
            b Política de Privacidad
            | ) incluye información importante sobre la forma en la que Glownet Limited (
            b nosotros o nuestro or our &nbsp;
            |) recopilamos y utilizamos su información cuando usted navega en nuestro sitio
            a href="http://www.glownet.com"  www.glownet.com  
            |o cualesquiera otros sitios o aplicaciones operados por nosotros (nos referiremos a estos, para abreviar, como nuestras 
            b plataformas
            |) o utiliza cualesquiera de nuestros servicios (en lo sucesivo los 
            b Servicios
            |), tal como nuestra tecnología RFID que facilita el control del ingreso y los pagos sin efectivo en festivales o eventos (los denominaremos los 
            b Eventos
            |).
          li
            |1.2. En esta Política de Privacidad, cuando nos referimos a 
            b usted &nbsp;
            | y &nbsp;
            b su &nbsp;
            |  queremos decir usted, la persona que esta utilizando o visitando nuestras plataformas o utilizando nuestros Servicios.
          li
            |1.3. Si es menor de 18 años, por favor asegúrese de que uno de sus padres o  su tutor, (“
            b Su Adulto
            |”) lea esta Política de Privacidad y le explique cualquier parte que no entienda. Debe tener al menos 13 años de edad y tener permiso de Su Adulto para utilizar nuestras plataformas y Servicios y desafortunadamente únicamente Su Adulto puede abrir cuentas con nosotros.
          li
            |1.4. Por favor lea cuidadosamente esta Política de Privacidad para entender  como utilizamos y protegemos la información personal que usted nos  proporciona. Al utilizar nuestras plataformas, utilizar nuestros Servicios o de   alguna otra manera interactúa con nosotros, usted acepta que  procesemos su información personal de conformidad con esta Política de  Privacidad.
        h4 2. QUINES SOMOS
      li style=("list-style: none; display: inline")
        ul 
          li
            |2.1. Nosotros somos Glownet Limited, una compañía registrada en  Inglaterra bajo el no. de registro 08245670 con domicilio social en Unit 2, 9 Dennington Park Rd, London, NW6.
          li
            |2.2. Si tiene alguna pregunta sobre esta Política de Privacidad, o quisiera contactarnos por cualquier motivo por favor háganlo de la siguiente manera:
            ul
              li style=("text-align: left;")
                strong> Dirección:
                |: Unit 2, 9 Dennington Park Rd, London, NW6 1BB.
              li style=("text-align: left;")
                strong> Correo Electrónico:
                |: support@glownet.com
        h4 3. INFORMACIÓN QUE PODEMOS RECOPILAR SOBRE USTED
      li style=("list-style: none; display: inline")
        ul
          strong 3.1. Información que usted nos proporciona
          ul
            li
              |3.1.1. Recopilaremos cualquier información que nos proporcione cuando nos contacte vía email, por teléfono, correo o a través de nuestras plataformas. Ésta información podrá incluir su nombre, dirección de correo electrónico, contraseña, Eventos a los cuales planea asistir y  los brazaletes RFID o los números de identificación del Evento  que serán utilizados para proporcionarle los Servicios a usted.
          strong 3.2. Información que recopilamos sobre usted
          ul
            li
              |3.2.1. Recopilaremos cualquier información contenida en cualquier correspondencia entre usted y nosotros. Por ejemplo, si usted nos contacta, podemos mantener un registro de esa correspondencia. También podremos pedirle información cuando reporte algún problema con alguna de nuestras plataformas.
            li
              |3.2.2. Podremos recopilar determinada información sobre sus visitas a nuestras plataformas y como las utiliza, esto incluye plataformas operadas por nosotros, que son utilizadas por terceros organizadores de Eventos para gestionar los registros para el Evento y la distribución de nuestros brazaletes RFID. La información que podemos recopilar puede incluir la dirección de su Protocolo de Internet (IP), su ubicación geográfica, las características e información sobre su dispositivo, tipo de navegador, fuente de referencia, duración de la visita, sistema operativo, cantidad de páginas visitadas, que ha visitado o buscado en nuestras plataformas e información similar. Ésta información puede ser recopilada por un tercero proveedor de servicio analítico de sitios Web en nuestro nombre y/o recopilada utilizando cookies. Para más información sobre los cookies por favor consulte el párrafo 6 más abajo.
            li
              |3.2.3. También recopilaremos determinada información sobre su  participación en los Eventos cuando utiliza nuestros brazaletes RFID  tales como los vendedores con los cuales ha efectuado una compra o las puertas por las cuales ingreso al evento.
          strong 3.3. Información que podemos recibir de terceros
          ul
            li
              |3.3.1. También podemos recibir información sobre usted de terceros con los cuales trabajamos en estrecha relación o nos asociamos a los fines  de determinados Eventos. Por ejemplo, si usted se registra para un Evento con un organizador que está utilizando nuestra tecnología RFID (a través de un tercero tal como una compañía de venta de entradas), podemos recibir la información que usted les proporcione de manera de proporcionarle nuestros Servicios en relación con dicho Evento. Esto puede incluir su nombre, su  dirección de correo electrónico, el tipo de entrada y el número de identificación único de la entrada.
            li
              |3.3.2. También podemos recibir información sobre usted de plataformas de redes sociales de terceros tales como Facebook si utiliza su  cuenta de la red social para registrarse con nosotros a través de una de nuestras plataformas. Por ejemplo, si se registra con nosotros utilizando una cuenta de Facebook, Facebook compartirá con nosotros su ID, nombre, apellido, correo electrónico, ubicación, lista de amigos y foto de su perfil.
        h4 4. COMO UTILIZAMOS SU INFORMACIÓN
      li style=("list-style: none; display: inline")
        ul
          li
            |4.1. Nosotros recopilamos y usamos su información solo de una manera   consecuente con nuestra Política de Privacidad. Además de los usos  específicos que hemos explicado en el párrafo 3 anterior, usted acepta que  podemos utilizar su información para los siguientes fines: 
          ul
            li
              |4.1.1. Proporcionarle acceso a  nuestras plataformas y asegurar que el contenido de nuestras plataformas se presente de la forma más eficaz;
            li
              |4.1.2. Proporcionarle nuestros Servicios (tales como nuestros brazaletes  y tecnología RFID )  y para monitorear el uso que usted hace de dichos Servicios;
            li
              |4.1.3. Mantenernos en contacto con usted con respecto a nuestras plataformas y Servicios, u otros de nuestros servicios que creemos les pudiesen interesar, siempre que esto se haga de acuerdo con sus preferencias de mercadeo;
            li
              |4.1.4. Proporcionar apoyo al servicio al cliente en relación a su uso de las plataformas y Servicios, para contactarlo, para atender las preguntas y quejas en relación al uso de las plataformas y/o Servicios y para notificarle cualesquiera cambios en los mismos;
            li
              |4.1.5. Desarrollar y mejorar las plataformas y los Servicios e identificar o corregir errores o irregularidades;
            li
              |4.1.6. Llevar a cabo una investigación conjunta y anónima y análisis sobre la interacción con nuestras plataformas y Servicios;
            li
              |4.1.7. Proporcionarle a terceros información estadística sobre nuestros usuarios, salvo que dicha información no puede ser utilizada para identificar a persona alguna;
            li
              |4.1.8. Para que nos permita hacer cumplir nuestros derechos legales, o para proteger los derechos, propiedad o seguridad de nuestros empleados; y
            li
              |4.1.9 Por razones de seguridad.
        h4 5. USTED ACEPTA QUE PODEMOS COMPARTIR SU INFORMACIÓN CON:
      li style=("list-style: none; display: inline")
        ul
          li
            |5.1. Con excepción de lo que se estipula expresamente en esta Política de Privacidad, o según lo requiera o permita la ley, no compartiremos, venderemos o difundiremos información alguna que usted nos ha suministrado sin su consentimiento.
          li
            |5.2. Usted acepta  que podemos compartir su información con:
          ul
            li
              |5.2.1. Cualquier compañía matriz, subsidiaria, filial y/o tercero para quien es necesaria dicha divulgación de manera que nos permita proporcionarle las plataformas o nuestros Servicios que ha solicitado ya sea a través de una plataforma o a través de un tercero tal como el organizador de un Evento al cual usted asistirá. Por ejemplo:
            ul
              li
                |(a) podemos compartir su información con proveedores de servicio que nos ayudan a realizar ciertas funciones tales como agencias de mercadeo, proveedores de servicios de correos electrónicos y proveedores de hosting;
              li
                |(b) utilizamos un servicio de pago de terceros para procesar los pagos efectuados utilizando nuestra tecnología RFID y compartiremos su información con ellos para procesar vuestros pagos y/ o reembolsos; y
              li
                |(c) podemos compartir  su información con organizadores de Eventos para los cuales usted se está registrando para  poder asistir a través de nuestras plataformas;
            li
              |5.2.2. Cualquier otro tercero que usted autorice para que compartamos su información con fines de mercadeo;
            li
              |5.2.3. Cualquier posible vendedor o comprador de nuestra empresa o activos (en caso que decidamos vender o comprar cualquier empresa o activos); y
            li
              |5.2.4 Cualquier persona a la cual es necesario darle a conocer la información para ayudarnos a hacer valer nuestros derechos, o para proteger los derechos, las propiedades o la seguridad de nuestros empleados o cuando dicha divulgación pueda ser permitida o requerida por la ley (Inclusive sin limitación alguna a cualquier tribunal, ente regulador u otra autoridad pertinente).
        h4 6. COOKIES
      li style=("list-style: none; display: inline")
        ul 
          li
            |6.1. Utilizamos cookies para asegurar que usted obtenga el máximo de nuestras plataformas. Los cookies son pequeñas cantidades de información en la forma de archivos de texto que almacenamos en el dispositivo que usted usa para acceder a nuestras plataformas y/o Servicios. Los cookies nos permiten monitorear su uso del software y simplificar su uso de las plataformas. Por ejemplo, un cookie provisional también se utiliza para hacerle seguimiento a su “sesión”. Sin ese cookie (el cual no se almacena después de que usted sale de su navegador) usted tendría que registrarse cada vez que acceda a una nueva página.
          li
            |6.2. Si usted no desea que se instalen cookies en su dispositivo, puede cambiar las configuraciones en su navegador o dispositivo para rechazar los cookies. Para obtener más información sobre cómo rechazar los cookies utilizando las  configuraciones de su navegador de Internet por favor consulte la sección de  “Ayuda” de su navegador de Internet (o como alternativa visite  http://www.aboutcookies.org). Por favor tenga en cuenta que, que si usted   configura su navegador de Internet para rechazar los cookies, usted no podrá acceder a todas las funciones del sitio y su experiencia podría ser menos satisfactoria sin utilizar los cookies.
          li
            |6.3. Los nombres de los cookies utilizados por nuestra plataforma y los fines para los cuales esos cookies son utilizados se describen en la tabla a continuación:
        table border="1px solid black"
          tbody
            tr
              td
                strong Nombre del Cookie
              td
                strong Propósito
              td
                strong Tipo
              td
                strong Duración
            tr
              td
                |_ga
              td
                |Desempeño
              td
                |Primera parte (glownet.com)
              td
                |730 días
            tr
              td
                |_gat
              td
                |Desempeño  
              td
                |Primera parte (glownet.com)
              td
                |1 día
            tr
              td
                |_glownet_web_session
              td
                |Desempeño
              td
                |Primera parte (glownet.com)
              td
                |Provisional
            tr
              td
                |APISID
              td
                |Focalización/Publicidad
              td
                |Tercero (google.com)
              td
                |975 días
            tr
              td
                |SSID
              td
                |Focalización/Publicidad
              td
                |Tercero (google.com)
              td
                |975 días
            tr
              td
                |NID
              td
                |Focalización/Publicidad
              td
                |Tercero (google.com)
              td
                |428 días
            tr
              td
                |SID
              td
                |Focalización/Publicidad
              td
                |Tercero (google.com)
              td
                |975 días
            tr
              td
                |SAPISID
              td
                |Focalización/Publicidad
              td
                |Tercero (google.com)
              td
                |975 días
            tr
              td
                |HSID
              td
                |Focalización/Publicidad
              td
                |Tercero (google.com)
              td
                |975 días
            tr
              td
                |JSESSIONID
              td
                |Desempeño
              td
                |.nr-data.net
              td
                |Temporary
        h4 7. CONTENIDO Y COLABORADORES DE TERCEROS
      li style=("list-style: none; display: inline")
        ul
          li
            |7.1. Nuestras plataformas pueden contener contenido y enlaces a otros sitios,  micrositios y/o plataformas que son operadas por terceros. Adicionalmente,  anuncios contenidos en nuestras plataformas pueden operar como enlaces al   sitio Web de dichos anunciantes y dichos anunciantes y terceros también   pueden utilizar y colocar cookies en su computador.
          li
            |7.2. Nosotros no controlamos los sitios Web, la publicidad y los cookies de esos terceros y esta Política de Privacidad no aplica a ellos. Cualquier información que ese tercero recopile en virtud de que usted haga clic en un enlace de un tercero en nuestras plataformas será recopilada y utilizada de conformidad con la política de privacidad de esos terceros. Por consiguiente por favor, consulte los términos y condiciones y la política de privacidad de esos  sitios y micrositios Web para saber como recopilan y utilizan su información personal y para establecer si hay y para que fin ellos usan cookies.
        h4 8. COMO CUIDAMOS SU INFORMACIÓN Y POR CUANTO TIEMPO LA CONSERVAMOS
      li style=("list-style: none; display: inline")
        ul
          li
            |8.1. Utilizamos medidas de seguridad tecnológicas y operativas apropiadas para   protegerle de cualquier acceso no autorizado o cualquier procesamiento  ilegal de cualquier información personal sobre usted que nosotros tenemos.  Conservaremos su información durante el tiempo que sea necesario para   proporcionarle acceso a nuestras plataformas y/o Servicios que usted nos ha solicitado o durante un tiempo razonable o mientras que la ley lo permita.
          li
            |8.2. La transmisión de data por Internet es inherentemente inseguro, y aunque  empleamos medidas de seguridad tecnológicas y organizacionales apropiadas   para proteger su data del acceso no autorizado no podemos garantizar la   seguridad de cualquier data enviada por Internet. Por consiguiente, por favor tenga especial cuidado al decidir que información nos envía.
        h4 9. DONDE ALMACENAMOS SU INFORMACIÓN
      li style=("list-style: none; display: inline")
        ul
          li
            |9.1. Actualmente nuestros servidores están ubicados en Irlanda y toda la   información que recopilamos sobre usted será almacenada en esos   servidores. Por favor tenga en cuenta,  que podemos utilizar a un tercero   proveedor de servicio para que aloje nuestra información en nuestro   nombre.
          li
            |9.2. En algunas casos su información podrá ser procesada fuera del Espacio   Económico Europeo (EEE)  como cuando contratamos a terceros basados   fuera del EEE para que nos asistan en proveer las plataformas o Servicios que   usted nos ha solicitado. Esto también pudiese incluir a organizadores de  eventos establecidos (o con servidores establecidos) fuera del EEE.
          li
            |9.3. En  dicho caso,  tomaremos  todas las medidas necesarias para asegurar que  cualquier información que se transmita fuera del EEE sea protegida y  procesada  adecuadamente de conformidad con esta Política de Privacidad.  Usted da su aprobación para ésta transmisión y procesamiento de su  información.
        h4 10. SUS DERECHOS
      li style=("list-style: none; display: inline")
        ul
          li
            |10.1. Usted tiene algunos derechos con respecto a la información que tenemos   sobre usted, incluyendo:
          ul
            li
              |10.1.1. El derecho de solicitarnos que se efectúen cambios en la información que poseemos sobre usted para asegurar que es correcta y que está actualizada;
            li
              |10.1.2. El derecho de solicitar que no procesemos su data personal para fines de marketing;
            li
              |10.1.3. El derecho de solicitar acceso a la información que poseemos sobre   usted; y
            li
              |10.1.4. En algunas circunstancias, el derecho de solicitar que eliminemos  cierta información que tenemos sobre usted.
          li
            |10.2 Usted puede ejercer los derechos establecidos en el párrafo 10.1 anterior   contactándonos utilizando la información incluida en el párrafo 2 de ésta   Política de Privacidad, o en el caso de querer impedir que se procese para  actividades de mercadeo, seleccionando algunas casillas en las planillas que  utilizamos para recopilar su data, para así  comunicarnos que no desea estar  involucrado en el mercadeo.
        h4 11. CAMBIOS A ESTA POLÍTICA DE PRIVACIDAD
      li style=("list-style: none; display: inline")
        ul
          li
            |11.1 Nos reservamos el derecho de ocasionalmente hacerle cambios a esta Política de Privacidad. Cualesquiera de esos cambios a nuestra Política de Privacidad serán publicados en nuestras plataformas y si lo consideramos pertinente le   notificaremos cualesquiera cambios importantes mediante un correo electrónico. Cualquier cambio entrará en vigencia la siguiente vez que usted  interactúe con nosotros después de que se hayan notificado los cambios.





