.mdl-grid
  .mdl-cell.mdl-cell--12-col
    .mld-card
      .content-grid.mdl-grid
        .mdl-cell.mdl-cell--12-col
          .mdl-card__title.mdl-card--expand
            .mdl-card__title-text Event Profit & Loss
        .mdl-cell.mdl-cell--12-col.no-wrapper-style.margin-auto
          - key_metrics_data = analytics_cards(@current_event, :key_metrics)
          .mdl-grid.no-wrapper-style.padding
            .mdl-cell.mdl-cell--3-col.no-wrapper-style.margin-auto
              = render "new_card", card: key_metrics_data[:total_income], cols: 12, no_content: true, custom_class: 'key_metric_card', style: 'padding: 0 5px', icon_name: "remove"
              = render "subcard", card: key_metrics_data[:total_income], cols: 12, no_content: true, custom_class: 'key_metric_card', style: 'padding: 0 5px', icon_name: "remove"
            .mdl-cell.mdl-cell--3-col.no-wrapper-style.margin-auto
              = render "new_card", card: key_metrics_data[:total_sales], cols: 12, no_content: true, custom_class: 'key_metric_card', style: 'padding: 0 5px', icon_name: "remove"
              = render "subcard", card: key_metrics_data[:total_sales], cols: 12, no_content: true, custom_class: 'key_metric_card', style: 'padding: 0 5px', icon_name: "remove"
            .mdl-cell.mdl-cell--3-col.no-wrapper-style.margin-auto
              = render "new_card", card: key_metrics_data[:total_refunds], cols: 12, no_content: true, custom_class: 'key_metric_card', style: 'padding: 0 5px', icon_name: "drag_handle"
              = render "subcard", card: key_metrics_data[:total_refunds], cols: 12, no_content: true, custom_class: 'key_metric_card', style: 'padding: 0 5px'
            .mdl-cell.mdl-cell--3-col.no-wrapper-style.margin-auto
              = render "new_card", card: key_metrics_data[:outstanding], cols: 12, no_content: true, custom_class: 'key_metric_card', style: 'padding: 0 5px'
              = render "subcard", card: key_metrics_data[:outstanding], cols: 12, no_content: true, custom_class: 'key_metric_card', style: 'padding: 0 5px'


.mdl-grid.no-wrapper-style.padding
  .mdl-cell.mdl-cell--12-col
    .mdl-grid
      .mdl-cell.mdl-cell--12-col
        .mdl-card__title.mdl-card--expand
          .mdl-card__title-text Topups, Sales & Refunds Per Hour
      .mdl-cell.mdl-cell--12-col
        .mdl-grid
          .mdl-layout-spacer
          .mdl-cell.mdl-cell--10-col.no-wrapper-style.margin
            .mdl-grid
            canvas#key_metrics
          .mdl-layout-spacer
javascript:
  var ctx = document.getElementById("key_metrics").getContext('2d');
  var views = JSON.parse("#{escape_javascript(views.to_json.html_safe)}");
  var eventData = views.data;
  var money_symbol = '#{ @current_event.currency_symbol }';

  var datasets = {
    topups: {label: 'Topups', data: [], fill: false, borderColor: "#2FCE9A", extraData: []},
    sales: {label: 'Sales', data: [], fill: false, borderColor: "#F0C338", extraData: []},
    refunds: {label: 'Refunds', data: [], fill: false, borderColor: "#EE6E56", extraData: []}
  };

  $.each(eventData, function(i, item) {
    datasets.topups.data.push(item.topups);
    datasets.sales.data.push(item.sales);
    datasets.refunds.data.push(item.refunds);
    datasets.topups.extraData.push(item.topups_count);
    datasets.sales.extraData.push(item.sales_count);
    datasets.refunds.extraData.push(item.refunds_count);
  });

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: eventData.map(function(item) {return item.date_time}),
      datasets: Object.keys(datasets).map(function(key) {return datasets[key]})
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero:true,
          }
        }]
      },
      legend: {
        position: 'bottom'
      },
      tooltips: {
        custom: function(tooltip) {
          if (!tooltip) return;
          tooltip.displayColors = false;
        },
        callbacks: {
          title: function(tooltipItem, data) {
            var titleData = tooltipItem[0];
            var key = Object.keys(datasets)[titleData.datasetIndex];
            return [
              key.charAt(0).toUpperCase() + key.slice(1),
              titleData.xLabel
            ]
          },
          label: function(tooltipItem, data) {
            var key = Object.keys(datasets)[tooltipItem.datasetIndex]
            return [
              "Credits: " + datasets[key]['data'][tooltipItem.index] + " " + views.currency,
              "Amount: " + datasets[key]['extraData'][tooltipItem.index]
            ]
          }
        }
      },
    }
  });
