.mdl-tabs__panel.is-active id="#{name}_report"
.content-grid.mdl-grid
  .mdl-cell.mdl-cell--8-col
  .mdl-cell.mdl-cell--1-col
    button.mdl-button.mdl-js-button.mdl-button--raised.export-button
      | EXPORT
  .mdl-cell.mdl-cell--2-col
    button.mdl-button.mdl-js-button.mdl-button--raised.raw-button
      | RAW DATA
  .mdl-cell.mdl-cell--1-col
.content-grid.mdl-grid
  .mdl-layout-spacer
  .mdl-cell.mdl-cell--10-col.reports-table
    #table
  .mdl-layout-spacer

javascript:

  $(document).ready(function() {
    var data = "#{data}";
    var name = "#{ name.capitalize }";
    var cols = jQuery.parseJSON("#{ escape_javascript(cols.html_safe) }");
    var rows = jQuery.parseJSON("#{ escape_javascript(rows.html_safe) }");
    var metric = jQuery.parseJSON("#{ escape_javascript(metric.html_safe) }");
    var decs = "#{decimals}"
    var renderers = $.extend($.pivotUtilities.renderers, $.pivotUtilities.export_renderers, $.pivotUtilities.plotly_renders, $.pivotUtilities.c3_renderers);
    data = jQuery.parseJSON('#{ escape_javascript(data.html_safe)}');
    var sum = $.pivotUtilities.aggregatorTemplates.sum;
    var frFormat = $.pivotUtilities.numberFormat({digitsAfterDecimal: "#{decimals}"});

    $("#table").pivotUI(data, {
       renderers: renderers,
       cols: cols,
       rows: rows,
       rendererName: "Table",
       aggregators: { [name]: function () { return sum(frFormat)(metric) } }
    });

    $(".raw-button").click(function(){
      var fields = Object.keys(data[0])
      var replacer = function(key, value) { return value === null ? '' : value }
      var csv = data.map(function(row){
        return fields.map(function(fieldName){
          return JSON.stringify(row[fieldName], replacer)
        }).join('\t')
      })
      csv.unshift(fields.join(','))
      csv = csv.join('\r\n');
      var hiddenElement = document.createElement('a');
      hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(csv);
      hiddenElement.target = '_blank';
      hiddenElement.download = "#{ name }" + '_raw_data.csv';
      hiddenElement.click();

    });

    $(".export-button").click(function(){
      $(".pvtRenderer:first").val("TSV Export").trigger("change");
      var checkExist = setInterval(function() {
         if ($('textarea').length) {
            var text = $('textarea').text();
            var hiddenElement = document.createElement('a');
            hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(text);
            hiddenElement.target = '_blank';
            hiddenElement.download = "#{ name }" + '_pivot_data.csv';
            hiddenElement.click();
            clearInterval(checkExist);
            $(".pvtRenderer:first").val("Table").trigger("change");
         }
      }, 100);
    });
  });
