// -------------------------------------------------------
//
//  Font configuration
//
// -------------------------------------------------------

@import "font-awesome";
// External fonts

// Custom fonts
@include font-face(Roboto, 'roboto-black-webfont', bold, $asset-pipeline: true);
@include font-face(Roboto, 'roboto-regular-webfont', normal, $asset-pipeline: true);
@include font-face(PaymentFont, 'paymentfont-webfont', normal, $asset-pipeline: true);


// Font families
$serif_family: $georgia;
$sans_family: Roboto ,$helvetica;;

$base_font_family: $sans_family;
$heading_font_family: $sans_family;

// TODO Study wether these are causing problems or not.
$body_font_features: '';
$header_font_features: '';

//$debug: 'true';

// Typography initialization
@include intialize-typography($font_size: 16, $line_height: 22, $ratio: $fifth);
@include intialize-typography($breakpoint: $bp3, $font_size: 15, $line_height: 22, $ratio: $octave);
