= render "admins/events/reports/report_card", title: "Product Sale", chart_id: "products"

= render "admins/events/reports/report_card", title: "Sales Stock", chart_id: "products_stock"

javascript:
    $(function () {
        var renderers = $.extend($.pivotUtilities.renderers, $.pivotUtilities.c3_renderers, $.pivotUtilities.export_renderers);
        var products = jQuery.parseJSON('#{ escape_javascript(products.html_safe)}');
        var tpl = $.pivotUtilities.aggregatorTemplates;
        var numberFormat = $.pivotUtilities.numberFormat;
        var frFormat = numberFormat({digitsAfterDecimal: 0});
        var frFormat_1 = numberFormat({digitsAfterDecimal: 1});

        $("#products").pivotUI(products, {
            renderers: renderers,
            cols: ["Event Day", "Credit Name"], rows: ["Product Name"],
            rendererName: "Table",
            aggregators: { "Credits": function () { return tpl.sum(frFormat_1)(["Credits"]) }}
        });

        var products_stock = jQuery.parseJSON('#{ escape_javascript(products_stock.html_safe)}');

        $("#products_stock").pivotUI(products_stock, {
            renderers: renderers,
            cols: ["Event Day"], rows: ["Product Name"],
            rendererName: "Table",
            aggregators: { "Quantity": function () { return tpl.sum(frFormat)(["Quantity"]) }
            }
        });
    });
