dt = t("admin.purchasers.first_name")
dd = gtag.purchaser.first_name if gtag.purchaser.first_name.present?
dt = t("admin.purchasers.last_name")
dd = gtag.purchaser.last_name if gtag.purchaser.last_name.present?
dt = t("admin.purchasers.email")
dd = gtag.purchaser.email if gtag.purchaser.email.present?
dt = t("admin.purchasers.gtag_delivery_address")
dd = gtag.purchaser.gtag_delivery_address if gtag.purchaser.gtag_delivery_address.present?