/* ------------------------------------------------------- *\

  Base stylesheet for common elments

\* ------------------------------------------------------- */

*, :after, :before {
  box-sizing: border-box;
}

//Variables

$label-size: $base-font-size*1.75;
$button-size: $base-font-size*2.25;
$section-title: $base-font-size*4;

// HTML base styles

html {
  position: relative;
  min-height: 100%;
  height: 100%;
}

h1 { margin: 0; }

h3 {
  display: inline-block;
  width: auto;
  padding: 0 modules(0.25);
  text-align: left;

  i { padding-right: modules(0.5); }
}

ul {
  list-style: none;
  margin: 0;
  padding:0;
}

p {
  font-family: Helevetica, sans-serif;
  margin-top: modules(1);
}

a {
  text-decoration: none;
}

