/* ------------------------------------------------------- *\

  Include all the elements and classes that user can customize

\* ------------------------------------------------------- */

// _____ BACKGROUND ______

body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  //background-image: $background_image;
  background-attachment: fixed;
}

// _____ HEADER ______

header {
  position: relative;
  display: block;
  height: modules(2);
}

/*Container for the title, date and location event*/

.container-sub-header {
  position: relative;
  width: 100%;
  border-radius: 3px;
  text-align: center;

  @include min-screen($bp3) {
    @include outer-container;
    background-color: transparent;
    margin: modules(1) auto 0;
    text-align: left;
  }

  i {
    display: inline-block;
    padding-right: modules(0.5);
  }
}

.wrapper-date {
  padding: modules(0.5);
  text-align: left;

  @include min-screen($bp3) {
    @include span-columns(5);
    padding: 0;
  }

  h2 { margin-bottom: modules(0.5); }

  p { margin-bottom: modules(0.25); }
}

.logo {
  overflow: hidden;
  display: block;
  text-align: center;
  margin-bottom: 0;

  @include min-screen($bp3) {
    @include span-columns(7);
    text-align: right;
  }

  a {
    overflow: hidden;
    display: inline-block;
    width: auto;
    cursor: pointer;

    &:hover { opacity: 0.5; }
  }

  img {
    display: inline-block;
    width: auto;
    max-height: modules(5);
  }
}

.container-login-map {
  position: relative;

  @include min-screen($bp3) {
    @include span-columns(8);
  }

  ul { margin-bottom: modules(2); }

  i {
    display: inline-block;
    padding-right: modules(0.5);
  }
}

// _____ NAVIGATION ______

nav {
  width: 100%;
  //background-color: $white;


  ul { text-align: right; }
}

// _____ LOGIN _______


.claim { font-weight: bold; }

// _____ DAHSBOARDS _____

// Big pink text
.highlight {
  display: block;
  text-align: center;
  font-weight: bold;

  @include min-screen($bp4) {
    position: absolute;
    bottom: modules(1);
    left: 0;
    line-height: 0;
  }
}
// _____ COLORS ______

.customer-section-header {
  width: 100%;
  margin-bottom: 0;
  padding: modules(0.25) modules(0.5);
}

.single-option-header {
  margin-bottom: 0;

  @include min-screen($bp3) {
    @include span-columns(8);
  }
}

// _____ BUTTONS ______

.btn {
  @include transition(opacity 83ms linear);
  @include appearance(none);
  //@include button($default);
  overflow: hidden;
  display: inline-block;
  width: 100%;
  margin: modules(1) 0 0;
  padding: modules(0.25) modules(0.5);
  border: 1px solid transparent;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;

  @include min-screen($bp3) {
    width: auto;
    margin: 0;
    padding: modules(0.5);
    line-height: 0.75;
  }

  &:hover { opacity: 0.7; }
}

.btn-primary {
  clear: both;
  display: block;
  margin: 0  auto modules(1);
  max-width: modules(12);
}

.btn-continue {
  display: block;
  float: right !important;
}

.btn-full-width {
  min-width: 100%;
  width: 100%;
}

.btn-dashboard {
  display: block; margin: 0 auto;

  @include min-screen($bp3) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-bottom: 0;
  }
}

.btn-table {
  margin-right: modules(1);
}

// _______ ORDER ________

.amount-button {
  @include user-select(none);
  width: auto;
  padding: 0 modules(0.5);
  cursor: pointer;

  &:first-child { text-align: left; padding-left: 0; }
  &:last-child { text-align: right; padding-right: 0; }

  &:hover { opacity: 0.5; }
}

.table-order {
  width: 100%;
  padding-top: modules(2);
  text-align: left;

  th {
    padding: 0 0 modules(0.5);

    &:last-child{ text-align: center; }
  }

  tr {

    &.table-head {
      background-color: transparent;
    }
  }

  td { padding: modules(0.25); }
}

.payment-success {
  margin-top: modules(1);
  padding: modules(0.5);
  background-color: $white;
  border: 1px solid rgba(150, 150, 150, 0.5);
  border-radius: 3px;
  color: $green;
  text-align: center;

  i { display: block; }
}