/* ------------------------------------------------------- *\

 Customize inline variables

\* ------------------------------------------------------- */



/*$background-image: image-url("background.jpg");*/


body                      { background-color: #fff; }
header                    { background-color: #212738; }

nav                       { box-shadow: inset 0px 0px 1px 0px #848482; }
nav ul                    { color: #fff; }
nav ul a                  { color: #fff; }
nav ul a:hover             { color: #ff0090; }

.container-sub-header     { background-color: #f2f2f2; }
.container-sub-header     { color: #2E2E2E; }
.wrapper-date h2          { color: #e51513; }
.sub-header-separator     { border-bottom: 2px solid #e51513; }
.container-login-map i    { font-size: 1.25rem; }
.container-login-map i    { color: #e51513; }
.form-actions             { color: #ff0090; }
.form-actions a, span, i, figure, :before { color: #e51513; }
.claim                    { font-size: 3rem; }
.claim                    { color: #e51513; }
.highlight                { font-size: 2.25rem; }
.highlight                { color: #e51513; }
.hint                     { color: #e51513; }
.customer-section-header  { box-shadow: inset 0px 0px 0px 1px #e51513; }
.customer-section-header  { background-color: #e51513; }
.customer-section-header  { color: #fff; }

.btn                      { background-color: #e51513; }
.btn                      { color: #fff; }

.amount-button            { color: #e51513; }
.amount-button:before     { font-size:1.5rem;}

.table-order tr:nth-child(even) { background-color: #f2f2f2; }
.table-order tr:nth-child(odd)  { background-color: #fff; }


@media (min-width: 992px) {
  .highlight { font-size: 4.25rem; }
}


