/* ------------------------------------------------------- *\

  Include all the elements and classes that user can customize

\* ------------------------------------------------------- */

$background-color:    #2c2c2c;
$default:             #ff0090;

$highlight-tittle: $base-font-size*4.5;

// _____ BACKGROUND ______


body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  //background-image: image-url("bg.jpg");
  background-color: $input_grey;
}

// _____ HEADER ______

header {
  position: relative;
  display: block;
  height: modules(2);
}

.wrapper-date {

  @include min-screen($bp3) {
    @include span-columns(6);
  }

  h2, i { color: $default; }
}

.logo {
  overflow: hidden;
  display: block;
  text-align: right;
  margin-bottom: 0;

  @include min-screen($bp3) {
    @include span-columns(6);
  }

  a {
    overflow: hidden;
    display: inline-block;
    width: auto;
    cursor: pointer;

    &:hover { opacity: 0.5; }
  }

  img {
    display: inline-block;
    width: auto;
    max-height: modules(5);
  }
}

.container-sub-header {
  position: relative;
  width: 100%;
  color: $black;
  border-radius: 3px;
  //border: 1px solid rgba(150, 150, 150, 0.5);
  //background-color: $white;
  text-align: center;

  @include min-screen($bp3) {
    @include outer-container;
    margin: modules(1) auto 0;
    text-align: left;
  }

  p {
    margin: modules(0.5);
    font-style: italic;
  }

  i {
    display: inline-block;
    padding-right: modules(0.5);
  }
}

.sub-header-separator { border-bottom: 1px dotted $background-color; }

// _____ NAVIGATION ______

nav {
  width: 100%;;
  box-shadow: inset 0px 0px 1px 0px $grayGunmetal;
  //background-color: $white;
  background-color: $glwnt_header;

  ul { text-align: right; }
  a, span {
    color: $white;

    &:hover { color: $default;  }
  }
}

// _____ LOGIN _______

.form-actions {
  color: $default;

  &:before, a, span, i, figure { color: $default; }
}

.claim {
  @include mscale($base_font_size*3);
  color: $default;
  font-weight: bold;
}

// _____ DAHSBOARDS _____

// Big pink text
.highlight {
  @include mscale($button-size);
  display: block;
  color: $default;
  text-shadow: 0px 1px 1px $grayTimberwolf;
  text-align: center;
  font-weight: lighter;

  @include min-screen($bp4) {
    @include mscale($highlight-tittle);
    position: absolute;
    bottom: modules(1);
    left: 0;
    line-height: 0;
  }
}

// _____ COLORS ______

.customer-section-header {
  width: 100%;
  margin-bottom: 0;
  padding: modules(0.25) modules(0.5);
  box-shadow: inset 0px -1px 0px 0px rgba(150, 150, 150, 0.5);
  background-color: $admin_grey;
  color: $default;
}

.single-option-header {
  margin-bottom: 0;

  @include min-screen($bp3) {
    @include span-columns(8);
  }
}

// _____ BUTTONS ______

.btn {
  @include transition(opacity 83ms linear);
  @include button($default);
  overflow: hidden;
  display: inline-block;
  width: 100%;
  margin: modules(1) 0 0;
  padding: modules(0.25) modules(0.5);
  background-color: $default;
  color: $nuclear;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;

  @include min-screen($bp3) {
    width: auto;
    margin: 0;
    padding: modules(0.5);
    line-height: 0.75;
  }

  &:hover { opacity: 0.7; }
}

.btn-primary {
  clear: both;
  display: block;
  margin: 0  auto modules(1);
  max-width: modules(12);
}

.btn-continue {
  display: block;
  float: right !important;
}

.btn-full-width {
  min-width: 100%;
  width: 100%;
}

.btn-dashboard {
  display: block; margin: 0 auto;

  @include min-screen($bp3) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin-bottom: 0;
  }
}
//______________________