/* ------------------------------------------------------- *\

  Base stylesheet for DASHBOARD

\* ------------------------------------------------------- */
$highlight-tittle: $base-font-size*4.5;

// Container for dashboard info for ticket and credit
.dashboard-field {
  overflow: hidden;
  position: relative;
  text-align: center;

  @include min-screen($bp4) {
    min-height: modules(6);
    height: auto;
    padding-bottom: modules(2);
    text-align: left;
  }

  h3 { text-align: center; }
}

// Big pink text
.highlight {
  @include mscale($button-size);
  display: block;
  color: $pinkMagenta;
  text-shadow: 0px 1px 1px $grayTimberwolf;
  text-align: center;

  @include min-screen($bp4) {
    @include mscale($highlight-tittle);
    position: absolute;
    bottom: modules(1);
    left: 0;
    line-height: 0;
  }
}

.dashboard-field-info {
  width: 100%;

  @include min-screen($bp4) {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    margin-right: 3%;
    box-shadow: inset -1px 0px 0px 0px $grayGunmetal;
  }
}

.dashboard-field-action {
  width: 100%;
  text-align: center;

  @include min-screen($bp4) {
    display: inline-block;
    vertical-align: top;
    width: 37%;
    text-align: center;

    h3 { text-align: center; }
  }

  h3 { text-align: center; }
}
