/* ------------------------------------------------------- *\

  Base stylesheet for footer

\* ------------------------------------------------------- */

footer {
  bottom: 0;
  right: 0;
  left: 0;
  padding: modules(0.5);
  background-color: $black;

  a {
    margin: 0;
    color: $pinkMagenta;

    &:hover { opacity: 0.4; }
  }
}
