/* ------------------------------------------------------- *\

  Base stylesheet for footer

\* ------------------------------------------------------- */

footer {
  //height: modules(2);
  padding: modules(0.5);
  background-color: $glwnt_header;
  box-shadow: inset 0px 1px 0px 0px $black;

  i {
    display: inline-block;
    padding-right: modules(0.25);
    color: $white;
    text-shadow: 0px 1px 2px #555;
  }
}

.copy {
    margin: 0;
    color: $pinkMagenta;

    &:hover { opacity: 0.4; }
  }

.container-language {
  position: relative;
  display: inline-block;
  float: right;

  li {
    display: inline-block;
    width: auto;
    padding: 0 modules(0.15);
    font-weight: bold;
    cursor: pointer;
  }
}

.language-item {
  color: $black;
  text-shadow: 0px 1px 2px #555;

  .selected { color: $white; text-shadow: none; }
  &:hover { color: $grey; text-shadow: none; }
}

.footer-separator {
  display: inline-block;
  &:before{
    content: "|";
    display: block;
    border-radius: 5px;
    color: $black;
    text-shadow: 0px 2px 2px #555;
  }
}