// -------------------------------------------------------
//
//  Page form styles
//
// -------------------------------------------------------

abbr { display: none; }

label {
  display: block;
  color: $grey;
  font-weight: bold;

  @include min-screen ($bp3) {
    @include span-columns(4);
    padding: 0;
  }
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=url],
input[type=tel],
input[type=search],
textarea {
  @include mscale($base_font_size);
  @include appearance(none);
  width: 100%;
  margin: 0;
  padding: modules(0.5);
  overflow: hidden;
  border-radius: 4px;
  background-color: $admin_grey;
  border: 1px solid $input_grey;
  box-shadow: inset 0px 1px 1px $light_grey;

  @include min-screen ($bp3) {
    @include span-columns(8);
    margin: 0 0 modules(1);
  }

  &:focus {
    outline: none;
    opacity: 1;
  }
}

.input {
  position: relative;
  overflow: hidden;
  margin: modules(1) 0;

  @include min-screen($bp3) {
    margin: 0;
  }

  &:first-child { margin-top: 0; }
}

.customer_remember_me {
  display: inline-block;
  margin: 0;

  input {
    margin-right: modules(0.25);
    cursor: pointer;
  }

  label {
    width: 100%;
    margin: 0;
    margin-bottom: modules(0.5);
    padding: 0;
    font-weight: 300;
  }
}

.hint {
  display: block;
  width: 100%;
  margin: 0;
  font-style: italic;

  @include min-screen ($bp3) {
    position: absolute;
    bottom: modules(1);
    top: auto;
    width: auto;
  }
}

.required-reminder {
  margin-bottom: modules(1);
  clear: both;
  text-align: left;

  i {
    @include mscale($base_font_size*1.25);
    display: inline-block;
    margin-right: modules(0.25);
    color: $grey;
  }
}

.accept-terms {
  clear: both;
  width: 100%;
  padding-bottom: modules(1);
  text-align: center;

  @include min-screen ($bp3) {
    padding-bottom: 0;
    text-align: right;
  }

  label {
    float: right;
    width: auto;
    margin-right: 0;
    padding: 0;
    font-weight: 400;
  }

  .input, span {
    display: inline;
    vertical-align: top;

    @include min-screen ($bp3) {display: inline-block; }
  }

  input {
    display: inline-block;
    width: auto;
    margin: 0 modules(0.25);
  }

  a {
    padding: 0 modules(0.25);

    &:hover { text-decoration: underline; }
  }

  .error {
    position: relative;
    clear: both;
    margin-top: modules(1);
    display: block;
    width: 100%;
    text-align: center;

    @include min-screen ($bp3) { text-align: right; }
  }
}

// ____ INPUT CENTERED FOR ASSIGN TICKET ____

.assign-input {
  position: relative;

  p {
    margin-top: 0;
    text-align: left;
  }

  input {
    display: block;
    width: 100%;
    margin: 0 0 modules(0.5);
  }
}

.wristband-hint {
  display: block;
  clear: both;
  padding-top: modules(0.5);

  i {
    display: inline-block;
    padding-right: modules(0.25);
  }
}

.refund-form {
  display: block;
  width: 100%;
  padding: 0;

  .form-inputs {
    clear: both;
    display: block;
    width: 100%;
    padding: modules(1) 0
  }

  .wrapper-secure-payment {
    display: block;
    width: 100%;
    text-align: center;

    @include min-screen ($bp4) {
      display: inline-block;
      width: auto;
      text-align: left;
      margin-top: modules(2);
    }
  }
}

.container-third {
  .input {
    display: block;
    width: 100%;

    @include min-screen ($bp3) {
      @include span-columns(4);
      @include omega(3n);
    }
  }
}

.container-half {
  .input {
    display: block;
    width: 100%;

    @include min-screen ($bp3) {
      @include span-columns(6);
      @include omega(2n);
    }
  }
}