/* ------------------------------------------------------- *\

  Base stylesheet for common elments

\* ------------------------------------------------------- */

$nav-size: $base-font-size*2;

// HTML base styles

nav li {
  text-transform: uppercase;
  opacity: 0.8;

  &:hover { opacity: 1; }
}
// -------------------------------------------------------

.nav-logo {
  float: left;
  height: modules(2);
  width: auto;

  img { width: auto; height: 100%; }
  &:hover { opacity: 0.5; }
}

.nav-item {
  display: none;
  vertical-align: middle;
  width: auto;
  height: modules(2);
  padding: modules(0.5) modules(0.5);
  font-weight: bold;
  cursor: pointer;

  @include min-screen($bp2) {
    display: inline-block;
  }
}

.user-options {
  position: relative;
  float: right;
  text-align: right;
  display: inline-block;

  a {
    display: inline-block;
    width: 100%;
    height: modules(2);
    background-color: rgba(33,39,56, 0.7);
    box-shadow: inset 0px -1px 0px 0px $black;

    &:hover {}
  }

  &:hover {
    .submenu {
      display: block;
      position: absolute;
      top: modules(2);
      right: 0;
      margin: 0;
      min-width: modules(7);
      width: 9rem;
      height: auto;
      text-align: right;
      pointer-events: auto;
      z-index: 50;
    }
  }
}

.submenu {
  display: none;

  li { display: block;

    a { padding: modules(0.5); }
  }
}

// _______ MOBILE _______
.mobile-trigger {
  width: modules(3);
  float: right;
  padding: modules(0.5);
  cursor: pointer;
  color: $white;

  i {  }
}

.mobile-list {
  display: none;

  li {
    display: block;
    width: 100%;
    background-color: lighten($glwnt_header,5%);
    box-shadow: inset 0px -1px 0px 0px $glwnt_header;

    a {
      overflow: hidden;
      display: block;
      width: 100%;
      height: 100%;
      padding: modules(0.5);
    }
  }

  &.opened {
    display: block;
    position: absolute;
    top: modules(2);
    left: 0;
    right: 0;
    z-index: 7;
  }
}