/* ------------------------------------------------------- *\

  Base stylesheet for common elments

\* ------------------------------------------------------- */

$nav-size: $base-font-size*2;

// HTML base styles
// -------------------------------------------------------

.container-header {
  position: relative;
  width: 100%;
  color: $black;
  padding: modules(1) 0;

  @include min-screen($bp3) {
    @include outer-container;
  }

  p { margin: 0; }
  i {
    display: inline-block;
    padding-right: modules(0.5);
  }
}

.logo {
  display: block;
  text-align: right;
  max-height: modules(7);
  min-height: modules(7);

  @include min-screen($bp3) {
    @include span-columns(6);
  }

  a {
    overflow: hidden;
    display: inline-block;
    width: auto;
    cursor: pointer;

    &:hover { opacity: 0.5; }
  }

  img {
    display: inline-block;
    width: auto;
    height: modules(7);
  }
}

.user-options {
  position: relative;
  float: right;
  text-align: right;
  max-width: modules(2);
  overflow: hidden;
  display: inline-block;

  @include min-screen($bp2) {
    max-width: auto;
    min-width: modules(7);
  }

  a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: modules(0.25) modules(0.5);
    background-color: $nuclear;
    box-shadow: inset 0px -1px 0px 0px $light_grey;

    &:hover { background-color: $admin_grey; }
  }

  &:hover {
    .submenu {
      position: absolute;
      top: modules(1.85);
      display: inline-block;
    }
  }
}

.submenu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  min-width: modules(7);
  width: 100%;
  text-align: center;
  z-index: 1;
  pointer-events: auto;

  li {
    display: block;
    padding: 0;
  }
}
