// -------------------------------------------------------
//
//  Notification messages
//
// -------------------------------------------------------

$light_red: lighten($red, 8%);

.msg-notification {

}

.msg-for-alert, .msg-for-error {
  @include background(linear-gradient($light_red, $red) left repeat);
  position: fixed;
  top: modules(1);
  left: modules(1);
  right: modules(1);
  margin: modules(0.5);
  padding: modules(0.5);
  border-radius: 3px;
  background-color: $red;
  border: 1px solid $red;
  color: $white;
  text-align: center;
  z-index: 3;

  @include min-screen($bp3) {
    @include outer-container;
    top: modules(2.5);
  }

  p {
     @include mscale($base_font_size*1.15);
    margin: 0;
    display: block;
    font-weight: bold;
  }


  &:before {
    @include mscale($base_font_size*1.5);
    content: "✖";
    display: block;
    width: modules(1.5);
    height: modules(1.5);
    margin: 0 auto;
    padding-top: modules(0.15);
    vertical-align: top;
    border-radius:25px;
    background-color: transparent;
    border: 3px solid $white;
    color: $white;
    text-align: center;
  }
}

.msg-for-notice {
  opacity: 0;
  position: absolute;
  top: modules(1);
  left: modules(1);
  right: modules(1);
  padding: modules(2);
  border-radius: 4px;
  background-color: $green;
  box-shadow: inset 0px 0px 0px 3px $white;
  color: $white;
  text-align: center;
  z-index: 3;

  @include min-screen($bp3) { left: modules(2); right: modules(2); }
  @include min-screen($bp4) { left: modules(3); right: modules(3); }

  p {
    @include mscale($base-font-size*1.25);
    margin-bottom: 0;
  }
}

.msg-for-success {

}

.msg-for-info { }

.error_notification {
  @include mscale($base_font_size*1.25);
  @include background(linear-gradient($light_red, $red) left repeat);
  position: relative;
  margin: modules(0.5);
  padding: modules(0.5);
  border-radius: 3px;
  background-color: $red;
  color: $white;
  text-align: center;
  font-weight: bold;
  z-index: 3;

  @include min-screen($bp2) {
    margin: modules(1) 0 0;
  }

  &:before {
    @include mscale($base_font_size*1.5);
    content: "✖";
    display: block;
    width: modules(1.5);
    height: modules(1.5);
    margin: 0 auto;
    padding-top: modules(0.25);
    vertical-align: top;
    border-radius:25px;
    background-color: transparent;
    box-shadow: inset 0px 0px 0px 3px $white;
    color: $white;
    text-align: center;
  }
}

.error {
  position: relative;
  left: 0;
  color: $red;
  font-weight: bold;

  @include min-screen($bp3) {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    right: 0;
    text-align: right;
  }
  //&:after {
  //  content: "⇧";
  //  display: inline-block;
  //  width: auto;
  //  padding: 0 modules(0.25);
  //  font-weight: bold;
  //}
}
