/* ------------------------------------------------------- *\

 Customize inline variables

\* ------------------------------------------------------- */
body                      { background-color: $air_gray; }
body                      { color: $color_text; }
header                    { background-color: $glwnt_header; }

nav                       { box-shadow: inset 0px 0px 1px 0px $color_text; }
nav ul                    { color: $snow; }
nav ul a                  { color: $snow; }
nav ul a:hover             { color: $default; }

.wrapper-date h2 a         { color: $default; }
.sub-header-separator     { border-bottom: 2px solid $default; }
.container-login-map i    { color: $default; }
.form-actions             { color: $default; }
.form-actions a           { color: $default; }
.form-actions span        { color: $default; }
.form-actions i           { color: $default; }
.form-actions figure      { color: $default; }
.form-actions:before      { color: $default; }
.claim                    { color: $default; }
.highlight                { color: $default; }
.hint                     { color: $default; }
.customer-section-header  { box-shadow: inset 0px 0px 0px 1px $default; }
.customer-section-header  { background-color: $default; }
.customer-section-header  { color: $snow; }
.payment-success          { background-color: $snow; }
.payment-success          { color: $succes; }
.payment-success i        { color: $succes; }

.btn                      { background-color: $default; }
.btn                      { color: $snow; }

.amount-button            { color: $default; }

.table-order tr:nth-child(even) { background-color: $air_gray; }
.table-order tr:nth-child(odd)  { background-color: $snow; }

