/* ------------------------------------------------------- *\

  Include all the elements and classes that user can customize

\* ------------------------------------------------------- */
//COLORS:

/*Header*/
$glwnt_header:        #212738;
/*Pink*/
$default:             #ff0090;
/*Sonar red*/
$sonar:               #e51513;
/*Grays*/
$snow:                #fff;
$air_gray:            #f2f2f2;
$color_text:          #848482;
$background-color:    #2c2c2c;
$dark:                #2E2E2E;
/*Succes*/
$succes:              #00CD00;

//SIZES:

$quarter_text:           $base_font_size*1.25;
$half_text:              $base_font_size*1.5;
$double_text:            $base-font-size*2;
$triple_text:            $base-font-size*3;
$highlight-tittle:       $base-font-size*4.5;

//IMAGES:

$background-image: image-url("background.jpg");

// _____ BACKGROUND ______

body {
  width: 100%;
  color: $color_text;
  background-attachment: fixed;
}

// _____ HEADER ______

header {
  position: relative;
  display: block;
  height: modules(2);
  background-color: $glwnt_header;
  box-shadow: inset 0px -1px 0px 0px $black;
}

/*Container for the title, date and location event*/

.container-sub-header {
  position: relative;
  width: 100%;
  border-radius: 3px;
  text-align: center;

  @include min-screen($bp3) {
    @include outer-container;
    background-color: transparent;
    margin: modules(1) auto 0;
    text-align: left;
  }

  i {
    display: inline-block;
    padding-right: modules(0.5);
  }
}

.wrapper-date {
  margin: modules(0.5) modules(0.5) 0;
  text-align: left;
  border-radius: 3px;

  @include min-screen($bp3) {
    @include span-columns(6);
    margin: 0 0 modules(1);
    padding: 0;
  }

  h2 {
    @include mscale($base-font-size);
    margin-bottom: 0;

    @include min-screen($bp3) {
      @include mscale($double_text);
      margin-bottom: modules(0.25);
    }
  }

  h3 {
    @include mscale($base-font-size);
    display: block;
    margin-bottom: 0;
    color: $white;
  }

  a:hover { opacity: 0.5; }
}

.logo {
  overflow: hidden;
  display: block;
  text-align: center;
  margin-bottom: 0;

  @include min-screen($bp3) {
    @include span-columns(6);
    float: right;
    text-align: right;
  }

  a {
    overflow: hidden;
    display: inlinew;
    width: auto;
    cursor: pointer;

    @include min-screen($bp3) { display: inline-block; }

    &:hover { opacity: 0.5; }
  }

  img {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: modules(0.5);

    @include min-screen($bp3) {
      width: auto;
      max-height: modules(5);
      padding: 0;
    }
  }
}

.container-login-map {
  position: relative;

  @include min-screen($bp4) {
    @include span-columns(8);
  }

  ul {
    margin: 0;

    @include min-screen($bp3) { margin-bottom: modules(2); }
  }

  i {
    display: inline-block;
    padding-right: modules(0.5);
  }

  .btn{
    float: right;
  }
}

.info-list {
  position: relative;
  vertical-align: top;
  padding-left: modules(1);

  &:before {
    @include mscale($triple_text);
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    content: "·";
    margin-right: modules(0.25);
    vertical-align: top;
    line-height: modules(0.5);
  }
}

.disclaimer-list {
  padding: 0 modules(0.5);
  text-align: center;

  @include min-screen($bp4) {
    padding: 0;
    text-align: left;
  }

  li { margin: 0; }
  a {
    padding: 0 modules(0.15);
    color: $default;

    &:hover { text-decoration: underline; }
  }
}

// _____ NAVIGATION ______

nav {
  width: 100%;
  box-shadow: inset 0px 0px 0px 1px 0px $color_text;
  //background-color: $white;


  ul { text-align: right; }
}

// _____ LOGIN _______


.claim {
  @include mscale($triple_text);
  font-weight: bold;
}

// _____ DAHSBOARDS _____

// Big pink text
.highlight {
  @include mscale($triple_text);
  display: block;
  text-align: center;
  font-weight: bold;

  @include min-screen($bp4) {
    @include mscale($highlight-tittle);
    position: absolute;
    bottom: modules(1);
    left: 0;
    line-height: 0;
  }
}
// _____ COLORS ______

.customer-section-header {
  width: 100%;
  margin-bottom: 0;
  padding: modules(0.25) modules(0.5);
}

.single-option-header {
  margin-bottom: 0;

  @include min-screen($bp3) {
    @include span-columns(8);
  }
}

.accept-terms a { color: $default; }

// _____ BUTTONS ______

.btn {
  @include transition(opacity 83ms linear);
  @include appearance(none);
  overflow: hidden;
  display: inline-block;
  width: 100%;
  margin: modules(1) 0 0;
  padding: modules(0.5);
  border: 1px solid transparent;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;

  @include min-screen($bp4) {
    width: modules(12);
    margin: 0;
    padding: modules(0.5);
    line-height: 0.75;
  }

  &:hover { opacity: 0.7; }
}

.btn-top        { margin-top: 0; }
.btn-full-width { width :100%; }
.btn-action-activate { margin-top: modules(1); }

.btn-dashboard {
  display: block; margin: 0 auto;
  margin-top: modules(1);

  @include min-screen($bp4) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

// _______ ORDER ________

.amount-button {
  @include user-select(none);
  width: auto;
  padding: 0 modules(0.5);
  cursor: pointer;

  &:first-child { text-align: left; padding-left: 0; }
  &:last-child { text-align: right; padding-right: 0; }

  &:hover { opacity: 0.5; }
}

.table-order {
  width: 100%;
  padding-top: modules(1);
  text-align: left;

  th {
    padding: 0 0 modules(0.5);

    &:last-child{ text-align: center; }
  }

  tr {

    &.table-head {
      background-color: transparent;
    }
  }

  td {
    box-shadow: inset 0px 1px 0px 0px $color_text;
    padding: modules(0.25);
  }
}