// -------------------------------------------------------
//
// TOPUP application styles
//
// -------------------------------------------------------

// ______ TABLE ______

.table-order {
  width: 100%;
  text-align: left;

  th {
    @include mscale($label_size);
    padding: 0;

    &:last-child{ text-align: center; }
  }

  tr {
    font-family: Helvetica;

    &:nth-child(even) { background-color: lighten($pinkMagenta, 45%); }
    &:nth-child(odd) { background-color: $white; }

    &.table-head {
      background-color: transparent;
      font-family: Bebas;
    }
  }

  td { padding: modules(0.5); }
}

.table-amount { width: 10%; text-align: center; }

.table-total {
  @include mscale($base_font_size*1.5);
  background-color: $black;
  color: $white;
  font-family: Bebas;
  font-weight: bold;
}

// ______ STYLES ______

.wrapper-fit {
  margin: 0 0 modules(1) 0;
  padding: modules(1);
  border-radius: 3px;
  box-shadow: inset 0px 0px 0px 1px $grayGunmetal;
  background-color: rgba(0, 0, 0, 0.15);

  @include min-screen($bp3) {
    width: 45%;
    margin: 0 auto;
    padding: modules(1) modules(2);
  }
}

.wristband-image {
  width: auto;
  height: modules(3);
}

.wrapper-product-info {
  display: block;
  overflow: hidden;
  width: 100%;
  margin-bottom: modules(1);
  padding-bottom: modules(1);
  box-shadow: inset 0px -1px 0px 0px $black;
  text-align: center;

  @include min-screen($bp3) { text-align: left; }

  h3 { margin-bottom: 0; }

  input {
    display: inline-block;
    float: none;
    width: modules(6);
    margin: 0 modules(0.5);
  }
}

.product-title, .product-amount {
  display: inline-block;
  vertical-align: middle;
}

.product-title { width:40%; }

.product-amount {
  width:60%; text-align: right;

  input {
    display: inline-block ;
    width: 35%;
    margin: 0 auto modules(1);
    float: none;
    text-align: center;
  }
}

.checkout-total {
  padding-top: modules(0.5);
  box-shadow: inset 0px 1px 0px 0px $black;

  h3, .top-up-amount {
    display: inline-block;
    width: 50%;
  }
}

.top-up-amount {
  @include mscale($label_size);
  font-weight: bold;
  text-align: right;
}

.amount-button {
  @include mscale($label_size);
  @include user-select(none);
  width: auto;
  padding: 0 modules(0.5);
  cursor: pointer;
  color: $pinkMagenta;

  &:first-child { text-align: left; padding-left: 0; }
  &:last-child { text-align: right; padding-right: 0; }

  &:hover { opacity: 0.5; }
}

.wrapper-payment-error { padding: modules(1) 0; }

.wrapper-secure-payment {
  text-align: center;

  @include min-screen($bp3) {
    text-align: left;
    float: left;
  }

  p { margin: modules(0.5) 0; }
  img { height: modules(1.5); }
}

// _______ CREDIT CARDS ICONS _______

.icon-ccs {
  @include mscale($label_size);
  display: inline-block;
  vertical-align: top;
  margin: 0 modules(0.25);

  &:first-child { margin-left: 0; }
}


.bank-page-alert {
  text-align: center;
  padding: modules(0.5) 0;

  @include min-screen($bp3) {
    text-align: right;
    margin-bottom: modules(0.5);
  }
}