// -------------------------------------------------------
//
// TOPUP application styles
//
// -------------------------------------------------------

// _____ IUPAY BTN ______

.btn-iupay {
  @include transition(opacity 83ms linear);
  @include appearance(none);
  overflow: hidden;
  display: inline-block;
  width: 100%;
  margin:  0 0 modules(1);
  padding-top: modules(0.5);
  border: 1px solid transparent;
  background-color: $light_grey;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;

  @include min-screen($bp4) {
    width: modules(6);
    height: modules(1.5);
    margin-top: 0;
    padding-top: modules(0.25);
  }

  img { width: auto; height: modules(1);}

  &:hover { opacity: 0.7; }
}

// ______ TABLE ______

.table-amount { width: 10%; text-align: center; }

.table-total {
  padding: modules(0.5);
  background-color: $black;
  color: $white;
}

// ______ STYLES ______

.wrapper-fit {
  margin: modules(0.5) modules(0.5) modules(1);
  padding: modules(1);
  border-radius: 3px;
  border: 1px solid rgba(150, 150, 150, 0.5);
  background-color: $white;

  @include min-screen($bp3) {
    width: 45%;
    margin: modules(2) auto;
    padding: modules(1) modules(2);
  }
}

.wristband-image {
  width: 75%;
  margin-bottom: modules(0.5);
}

.bar-code {
  width: 100%;
  height: auto;
}

.wrapper-product-info {
  display: block;
  overflow: hidden;
  width: 100%;
  margin-bottom: modules(1);
  padding-bottom: modules(1);
  box-shadow: inset 0px -1px 0px 0px $black;
  text-align: center;

  @include min-screen($bp3) { text-align: left; }

  h3 { margin-bottom: 0; }

  input {
    display: inline-block;
    float: none;
    width: modules(6);
    margin: 0 modules(0.5);
  }
}

.product-title, .product-amount {
  display: inline-block;
  vertical-align: middle;
}

.product-title { width:40%; }

.product-amount {
  @include mscale($half_text);
  width:60%; text-align: right;

  input {
    display: inline-block ;
    width: 35%;
    margin: 0 auto modules(1);
    float: none;
    text-align: center;
  }
}

.checkout-total {
  padding-top: modules(0.5);
  box-shadow: inset 0px 1px 0px 0px $black;

  h3, .top-up-amount {
    display: inline-block;
    width: 50%;
  }
}

.top-up-amount {
  @include mscale($label_size);
  font-weight: bold;
  text-align: right;

  span {
    padding-left: modules(0.5);
  }
}

.wrapper-payment-error { padding: modules(1) 0; }

.container-payment {
  clear: both;
  width: 100%;
  display: block;
}

.wrapper-secure-payment {
  text-align: center;

  @include min-screen($bp2) {
    text-align: left;
    float: left;
  }

  p { margin: modules(0.5) 0; }
  img { height: modules(1.5); }
}

// _______ CREDIT CARDS ICONS _______

#siteseal { padding-left: modules(0.5); }

.wrapper-ccs i {
  @include mscale($double_text);
}

.icon-ccs {
  display: inline-block;
  vertical-align: top;
  margin: 0 modules(0.25);

  &:first-child { margin-left: 0; }
}

.bank-page-alert {
  text-align: center;
  padding: modules(0.5) 0;

  @include min-screen($bp3) {
    text-align: right;
    margin-bottom: modules(0.5);
  }
}

.container-order-buttons {
  overflow: hidden;
  text-align: center;

   @include min-screen($bp2) { text-align: right }

  form {

    @include min-screen($bp2) {
      display: inline-block;
      vertical-align: top;
      padding-left: modules(0.5);
    }
  }
}