// -------------------------------------------------------
//
// Base application styles
//
// -------------------------------------------------------

.wrapper-main {
  position: relative;
  min-height: 100%;
  height: auto;

  @include min-screen($bp3) {
    @include outer-container;
  }
}

// Basic style for each container
.wrapper-field {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 0 modules(1) 0;
  border-radius: 3px;
  border: 1px solid rgba(150, 150, 150, 0.5);
  background-color: $white;

  @include min-screen($bp3) {
    margin: modules(1) 0 modules(2);
  }

  p { margin: 0; }
}

.wrapper-empty { padding: modules(1); }

.container-login-map {
  position: relative;

  @include min-screen($bp3) {
    @include span-columns(4);
  }

  h2, li {
    padding: 0;
    text-align: left
  }
}

.container-login-form {
  position: relative;

  @include min-screen($bp3) {
    @include span-columns(8);
  }
}

// Basic wrapper for single options like cancel account etc
.wrapper-single-option {

  .btn {
    vertical-align: middle;

    @include min-screen($bp3) {
      @include span-columns(4);
    }
  }

  p {
    vertical-align: middle;
    margin: 0;
    padding: 0;

    @include min-screen($bp3) {
      @include span-columns(8);
    }
  }
}

.wrapper-mail-confirm-message {
  text-align: center;

  //@include min-screen($bp3) {
  //  padding: 0 modules(7);
  //}

  i {
    @include mscale($base_font_size*2);
    display: block;
  }
}

.form-inputs {
  overflow: hidden;
  padding: modules(1);
}

.form-actions {
  clear: both;
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  text-align: center;
  font-family: Helvetica, sans-serif;

  &:hover { text-decoration: underline; }

  a { color: $black; }
  figure { display: inline-block; padding: 0 modules(0.25);}
}

// _____ ALIGN TO CENTER ALL ______

.centered {
  text-align: center;

  h3 { text-align: center; }
}

.customer_remember_me {
  display: inline-block;
  margin: 0 auto;
}

.copy-text {
  clear: both;
  width: 100%;
  padding-top: modules(0.5);
  box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.2);

  p { margin: 0; }
}

