// -------------------------------------------------------
//
// Base application styles
//
// -------------------------------------------------------
.container-main {
  min-height: 100%;
}

.wrapper-main {
  position: relative;

  @include min-screen($bp2) { padding: modules(0.5); }

  @include min-screen($bp4) {
    @include outer-container;
  }
}

// Basic style for each container
.wrapper-field {
  position: relative;
  overflow: hidden;
  width: 95%;
  margin: modules(1) auto;
  border-radius: 3px;
  border: 1px solid rgba(150, 150, 150, 0.5);
  background-color: $white;

  @include min-screen($bp3) {
    width: 100%;
  }

  p {
    margin-bottom: modules(0.25);
  }
}

.wrapper-empty { padding: modules(1); }

.sub-claim {
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: modules(0.15);
}

.container-login-form {
  position: relative;

  @include min-screen($bp4) {
    @include span-columns(4);
  }

  label {
    padding-bottom: modules(1);
  }
}

// Basic wrapper for single options like cancel account etc
.wrapper-single-option {

  .btn {
    vertical-align: middle;

    @include min-screen($bp3) {
      @include span-columns(4);
    }
  }

  p {
    vertical-align: middle;
    margin: 0;
    padding: 0;

    @include min-screen($bp3) {
      @include span-columns(8);
    }
  }
}

.wrapper-mail-confirm-message {
  text-align: center;

  //@include min-screen($bp3) {
  //  padding: 0 modules(7);
  //}

  i {
    @include mscale($base_font_size*2);
    display: block;
  }
}

.form-inputs {
  overflow: hidden;
  padding: modules(1);
}

.form-actions {
  clear: both;
  position: relative;
  overflow: hidden;
  display: block;
  width: 100%;
  text-align: center;
  font-family: Helvetica, sans-serif;

  &:hover { text-decoration: underline; }

  a { color: $black; }
  figure { display: inline-block; padding: 0 modules(0.25);}

  &:last-child { margin-bottom: modules(1); }
}

// _____ ALIGN TO CENTER ALL ______

.centered {
  text-align: center;
  padding: modules(0.5);

  h3 { text-align: center; }
}

.copy-text {
  clear: both;
  width: 100%;
  padding-top: modules(0.5);
  box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.2);

  p { margin: 0; }
}

