.analytic-grid-container
  margin: 0 !important

.analytic-grid-graph-container
  padding: 3% 0 !important

.subtitle-container
  h6
    margin: 0

.center-card-title
  text-align: center
  margin: 2.5rem 0

.report_card
  overflow-x: scroll
  table
    width: 100%

    .pvtColTotalLabel, .pvtAxisLabel
      max-width: 15%

.full-height
  min-height: 100vh

.reports-grid
  overflow-x: scroll
  background-color: white
  margin: 1.75rem
  border-radius: 3px

.analytics-card-back
  background-color: #F0F0F0
  border-radius: 5px
  margin: auto

.analytics-card-front
  background-color: white
  border-radius: 5px
  margin: auto
  padding: 2px

.analytics-text
  color: rgb(0,150,136)
