.report_card
  table
    width: 100%

    .pvtColTotalLabel, .pvtAxisLabel
      max-width: 15%


.full-height
  min-height: 100vh

.reports-grid
  overflow-x: scroll
  background-color: white
  margin: 1.75rem
  border-radius: 3px
