@import colors

.container-search
  display: none

.search-toggle
  display: inline-block

.mdl-button.search-toggle
  margin-left: 3%

.transaction-card-wide
  width: 100% !important
  .mdl-card__supporting-text
    width: 100% !important

.inconsistencies-card
  width: 100% !important
  min-height: initial !important

.customer-card
  width: 100% !important
  min-height: 150px !important