- content_for(:title) do
  | Gates Reports
.content-grid.mdl-grid
  .mdl-cell.mdl-cell--12-col
    h4 Check-in
    hr
    .mdl-cell.mdl-cell--12-col
      h5 Tickets Checked In
      .mdl-grid
        table#tickets_checkedin.display.mdl-data-table
    hr
    .mdl-cell.mdl-cell--12-col
      .mdl-grid
        .mdl-cell.mdl-cell--6-col
          .data-card-wide.mdl-card.mdl-shadow--2dp
            = bar_chart @data_checkin_rate, title: "Ticket Check-in Rate (%)", colors: ["#3F51B5"]
    hr
    .mdl-cell.mdl-cell--12-col
      h5 Tickets Checked-in - by Station
      .mdl-grid
        table#checkedin_by_station.display.mdl-data-table
    hr
    .mdl-cell.mdl-cell--12-col
      h5 Accreditation
      .mdl-grid
        table#accreditation.display.mdl-data-table
    h4 Access Control
    hr
    .mdl-cell.mdl-cell--12-col
      h5 Access Control by Station
      .mdl-grid
        table#access_ctrl.display.mdl-data-table
    hr
    .mdl-cell.mdl-cell--12-col
      h5 Access Control - 30min
      .mdl-grid
        table#access_ctrl_min.display.mdl-data-table

javascript:
    $.fn.dataTable.ext.errMode = 'none';
    $(document).ready(function(){

        var tickets_checkedin_data = jQuery.parseJSON('#{ escape_javascript(@tickets_checkedin_data.html_safe)}')
        var tickets_checkedin_columns = jQuery.parseJSON('#{@tickets_checkedin_column.html_safe}')

        $('#tickets_checkedin').dataTable({
            "dom": '<"dt-buttons"Bf><"clear">lirtp',
            "paging": true,
            "autoWidth": true,
            "data": tickets_checkedin_data,
            "columns": tickets_checkedin_columns,
            "order": [[0, 'desc']],
            "buttons": [
                'copyHtml5',
                'csvHtml5',
                'print'
            ]
        });

        var checkedin_by_station_data = jQuery.parseJSON('#{ escape_javascript(@checkedin_by_station_data.html_safe)}')
        var checkedin_by_station_columns = jQuery.parseJSON('#{@checkedin_by_station_column.html_safe}')

        $('#checkedin_by_station').dataTable({
            "dom": '<"dt-buttons"Bf><"clear">lirtp',
            "paging": true,
            "autoWidth": true,
            "data": checkedin_by_station_data,
            "columns": checkedin_by_station_columns,
            "order": [[0, 'desc']],
            "buttons": [
                'copyHtml5',
                'csvHtml5',
                'print'
            ]
        });

        var accreditation_data = jQuery.parseJSON('#{ escape_javascript(@accreditation_data.html_safe)}')
        var accreditation_columns = jQuery.parseJSON('#{@accreditation_column.html_safe}')

        $('#accreditation').dataTable({
            "dom": '<"dt-buttons"Bf><"clear">lirtp',
            "paging": true,
            "autoWidth": true,
            "data": accreditation_data,
            "columns": accreditation_columns,
            "order": [[0, 'desc']],
            "buttons": [
                'copyHtml5',
                'csvHtml5',
                'print'
            ]
        });

        var access_ctrl_data = jQuery.parseJSON('#{ escape_javascript(@access_ctrl_data.html_safe)}')
        var access_ctrl_columns = jQuery.parseJSON('#{@access_ctrl_column.html_safe}')

        $('#access_ctrl').dataTable({
            "dom": '<"dt-buttons"Bf><"clear">lirtp',
            "paging": true,
            "scrollX": true,
            "data": access_ctrl_data,
            "columns": access_ctrl_columns,
            "order": [[0, 'desc']],
            "buttons": [
                'copyHtml5',
                'csvHtml5',
                'print'
            ]
        });

        var access_ctrl_min_data = jQuery.parseJSON('#{ escape_javascript(@access_ctrl_min_data.html_safe)}')
        var access_ctrl_min_columns = jQuery.parseJSON('#{@access_ctrl_min_column.html_safe}')

        $('#access_ctrl_min').dataTable({
            "dom": '<"dt-buttons"Bf><"clear">lirtp',
            "paging": true,
            "scrollX": true,
            "data": access_ctrl_min_data,
            "columns": access_ctrl_min_columns,
            "order": [[0, 'desc']],
            "buttons": [
                'copyHtml5',
                'csvHtml5',
                'print'
            ]
        });

        $(".dt-button").addClass("mdl-button mdl-js-button");
        $(".dt-button").removeClass("dt-button");

        $(".paginate_button").addClass("mdl-button mdl-js-button");
        $(".paginate_button").removeClass("paginate_button");

    });
