- content_for(:title) do
  | Gate Close Reports for Billing

.content-grid.mdl-grid
  .mdl-cell.mdl-cell--12-col
    .mdl-grid
      .mdl-cell.mdl-cell--3-col
        .customer-card.mdl-card.mdl-shadow--2dp
          .mdl-card__title.mdl-card--expand
            h4.mdl-card__title-text Total Activations
          .mdl-grid.mdl-card__supporting-text
            .mdl-cell.mdl-cell--12-col
              h5
                | &nbsp;
                = number_with_delimiter @total_activations
      .mdl-cell.mdl-cell--3-col
        .customer-card.mdl-card.mdl-shadow--2dp
          .mdl-card__title.mdl-card--expand
            h4.mdl-card__title-text Total Devices
          .mdl-grid.mdl-card__supporting-text
            .mdl-cell.mdl-cell--12-col
              h5
                | &nbsp;
                = number_with_delimiter @total_devices
    br
    hr
    .mdl-cell.mdl-cell--12-col
      h5 Activations by Station and Day
      .mdl-grid
        table#activations.display.mdl-data-table
    br
    hr
    .mdl-cell.mdl-cell--12-col
      h5 Device Used
      .mdl-grid
        table#devices.display.mdl-data-table


javascript:
  $.fn.dataTable.ext.errMode = 'none';
  $(document).ready(function(){

      var data_act = jQuery.parseJSON('#{ escape_javascript(@activations_data.html_safe)}')
      var columns_act = jQuery.parseJSON('#{@activations_column.html_safe}')

      $('#activations').dataTable({
          "dom": '<"dt-buttons"Bf><"clear">lirtp',
          "paging": true,
          "autoWidth": true,
          "data": data_act,
          "columns": columns_act,
          "order": [[0, 'desc']],
          "buttons": [
              'copyHtml5',
              'csvHtml5',
              'print'
          ]
      });

      var data_devices = jQuery.parseJSON('#{ escape_javascript(@devices_data.html_safe)}')
      var columns_devices = jQuery.parseJSON('#{@devices_column.html_safe}')

      $('#devices').dataTable({
          "dom": '<"dt-buttons"Bf><"clear">lirtp',
          "paging": true,
          "autoWidth": true,
          "data": data_devices,
          "columns": columns_devices,
          "order": [[0, 'desc']],
          "buttons": [
              'copyHtml5',
              'csvHtml5',
              'print'
          ]
      });

      $(".dt-button").addClass("mdl-button mdl-js-button");
      $(".dt-button").removeClass("dt-button");

      $(".paginate_button").addClass("mdl-button mdl-js-button");
      $(".paginate_button").removeClass("paginate_button");
  });
