- content_for(:title) do
  | Gate Close Reports for Money Reconciliation

.content-grid.mdl-grid
  .mdl-cell.mdl-cell--12-col
    .mdl-cell.mdl-cell--3-col
      .customer-card.mdl-card.mdl-shadow--2dp
        .mdl-card__title.mdl-card--expand
          h4.mdl-card__title-text Total Money
        .mdl-grid.mdl-card__supporting-text
          .mdl-cell.mdl-cell--12-col
            h5
              i.material-icons attach_money
              | &nbsp;
              = number_with_delimiter @total_money
    br
    hr
    .mdl-cell.mdl-cell--10-col
      h5 Money Income
      .mdl-grid
        table#money_income.display.mdl-data-table
    br
    hr
    .mdl-cell.mdl-cell--12-col
      h5 Operators Money Reconciliation
      .mdl-grid
        table#operator_recon.display.mdl-data-table
    br

javascript:
    $.fn.dataTable.ext.errMode = 'none';
    $(document).ready(function(){



        var data = jQuery.parseJSON('#{ escape_javascript(@action_station_money_data.html_safe)}')
        var columns = jQuery.parseJSON('#{@action_station_money_column.html_safe}')
        $('#money_income').dataTable({
            "dom": '<"dt-buttons"Bf><"clear">lirtp',
            "paging": true,
            "autoWidth": true,
            "data": data,
            "columns": columns,
            "order": [[0, 'desc']],
            "buttons": [
                'copyHtml5',
                'csvHtml5',
                'print'
            ]
        });

        var data_op= jQuery.parseJSON('#{ escape_javascript(@operator_recon_data.html_safe)}')
        var columns_op = jQuery.parseJSON('#{@operator_recon_column.html_safe}')

        $('#operator_recon').dataTable({
            "dom": '<"dt-buttons"Bf><"clear">lirtp',
            "paging": true,
            "autoWidth": true,
            "data": data_op,
            "columns": columns_op,
            "order": [[0, 'desc']],
            "buttons": [
                'copyHtml5',
                'csvHtml5',
                'print'
            ]
        });

        $(".dt-button").addClass("mdl-button mdl-js-button");
        $(".dt-button").removeClass("dt-button");

        $(".paginate_button").addClass("mdl-button mdl-js-button");
        $(".paginate_button").removeClass("paginate_button");

    });
