- content_for(:title) do
  | Operators Report

.content-grid.mdl-grid
  .mdl-cell.mdl-cell--12-col
    .mdl-cell.mdl-cell--10-col
      h5 Sales by Operators
      .mdl-grid
        table#operators_sale.display.mdl-data-table
    br
    hr
    br
    .mdl-cell.mdl-cell--10-col
      h5 Money Reconciliation by Operator
      .mdl-grid
        table#operators_money.display.mdl-data-table

javascript:
    $.fn.dataTable.ext.errMode = 'none';
    $(document).ready(function(){

        var data_op_s = jQuery.parseJSON('#{ escape_javascript(@operators_sale_data.html_safe)}')
        var columns_op_s = jQuery.parseJSON('#{@operators_sale_columns.html_safe}')

        $('#operators_sale').dataTable({
            "dom": '<"dt-buttons"Bf><"clear">lirtp',
            "paging": true,
            "autoWidth": true,
            "data": data_op_s,
            "columns": columns_op_s,
            "order": [[0, 'desc']],
            "buttons": [
                'copyHtml5',
                'csvHtml5',
                'print'
            ]
        });

        var data_op_m = jQuery.parseJSON('#{ escape_javascript(@operators_money_data.html_safe)}')
        var columns_op_m = jQuery.parseJSON('#{@operators_money_columns.html_safe}')
        debugger
        $('#operators_money').dataTable({
            "dom": '<"dt-buttons"Bf><"clear">lirtp',
            "paging": true,
            "autoWidth": true,
            "data": data_op_m,
            "columns": columns_op_m,
            "order": [[0, 'desc']],
            "buttons": [
                'copyHtml5',
                'csvHtml5',
                'print'
            ]
        });


        $(".dt-button").addClass("mdl-button mdl-js-button");
        $(".dt-button").removeClass("dt-button");

        $(".paginate_button").addClass("mdl-button mdl-js-button");
        $(".paginate_button").removeClass("paginate_button");
    });