- content_for(:title) do
  | Product Sale Reports
.content-grid.mdl-grid
  .mdl-cell.mdl-cell--12-col
    .mdl-cell.mdl-cell--12-col
      h5 Sales by Station Category
      .mdl-grid
        table#sales_by_station.display.mdl-data-table
    br
    hr
    br
    .mdl-cell.mdl-cell--12-col
      h5 Products Performance
    .mdl-grid
      .mdl-cell.mdl-cell--6-col
        .data-card-wide.mdl-card.mdl-shadow--2dp
          = bar_chart @top_products_by_quantity_data, title: "Top 10 Product sales by Quantity", colors: ["#3F51B5"]
      .mdl-cell.mdl-cell--6-col
          .data-card-wide.mdl-card.mdl-shadow--2dp
            = bar_chart @top_products_by_amount_data, title: "Top 10 Product sales in Credit Amount", colors: ["#00BCD4"]
    .mdl-cell.mdl-cell--12-col
      .data-card-wide.mdl-card.mdl-shadow--2dp
        = column_chart @perfomance_by_station_data, title: "Performance of Stations in Amount", stacked: true
    br
    hr
    br
    .mdl-cell.mdl-cell--12-col
      h5 Products Sale by Station
      | "Q" = Quantity | "A" = Amount
      .mdl-grid
        table#products_sale_station.display.mdl-data-table
    br
    hr
    br
      .mdl-cell.mdl-cell--12-col
        h5 Overall Products Sale
        | "Q" = Quantity | "A" = Amount
        .mdl-grid
          table#products_sale_overall.display.mdl-data-table



javascript:
    $.fn.dataTable.ext.errMode = 'none';
    $(document).ready(function(){

        var data_act = jQuery.parseJSON('#{ escape_javascript(@sales_by_station_data.html_safe)}')
        var columns_act = jQuery.parseJSON('#{@sales_by_station_column.html_safe}')

        $('#sales_by_station').dataTable({
            "dom": '<"dt-buttons"Bf><"clear">lirtp',
            "paging": true,
            "autoWidth": true,
            "data": data_act,
            "columns": columns_act,
            "order": [[0, 'desc']],
            "buttons": [
                'copyHtml5',
                'csvHtml5',
                'print'
            ]
        });

        var data_prod = jQuery.parseJSON('#{ escape_javascript(@products_sale_station_data.html_safe)}')
        var columns_prod = jQuery.parseJSON('#{@products_sale_station_column.html_safe}')

        $('#products_sale_station').dataTable({
            "dom": '<"dt-buttons"Bf><"clear">lirtp',
            "paging": true,
            "autoWidth": true,
            "data": data_prod,
            "columns": columns_prod,
            "order": [[0, 'desc']],
            "buttons": [
                'copyHtml5',
                'csvHtml5',
                'print'
            ]
        });

        var data_prod_o = jQuery.parseJSON('#{ escape_javascript(@products_sale_overall_data.html_safe)}')
        var columns_prod_o = jQuery.parseJSON('#{@products_sale_overall_column.html_safe}')

        $('#products_sale_overall').dataTable({
            "dom": '<"dt-buttons"Bf><"clear">lirtp',
            "paging": true,
            "autoWidth": true,
            "data": data_prod_o,
            "columns": columns_prod_o,
            "order": [[0, 'asc']],
            "buttons": [
                'copyHtml5',
                'csvHtml5',
                'print'
            ]
        });

        $(".dt-button").addClass("mdl-button mdl-js-button");
        $(".dt-button").removeClass("dt-button");

        $(".paginate_button").addClass("mdl-button mdl-js-button");
        $(".paginate_button").removeClass("paginate_button");

    });
