ul
  li.table-action.action-delete = link_to admins_event_station_access_control_gate_path(current_event, @station, access_control_gate), method: :delete, data: { confirm: t('admin.confirm.delete') } do
    = fa_icon "trash"
