.wrapper-field.centered
  .form-inputs
    h3.claim = t('dashboard.without_gtags_claiming_started.claim')
    form#merchant-form action="/create-transaction" method="post"
      #paypal-container
      input type="submit" value="Submit"

javascript:
  braintree.setup("CLIENT-TOKEN-FROM-SERVER", "custom", {
    paypal: {
      container: "paypal-container",
      singleUse: false,
      locale: 'en_us',
      enableShippingAddress: true,
      shippingAddressOverride: {
        recipientName: 'Scruff McGruff',
        streetAddress: '1234 Main St.',
        extendedAddress: 'Unit 1',
        locality: 'Chicago',
        countryCodeAlpha2: 'US',
        postalCode: '60652',
        region: 'IL',
        phone: '123.456.7890',
        editable: false
    },
    dataCollector: {
      paypal: true
    },
    onPaymentMethodReceived: function (obj) {
      doSomethingWithTheNonce(obj.nonce);
    }
  });