.wrapper-field.centered
  h3 = t('dashboard.without_gtags.title')
  = link_to t('dashboard.without_gtags.button'), new_customers_gtag_registration_path, class: "btn btn-primary"
  p = t('dashboard.without_gtags.description')