.wrapper-field.centered.form-inputs
  h3 = t('dashboard.without_gtags.title')
  p = t('dashboard.without_gtags.description')
  = link_to t('dashboard.without_gtags.button'), new_customers_gtag_registration_path, class: "btn btn-action-activate"