= simple_form_for [:admins, current_event, commentable, Comment.new] do |f|
  = f.input :body, label: false, placeholder: t('simple_form.placeholders.comment.new.body')
  = f.submit class: "btn btn-primary"