dt = t("admin.purchasers.first_name")
dd = ticket.purchaser.first_name if ticket.purchaser.first_name.present?
dt = t("admin.purchasers.last_name")
dd = ticket.purchaser.last_name if ticket.purchaser.last_name.present?
dt = t("admin.purchasers.email")
dd = ticket.purchaser.email if ticket.purchaser.email.present?
