/* ------------------------------------------------------- *\

  Base stylesheet for common elments

\* ------------------------------------------------------- */

*, :after, :before {
  box-sizing: border-box;
}

//Variables

$small_text:        $base_font_size*0.75;
$label-size:        $base-font-size;
$credit-size:       $base-font-size*1.75;
$radius:            3px;
//

// HTML base styles

html, body {
  position: relative;
  height: 100%;

  @include min-screen($bp3) { @include sticky-footer(modules(2)); }
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding:0;
}

p { line-height: 170%; }

a {
  text-decoration: none;
}

// Custom texts sizes

.panel-amount-number {
  @include mscale($credit-size);
  margin-bottom: 0;
  font-weight: bold;
}

// Refs to text alignment

.wrapper-module-centered {
  h3, p, img {
    padding: 0;
    text-align: center;
  }
}

.img-ticket {
  display: block;
  width: 90%;
  margin: 0 auto modules(1);

  @include min-screen($bp3) {
    max-width: modules(20);
  }
}

.img-gtag {
  display: block;
  width: 90%;
  margin: 0 auto modules(1);
  max-width: modules(10);
}

.center-text {
  text-align: center;
}

.highlight-text {
  font-weight: bold;
  margin-bottom: 0;
}

// ---------------------------------------------------------------------------------------------

