/* ------------------------------------------------------- *\

  Base stylesheet for common elments

\* ------------------------------------------------------- */

*, :after, :before {
  box-sizing: border-box;
}

//Variables

$small_text:        $base_font_size*0.75;
$label-size:        $base-font-size;
$credit-size:       $base-font-size*1.75;

$radius:            3px;
//

// HTML base styles

html, body {
  position: relative;
  height: 100%;

  @include min-screen($bp3) { @include sticky-footer(modules(4)); }
}

.unscrollable-view {
  position: relative !important;
  min-height: 100% !important;
  max-height: 100% !important;
  overflow: hidden !important;
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding:0;
}

p { line-height: 170%; }

a {
  text-decoration: none;
}

// Custom texts sizes

.panel-amount-number {
  @include mscale($credit-size);
  margin-bottom: 0;
  font-weight: bold;
}

// Refs to text alignment

.ticket-name, .product-name {
  margin-bottom: modules(0.25);
}

.ticket-id {
  margin-bottom: modules(0.25);
  font-weight: bold;
}

.img-ticket {
  display: block;
  width: 90%;
  margin: 0 auto modules(1);

  @include min-screen($bp3) {
    margin: modules(1) auto;
    max-width: modules(13);
    height: auto;
  }
}

.img-gtag {
  display: block;
  width: 90%;
  margin: 0 auto modules(1);
  max-width: modules(10);
}

.center-text { text-align: center; }
.italic-text { font-style: italic; }

.highlight-text {
  font-weight: bold;
  margin-bottom: 0;
}

.hint {
  color: $color_text;
  font-style: italic;
}

.hint-text {
  color: $grey;
  font-weight: bold;
  text-transform: uppercase;
}

.hint-redirect {
  margin-bottom: 0;
  color: $grey;
}

.hint-review { padding: modules(1) 0; }

.ticket-detail-module {
  padding: modules(0.5) 0;
  box-shadow: inset 0px -1px 0px 0px lighten($light_grey,17%);

  li {
    font-weight: bold;
  }

}

.event-state-image {
  width: auto;
  height: modules(6);
  margin-bottom: modules(0.5);
}

.hint {
  display: none;

  @include min-screen($bp3) {
    @include transition(opacity 200ms ease-in-out, top 150ms ease-in-out);
    @include mscale($base-font-size*0.85);
    display: block;
    position: absolute;
    top: modules(2);
    left: -20%;
    width: 140%;
    border-radius: $radius;
    padding: modules(0.15);
    background-color: $dark_grey;
    color: $nuclear;
    text-transform: none;
    font-style: normal;
    opacity: 0;

    &:before {
      display: block;
      position: absolute;
      top: -6px;
      left: 45%;
      content: "";
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid $color_text;
    }
  }
}
// ---------------------------------------------------------------------------------------------

