/* ------------------------------------------------------- *\

  Base stylesheet for DASHBOARD

\* ------------------------------------------------------- */

// Container for dashboard info for ticket and credit


.btn {
  @include transition(background 200ms ease-in-out, opacity 200ms ease-in-out, color 200ms ease-in-out);
  position: relative;
  display: block;
  margin: 0 auto modules(1);
  width: modules(4);
  height: modules(2);
  padding: modules(0.25) modules(0.5);
  border-radius: 25px;
  text-transform: uppercase;
  text-align: center;
}

.btn-action-register {
  @include transition(background 200ms ease-in-out, color 200ms ease-in-out, color 200ms ease-in-out);
  position: absolute;
  top: modules(0.5);
  right: modules(0.5);
  width: modules(5);
  display: block;
  vertical-align: top;
  height: modules(2);
  padding-top: modules(0.5);
  border-radius: $radius;

  &:focus { outline: none; }
}

.btn-action-enter {
  @include transition(background 200ms ease-in-out, color 200ms ease-in-out, color 200ms ease-in-out);
  display: block;
  vertical-align: top;
  width: modules(12);
  height: modules(2);
  margin:  0 auto modules(1);
  background-color: transparent;

  &:focus { outline: none; }
}

.btn-action-primary {
  @include transition(background 200ms ease-in-out, color 200ms ease-in-out, color 200ms ease-in-out);
  width: 100%;
  display: inline-block;
  vertical-align: top;
  float: right;
  margin: modules(1) 0;
  background-color: transparent;
  font-weight: bold;
}

// Centered button inside the column

.btn-action-secondary {
  max-width: modules(12);
  height: auto;
  display: inline-block;
  vertical-align: top;
  float: right;
}

// Floating button inside column

.btn-action-dashboard {
  position: absolute;
  top: modules(0.75);
  right: modules(0.25);
  display: inline-block;
  width: modules(5);
  height: auto;
  border-radius: 25px;
  z-index: 1;
  font-weight: bold;

  @include min-screen($bp3) { top: modules(0.5); }

  &:hover {
    &:after {
      @include transform(scale(0.7));
      opacity: 1;
    }
  }

  &:after {
    @include box-sizing(content-box);
    @include transition(transform 200ms ease-in-out, opacity 200ms ease-in-out);
    @include transform(scale(1.2));
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    content:'';
    top: -5px;
    left: -5px;
    padding: 5px;
    opacity: 0;
  }

  @include min-screen($bp3) {
    top: modules(1.35);
    right: modules(1);
  }
}

.btn-action-empty-state {
  display: block;
  max-width: modules(9);
  width: auto;
  height: auto;
  margin: 0 auto;
}

.btn-action-add-paypal {
  @include transition(background-color 200ms ease-in-out);
  width: 100%;
  height: auto;
  margin-bottom: 0;
  background-color: $paypal;
  color: $nuclear;

  i {
    display: inline-block;
    width: auto;
    padding-right: modules(0.25);
    color: $nuclear;
  }

  &:hover { background-color: lighten($paypal,7%); }

  @include min-screen($bp3) { width: modules(12); }
}

.btn-action-back {
  position: fixed;
  bottom: modules(1);
  right: modules(0.5);
  height: auto;
  z-index: 5;
}

// ---------------------------------------------------------------------------------------------

