/* ------------------------------------------------------- *\

  Tables and checkout styles

\* ------------------------------------------------------- */

.wrapper-payments-methods {
  text-align: center;
  padding-bottom: modules(1);

  @include min-screen($bp3) {
    position: absolute;
    top: modules(0.75);
    right: modules(1);
    padding-bottom: 0;
    text-align: right;
  }

  i {
    @include mscale($quarter_text);
    display: inline-block;
    padding-right: modules(0.5);

    &:last-child { padding-right: 0; }
  }
}

// _______ ORDER ________

.table-order {
  width: 100%;
  margin-bottom: modules(1);
  text-align: left;
  border-collapse: collapse;

  th {
    display: none;
    padding: 0 0 modules(0.5);

    &:last-child{ text-align: right; }
  }

  tr {

    &.table-head {
      background-color: transparent;
    }

    td:last-child{
      text-align: right;
    }
  }

  td {
    padding: modules(0.25) 0;
    color: $grey;
    border-bottom: 1px solid $form_gray;
  }
}

.total-amount {
  text-transform: uppercase;

  td {
    @include mscale($half_text);
    vertical-align: top;
    padding: modules(0.5) 0;
    color: $color_text;
    font-weight: bold;
    border-bottom: none;
  }
}

.vat-text {
  @include mscale($disclaimer);
  display: block;
  color: $grey;
  font-weight: bold;
  text-transform: none;
}

 .wrapper-seal {
  padding: modules(1);
  clear: both;
  text-align: center;

  img {
    width: auto;
    height: modules(1.5);
  }
}

.checkout-title, .checkout-amount {
  @include mscale($double_text);
  display: inline-block;
  vertical-align: middle;
  width: auto;
  font-weight: bold;
  text-transform: uppercase;
}

.checkout-amount {
  float: right;
  span { @include mscale($double_text); }
}
