/* ------------------------------------------------------- *\

  Base stylesheet for footer

\* ------------------------------------------------------- */

footer {
  overflow: hidden;
  padding:  modules(1) modules(0.5);
  background-color: $glwnt_header;
  box-shadow: inset 0px 1px 0px 0px $black;
  text-align: center;

  .small { @include mscale($small_text); }

  @include min-screen($bp3) {
    padding: modules(0.5);
    text-align: left;
  }

  i {
    display: inline-block;
    padding-right: modules(0.25);
    color: $white;
    text-shadow: 0px 1px 2px #555;
  }

  .selected { color: $footer_text; text-shadow: none; }
}

.nav-footer {
  display: block;
  float: right;
  width: 100%;
  text-align: center;

  @include min-screen($bp3) {
    display: inline-block;
    width: auto;
    text-align: left;
  }
}

.wrapper-conditions {
  display: inline-block;
  width: auto;
  padding-top: modules(1);
  text-align: center;


  @include min-screen($bp3) {
    display: inline;
    padding-top: 0;
    text-align: right;
  }
}

.condition-link {
  display: inline-block;
  width: auto;
  padding: 0 modules(0.25);

   @include min-screen($bp1) {

    &:last-child:after {
      content: "/";
      display: inline;
      padding-left: modules(0.25);
      font-weight: bold;
    }
  }
}

.copy {
  margin: 0;
  color: $footer_text;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  opacity: 0.8;

  &:hover { color: $pinkMagenta; }
}

.footer-year { padding-left: modules(0.25); }

.footer-support {
  display: block;
  color: $footer_text;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.8;

  @include min-screen($bp1) {
    display: inline-block;
    padding-right: modules(0.5);
  }

  i { color: $footer_text; }
}

.container-language {
  position: relative;
  display: inline-block;
  padding-top: modules(1);

  @include min-screen($bp1) { width: auto; padding: 0; }

  li {
    display: inline-block;
    width: auto;
    padding: 0 modules(0.15);
    font-weight: bold;
    cursor: pointer;
  }
}

.language-item {
  color: $black;
  text-shadow: 0px 1px 2px #555;

  &:hover { color: $pinkMagenta; text-shadow: none; }
}

.footer-separator {
  display: inline-block;

  &:before{
    content: "|";
    display: block;
    border-radius: 5px;
    color: $black;
    text-shadow: 0px 2px 2px #555;
  }
}