/* ------------------------------------------------------- *\

  Base stylesheet for footer

\* ------------------------------------------------------- */

footer {
  position: relative;
  overflow: hidden;
  background-color: $glwnt_header;
  box-shadow: inset 0px 1px 0px 0px $black;
  color: rgba(255,255,255,0.5);
  text-align: center;

  @include min-screen($bp3) { text-align: left;  }

  h3, a { color: rgba(255,255,255,0.7); }
}

.footer-nav {
  display: block;
  padding: modules(1);

  h3 {
    @include mscale($base_font_size);
    margin-bottom: modules(0.5);
    text-transform: uppercase;
  }

  ul {
    display: inline-block;
    vertical-align: top;
    width: auto;

    @include min-screen($bp1) {
      padding-right: modules(2);

      &:last-child { padding-right: 0; }
    }
  }

  a {
    text-decoration: underline;

    &:hover { text-decoration: none; }
  }

  .selected {
    color: $pinkMagenta;
    font-weight: bold;
  }
}

.wrapper-copy {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: modules(0.5);
  background-color: darken($glwnt_header,7%);
  text-align: center;
  text-transform: uppercase;
}

// /\/\/\/\/\/\/\/\/\ LANGUAGE SELECT /\/\/\/\/\/\/\/\/\/\/\

.container-language {
  position: relative;
  display: inline-block;
  width: auto;
  padding-top: modules(1);
  text-align: center;

  @include min-screen($bp3) {
    float: right;
    padding: 0;
    text-align: right;
  }

  li {
    display: inline-block;
    width: auto;
    padding: 0 modules(0.15);
    font-weight: bold;
    cursor: pointer;
  }

  a { text-decoration: none; }
}

.language-item {
  font-weight: 300;

  &:hover { color: rgba(255,255,255,0.2); }
}

.footer-separator {
  display: inline-block;

  &:before{ content: "|"; }
}