// -------------------------------------------------------
//
//  Page form styles
//
// -------------------------------------------------------

abbr { display: none; }

label {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

select {
  margin-bottom: modules(1);
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
  @include appearance(none);
  border: 1px solid transparent;
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=url],
input[type=tel],
input[type=search],
textarea {
  @include appearance(none);
  margin-bottom: 0;
}

button {
  @include appearance(none);
  width: 100%;
  border: 1px solid transparent;
}

.input {
  padding-bottom: modules(1);
}