// -------------------------------------------------------
//
//  Page form styles
//
// -------------------------------------------------------

abbr { display: none; }

.input { position: relative; overflow: hidden; }

label {
  @include transition(color 123ms linear, top 123ms linear);
  display: block;
  position: absolute;
  top: modules(1.5);
  z-index: 20;
  color: $grey;
}

.to-be-label {

  top: modules(0.5);
}

select {
  @include linear-gradient($air_gray, $graySilver);
  height: modules(2);
  margin-bottom: modules(1);
  background-color: $air_gray;

  &:focus {
    outline: none;
    border: 1px solid $nuclear;
  }
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
  @include appearance(none);
  border: 1px solid transparent;
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=url],
input[type=tel],
input[type=search] {
  @include appearance(none);
  @include placeholder { color: $grey; }
  position: relative;
  display: block;
  width: 100%;
  margin: modules(1) 0;
  padding: modules(0.5) 0;
  border: none;
  box-shadow: 0px -1px 0px 0px #999 inset;
  color: $color_text;

  &:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #999 inset, 0px 0px 6px 2px lighten($grey, 27%);
    background-color: transparent;
    opacity: 1;
  }
}

.wrapper-session-login {
  position: relative;

  label { display: none; }
  input { padding: modules(0.5) modules(0.5) modules(0.5) modules(1); }

  i {
    position: absolute;
    top: modules(1.6);
    left: 0;
    opacity: 0.6;
  }
}

button {
  @include appearance(none);
  width: 100%;
  border: 1px solid transparent;
}
