/* ------------------------------------------------------- *\

  Base stylesheet for common elments

\* ------------------------------------------------------- */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: modules(0.5) 0;
  z-index: 3;

  h1 {
    display: none;

    @include min-screen($bp3) {
      @include mscale($base_font_size*1.25);
      display: inline-block;
      vertical-align: top;
      width: auto;
      padding: 0 modules(0.5);
    }
  }
}

nav {
  display: inline-block;
  width: auto;
  float: right;

  ul { text-align: right; }

  li {
    display: inline-block;
    width: auto;
    padding: 0 modules(0.5);

    i {
      display: inline-block;
      width: auto;
      padding-right: modules(0.25);
    }
  }

  a {
    padding: 0 modules(0.25);
    border-radius: $radius;

    &:hover, &:focus {
      outline: none;
      background-color: rgba(255,255,255,0.33);
    }
  }
}

// ---------------------------------------------------------------------------------------------
