/* ------------------------------------------------------- *\

  Base stylesheet for common elments

\* ------------------------------------------------------- */

.header-mobile {
  display: block;

  @include min-screen($bp3) { display: none; }

  h1 {
    @include mscale($base_font_size);
    display: inline-block;
    vertical-align: top;
    width: auto;
    margin-bottom: 0;
    padding: modules(0.5);
  }

  a { color: $color_text; }

  .open-nav {
    @include transition(max-height 200ms ease-in-out);
    overflow: visible;
    max-height: 30;
    height: auto;
  }
}

.mobile-trigger {
  display: inline-block;
  vertical-align: top;
  width: auto;
  float: right;
  padding: 0 modules(0.5) modules(0.25);
  cursor: pointer;
  font-weight: 500;

  &:before {@include mscale($base_font_size*2);}
  &:hover { opacity: 0.7; }
}

.mobile-options {
  @include transition(max-height 200ms ease-in-out);
  overflow: hidden;
  display: block;
  position: absolute;
  height: 0;
  right: modules(0.5);
  top: modules(1.95);
  border-radius: $radius;
  background-color: $color_text;
  z-index: 5;

  li {
    display: block;
    padding: modules(0.5) modules(0.5) modules(0.5) modules(4);
  }

  a { color: $nuclear; }

  &:before {
    display: block;
    position: absolute;
    top: -6px;
    right: 7px;
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid $color_text;
    z-index: 90;
  }
}

.header-desktop {
  display: none;
  max-height: 0;

  @include min-screen($bp3) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: modules(0.5) 0;
    z-index: 3;
  }

  h1 {
    display: none;

    @include min-screen($bp3) {
      @include mscale($base_font_size*1.25);
      display: inline-block;
      vertical-align: top;
      width: auto;
      padding: 0 modules(0.5);
    }
  }
}

nav {
  display: inline-block;
  width: auto;
  float: right;

  ul { text-align: right; }

  li {
    @include transition(background-color 130ms ease-in-out);
    display: inline-block;
    width: auto;
    padding: 0 modules(0.5);

    i {
      display: inline-block;
      width: auto;
      padding-right: modules(0.25);
    }
  }

  a {
    padding: 0 modules(0.25);
    border-radius: $radius;

    &:hover, &:focus {
      outline: none;
      background-color: rgba(255,255,255,0.33);
    }
  }
}

// ---------------------------------------------------------------------------------------------
