// -------------------------------------------------------
//
// Styles modules
//
// -------------------------------------------------------

$quarter_text:           $base_font_size * 1.25;

// Styles for the ticket modules

.customer-ticket {
  @include transition(box-shadow 180ms ease-in-out, opacity 180ms ease-in-out);
  position: relative;
  width: 100%;
  margin: modules(0.5) modules(0.5) modules(0.5) 0;
  border-radius: $radius;
  box-shadow: inset 0 0 0 1px lighten($light_grey, 17%);
  text-align: left;
  cursor: pointer;

  p { margin-bottom: 0; }

  a {
    display: block;
    width: 100%;
    height: 100%;
    padding: modules(0.5) modules(1.25) modules(0.5) modules(0.5);
    color: $color_text;
  }

  i {
    position: absolute;
    top: 30%;
    right: modules(0.5);
    display: block;
  }

  &:hover {
    box-shadow: inset 0 0 0 1px lighten($light_grey, 17%), 0 2px 3px $light_grey;
    opacity: 0.7;
  }

  &:first-child { margin-top: modules(1); }
}

.credential-types {

  h3 { padding-right: 0; }

  label {
    position: relative;
    top: 0;
  }
}

// Styles for the gtag/ticket id

.id-number {
  display: inline-block;
  width: auto;
  padding-top: modules(0.25);

  @include min-screen($bp3) { padding-top: modules(0.25); }
}

// STORE

.wrapper-store-module {
  padding: modules(1);

  h3 { text-transform: uppercase; }
  p { margin-bottom: 0; }
}

.store-module {

  h3 { padding-right: 0; }

  .container-customer-product {
    &:first-child { padding-top: 0;}
    &:last-child { box-shadow: none; }
  }
}

.store-module-title {
  @include mscale($quarter_text);
  font-weight: bold;
  text-transform: uppercase;
}

// PayPal accept terms in checkout view styles

.wrapper-acceppt-paypal-terms {
  margin-bottom: modules(1);

  label,
  input { display: inline !important; width: auto; }

  label {
    position: relative;
    top: 0;
    display: inline-block;
    padding-left: modules(0.25);
    color: $color_text;

    .to-be-label { position: relative; }
  }
}

// ···
