/* ------------------------------------------------------- *\

  Payments styles

\* ------------------------------------------------------- */

.controls, .control-group {
  overflow: hidden;
  position: relative;
}

#braintree-payment-form {

}

#card-number {
  border: 1px solid #333;
  -webkit-transition: border-color 160ms;
  transition: border-color 160ms;
  background-color: yellow;
}

#card-number.braintree-hosted-fields-focused {
  border-color: #777;
  background-color: yellow;
}

#card-number.braintree-hosted-fields-invalid {
  border-color: blue;
  background-color: yellow;
}

#card-number.braintree-hosted-fields-valid {
  border-color: red;
  background-color: yellow;
}

.controls {
  input[type=text] { margin: modules(0.5) 0; }
  label { top: modules(1); }
  .to-be-label { top: 0; }
}

.expiration-label {
  position: relative;
  top: 0;
  margin-bottom: modules(0.5);
}

.payment-expiration-year, .payment-expiration-month { color: $grey !important; }
.payment-expiration-year {
  margin-right: modules(0.5);
}

.tipalti {
  width: 100%;
  height: modules(2);
}

.payment-errors {
  overflow: hidden;
  margin: 0 modules(1) 0;
  border-radius: 50px;
  background-color: $red;
  color: $nuclear;
  text-align: center;
}