// -------------------------------------------------------
//
// Styles for the login and sign up forms
//
// -------------------------------------------------------

// Login wrapper

.wrapper-session {
  position: relative;
  padding: modules(1);

  h3 { text-transform: uppercase; }

  label {
    font-weight: bold;
    text-transform: uppercase;
  }

  select {
    @include linear-gradient($air_gray, $graySilver);
    margin-bottom: 0;
    height: modules(2);
    background-color: $air_gray;

    &:focus {
      outline: none;
      border: 1px solid $nuclear;
    }
  }
}

// Inputs and selects

.session-input {
  @include appearance(none);
  @include placeholder { color: $grey; }
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: modules(1);
  padding: modules(0.5);
  box-shadow: none;
  border: none;
  border-radius: $radius;
  background-color: $air_gray;
  box-shadow: 0px 1px 1px #999 inset;
  color: $color_text;

  &:focus {
    outline: none;
    opacity: 1;
  }

  &:-webkit-autofill, &:-moz-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $nuclear inset;
    -webkit-text-fill-color: $nuclear;
  }
}

.session-select {
  position: relative;
  display: block;
  width: 100%;
  height: modules(2);
  margin-bottom: modules(1);
  padding: modules(0.5);
  box-shadow: none;
  border: none;
  border-radius: $radius;

  &:focus {
    outline: none;
    border: 1px solid rgba(255,255,255,1);
    opacity: 1;
  }
}

// ------- REMEMBER ME -------

.sessions-shared-login, {
  clear: both;
  padding-bottom: modules(1);
  text-align: center;

  a {
    color: $color_text;
    display: block;

    figure {
      display: inline-block;
      padding-right: modules(0.25);
    }

    &:hover, &:focus {
      outline: none;
      text-decoration: underline;
    }
  }
  .highlight-text { padding-bottom: modules(1); }
}

.customer_remember_me {
  text-align: center;

  input {
    margin-right: modules(0.25);
  }

  label {
    color: $color_text;
    font-weight: normal;
    text-transform: none;
  }

  a {
    font-weight: bold;

    &:hover { font-decoration: underline; }
  }
}

// -------- ACCEPT TERMS -------

.session-accept-terms {
  text-align: center;
  text-transform: none;

  label { text-transform: none; }

  a {
    color: $color_text;

    &:hover, &:focus {
      outline: none;
      text-decoration: underline;
    }
  }

  .input { padding-bottom: 0; }
}

.customer_agreed_on_registration {
  text-align: center;

  input { margin-right: modules(0.25); }

  label {
    color: $color_text;
    font-weight: normal;
    text-transform: none;
  }

  a:hover { font-decoration: underline; }
}

// -------- DISCLAIMER -------

.disclaimer-list {
  @include mscale($small_text);
}

// ---------------------------------------------------------------------------------------------
