// -------------------------------------------------------
//
// Styles for the login and sign up forms
//
// -------------------------------------------------------

// Login wrapper

.wrapper-session {
  position: relative;
  padding: modules(1);

  h3 {
    margin-bottom: 0;
    text-transform: uppercase;
  }

  input[type=text],
  input[type=password],
  input[type=email],
  input[type=number],
  input[type=url],
  input[type=tel],
  input[type=search] {
    margin-bottom: 0;
  }

  select {
    @include linear-gradient($air_gray, $graySilver);
    margin-bottom: 0;
    height: modules(2);
    background-color: $air_gray;

    &:focus {
      outline: none;
      border: 1px solid $nuclear;
    }
  }
}

// Inputs and selects

.session-select {
  position: relative;
  display: block;
  width: 100%;
  height: modules(2);
  margin-bottom: modules(1);
  padding: modules(0.5);
  box-shadow: none;
  border: none;
  border-radius: $radius;

  &:focus {
    outline: none;
    border: 1px solid rgba(255,255,255,1);
    opacity: 1;
  }
}

// ------- REMEMBER ME -------
//.required {
//  label:before {
//    content: "*";
//    display: inline-block;
//    padding-right: modules(0.25);
//  }
//}

.sessions-shared-login {
  clear: both;
  padding-bottom: modules(1);
  text-align: center;

  a {
    display: block;
    text-decoration: underline;

    figure {
      display: inline-block;
      padding-right: modules(0.25);
    }

    &:hover, &:focus {
      outline: none;
      text-decoration: none;
    }
  }
  .highlight-text { padding-bottom: modules(1); }
}

.customer_remember_me {
  display: none;
  text-align: center;

  @include min-screen($bp3) { display: block; }

  input {
    margin-right: modules(0.25);
  }

  label {
    color: $color_text;
    font-weight: normal;
    text-transform: none;
  }

  a {
    font-weight: bold;

    &:hover { font-decoration: underline; }
  }
}

// -------- ACCEPT TERMS -------

.session-accept-terms {
  text-align: center;
  text-transform: none;

  label { text-transform: none; }

  a {
    color: $color_text;

    &:hover, &:focus {
      outline: none;
      text-decoration: underline;
    }
  }

  .input { padding-bottom: 0; }
}

.customer_agreed_on_registration {
  text-align: center;

  input { margin-right: modules(0.25); }

  label {
    color: $color_text;
    font-weight: normal;
    text-transform: none;
  }

  a:hover { font-decoration: underline; }
}

// -------- DISCLAIMER -------

.disclaimer-list {
  @include mscale($small_text);
}

// ---------------------------------------------------------------------------------------------
