/* ------------------------------------------------------- *\

  Include all the elements and classes that user can customize

\* ------------------------------------------------------- */
//COLORS:

/*Header*/
$glwnt_header:        #212738;
/*Pink*/
$default:             #ff0090;
/*Sonar red*/
$sonar:               #e51513;
/*Grays*/
$snow:                #fff;
$air_gray:            #f2f2f2;
$color_text:          #848482;
$background-color:    #2c2c2c;
$dark:                #2E2E2E;
/*Succes*/
$succes:              #00CD00;

//SIZES:
$disclaimer:             $base_font_size*0.78;
$quarter_text:           $base_font_size*1.25;
$half_text:              $base_font_size*1.5;
$double_text:            $base-font-size*2;
$triple_text:            $base-font-size*3;
$highlight-tittle:       $base-font-size*3.5;

//IMAGES:

$background-image: image-url("background.jpg");

// _____ BACKGROUND ______

body {
  width: 100%;
  color: $color_text;
  background-attachment: fixed;
}

.fixed-background {
  @include min-screen($bp6) { background-size: 100% 100%; }
}


// _____ HEADER ______

//header {
//  position: relative;
//  display: block;
//  height: modules(2);
//  background-color: $glwnt_header;
//  box-shadow: inset 0px -1px 0px 0px $black;
//}

.logo {
  overflow: hidden;
  display: block;
  text-align: center;
  margin-bottom: 0;

  @include min-screen($bp3) {
    @include span-columns(6);
    float: right;
    text-align: right;
  }

  a {
    overflow: hidden;
    display: inlinew;
    width: auto;
    cursor: pointer;

    @include min-screen($bp3) { display: inline-block; }

    &:hover { opacity: 0.5; }
  }

  img {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: modules(0.5);

    @include min-screen($bp3) {
      width: auto;
      max-height: modules(5);
      padding: 0;
    }
  }
}

.disclaimer-list {
  padding: 0 modules(0.5);
  text-align: center;

  @include min-screen($bp4) {
    padding: 0;
    text-align: left;
  }

  li {
    @include mscale($disclaimer);
    margin: 0;
    padding: 0;

    &:before { display: none; }
  }

  p { @include mscale($disclaimer); }

  a {
    @include mscale($disclaimer);
    padding: 0 modules(0.15);
    color: $default;

    &:hover { text-decoration: underline; }
  }
}

// _____ NAVIGATION ______

nav {
  width: 100%;
  //background-color: $white;


  ul { text-align: right; }
}

// _____ LOGIN _______

// _____ DAHSBOARDS _____

// _____ COLORS ______

// _____ BUTTONS ______

.btn {
}

// _______ ORDER ________

.amount-button {
  @include user-select(none);
  width: auto;
  padding: 0 modules(0.5);
  cursor: pointer;

  &:first-child { text-align: left; padding-left: 0; }
  &:last-child { text-align: right; padding-right: 0; }

  &:hover { opacity: 0.5; }
}

.table-order {
  width: 100%;
  padding-top: modules(1);
  text-align: left;

  th {
    padding: 0 0 modules(0.5);

    &:last-child{ text-align: center; }
  }

  tr {

    &.table-head {
      background-color: transparent;
    }
  }

  td {
    box-shadow: inset 0px 1px 0px 0px $color_text;
    padding: modules(0.25);
  }
}