/* ------------------------------------------------------- *\

 Customize inline variables

\* ------------------------------------------------------- */

body                                { background-color: transparent; }

// Mobile header
.header-mobile                      { background-color: $snow; }
.mobile-event-name                  { color: $color_text; }

// H header
.header-desktop                     { background-color: transparent; }
.header-desktop a                   { color: $snow; }
.header-desktop nav ul a, i         { color: $snow; }
.header-desktop h1                  { color: $snow; }

h3, label                           { color: $snow; }
.container-event-column h3          { color: $snow; }

// Main wrapper background color and border
.container-event-column             { background-color: rgba(255,255,255,0.45); }
.container-event-column             { box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.4); }

// Store modules
.store-module-title                 { color: $snow; }

// Wrapper module styles
.wrapper-module                     { box-shadow: inset 0px -1px 0px 0px $snow; }
.wrapper-module-centered            { box-shadow: inset 0px -1px 0px 0px $snow; }

//Buttons
.btn-action                         { box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,1); }
.btn-action                         { background-color: $snow; }
.btn-action                         { color: $magenta; }

.btn-action-register                { box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,1); }
.btn-action-register:hover          { color: $snow; }
.btn-action-register:hover          { color: $magenta; }
.btn-action-register:focus          { background-color: $snow; }
.btn-action-register:focus          { color: $magenta; }

.btn-action-secondary               { background-color: transparent; }
.btn-action-secondary:hover         { background-color: $snow; }
.btn-action-secondary               { color: $snow; }
.btn-action-secondary:hover         { color: $magenta; }

.btn:after                          { box-shadow: 0 0 0 2px $snow; }

.btn-action-enter                   { background-color: $snow; }
.btn-action-enter                   { color: $magenta; }

.btn-action-enter:hover,
.btn-action-enter:focus             { background-color: transparent; }
.btn-action-enter:hover,
.btn-action-enter:focus             { color: $nuclear; }
.btn-action-enter:hover,
.btn-action-enter:focus             { box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,1); }

.btn-action-primary                 { box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,1); }
.btn-action-primary:hover           { color: $magenta; }
.btn-action-primary:hover           { background-color: $snow; }

.btn-action-empty-state             { box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,1); }
.btn-action-empty-state:hover       { background-color: $snow; }
.btn-action-empty-state:hover       { color: $magenta; }

.btn-action-back                    { box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,1); }
.btn-action-back                    { color: $snow; }
.btn-action-back:hover,
.btn-action-back:focus              { background-color: $snow; }
.btn-action-back:hover,
.btn-action-back:focus              { color: $magenta; }

// Login and sign up styles
.customer_remember_me label             { color: $color_text; }
.customer_agreed_on_registration label  { color: $color_text; }
.customer_agreed_on_registration a      { color: $snow; }

// ---------------------------------------------------------------------------------------------
