/* ------------------------------------------------------- *\

 Customize inline variables

\* ------------------------------------------------------- */

body                      { background-color: transparent; }
body                      { color: $color_text; }
header                    { background-color: transparent; }

nav ul                    { }
nav ul a                  { color: $snow; }
nav ul a:hover            { }
h3                        { color: $snow; }

.hint                     { color: $default; }

.btn                      { }
.btn                      { }

.wrapper-main { background-color: rgba(255,255,255,0.5); }

.amount-button            { }

.table-order tr:nth-child(even) { background-color: $air_gray; }
.table-order tr:nth-child(odd)  { background-color: $snow; }

