/* ------------------------------------------------------- *\

  Include all the elements and classes that user can customize

\* ------------------------------------------------------- */
//COLORS:

/*Header*/
$glwnt_header:        #212738;
/*Pink*/
$default:             #ff0090;
/*Sonar red*/
$sonar:               #e51513;
/*Grays*/
$snow:                #fff;
$air_gray:            #f2f2f2;
$background-color:    #2c2c2c;
$dark:                #2E2E2E;
/*Succes*/
$succes:              #00CD00;

//SIZES:
$disclaimer:             $base_font_size*0.78;
$half_text:              $base_font_size*1.5;
$double_text:            $base-font-size*2;
$triple_text:            $base-font-size*3;
$highlight-tittle:       $base-font-size*3.5;

//IMAGES:

$background-image: image-url("background.jpg");

// _____ BACKGROUND ______

body {
  width: 100%;
  color: $color_text;
  background-attachment: fixed;
}

.fixed-background {
  @include min-screen($bp6) { background-size: 100% 100%; }
}

// _______ ORDER ________
.table-order {
  width: 100%;
  padding-top: modules(1);
  text-align: left;

  th {
    padding: 0 0 modules(0.5);

    &:last-child{ text-align: center; }
  }

  tr {

    &.table-head {
      background-color: transparent;
    }
  }

  td {
    box-shadow: inset 0px 1px 0px 0px $color_text;
    padding: modules(0.25);
  }
}

// ---------------------------------------------------------------------------------------------
