// Mobile header
.mobile-event-name,
.header-mobile a,
.header-mobile h1,
.header-mobile i,
// Buttons
.btn-action,
.btn-action-enter,
.btn-action-register,
.btn-desktop-profile i,
.btn-action-secondary:hover,
.btn-action-primary:hover,
input[type=submit],
{ color: $snow; }

//HEADER
.header-desktop h1 a,
//DEFAULT
h3, .to-be-label, .credential-types label,
//MODULES
.container-event-column h3,
.store-module-title,
//BUTTONS
.btn-action-secondary,
.btn-action-register-desktop,
.btn-action-register,
.btn-action-register-mobile,
.btn-action-back,
//LOGIN-REGISTER
.wrapper-terms h2,
.wrapper-terms h3,
.wrapper-terms a,
.customer_agreed_on_registration a,
.separator, .wrapper-acceppt-paypal-terms a
{ color: $magenta; }

//HEADER-MOBILE
.header-mobile,
//BUTTONS
.btn-action,
.btn-action-enter,
.btn-desktop-profile,
.btn-action-secondary:hover,
.btn-action-empty-state:hover,
.btn-action-primary:hover
{ background-color: $magenta; }

// Wrapper module styles
.wrapper-module,
.wrapper-module-centered
{ box-shadow: inset 0px -1px 0px 0px $light_grey; }

// Buttons
.btn-action,
.btn-action-primary,
.btn-action-register-desktop,
.btn-action-register-mobile,
.btn-action-register,
.btn-action-back,
.btn-action-empty-state
{ box-shadow: inset 0px 0px 0px 2px $magenta; }

// Login and sign up styles

.customer_remember_me label,
.sessions-shared-login a,
.customer_agreed_on_registration label
{ color: $color_text; }

body                                 { background-color: #e2e2e2; }
// Main wrapper background color and border
.container-event-column              { background-color: rgba(255,255,255,1); }
.container-event-column              { box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); }
.btn-action-secondary                { background-color: transparent; }
.btn:after, .btn-desktop-profile:after                           { box-shadow: 0 0 0 2px $magenta; }
.current-breadcrumb                  { box-shadow: inset 0px 0px 0px 1px $magenta; }

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=url],
input[type=tel],
input[type=search] { &:focus { border-bottom: 1px solid $magenta; } }

footer { background-color: transparent; }


// ---------------------------------------------------------------------------------------------
