// -------------------------------------------------------
//
// Base application styles
//
// -------------------------------------------------------

// The whole screen container
.container-main {
  min-height: 100%;
}

.wrapper-main {
  position: relative;
}

.container-event-logo {
  padding: modules(2) 0;
}

// The centered container that contains all the account info

.container-event-column  {
  position: relative;
  height: 100vh;

  @include min-screen($bp3) {
    @include outer-container(45%);
    height: auto;
    border-radius: $radius;
    margin-bottom: modules(4);
  }

  h3 {
    padding-right: modules(5);
    font-weight: bold;

    @include min-screen($bp3) { padding-right: modules(7); }
  }
}

.logo {
  overflow: hidden;
  display: block;
  text-align: center;
  margin-bottom: 0;

  a {
    @include transition(opacity 150ms ease-in);
    overflow: hidden;
    display: inline;
    width: auto;
    cursor: pointer;

    &:hover { opacity: 0.5; }
  }

  img {
    display: inline-block;
    width: auto;
    max-height: modules(7);
    padding: 0;
  }
}

// Each section inside the main column

.wrapper-module {
  position: relative;
  overflow: hidden;
  padding: modules(0.5);

  @include min-screen($bp3) { padding: modules(1); }

  h3 {
    text-transform: uppercase;
  }

  &:last-child { box-shadow: none; }
}


