// -------------------------------------------------------
//
//  Wrappers for login an register views
//
// -------------------------------------------------------

.container-welcome-logo {
  margin: modules(1) auto;

  @include min-screen($bp3) { margin: modules(2) auto modules(1); }
}

.wrapper-create-account {
  display: block;
  text-align: center;

  @include min-screen($bp3) { display: none; }
}

// Redirect to logn register link
.wrapper-redirect-sessions {
  padding-top: modules(1);

  p,
  a { display: inline-block; }

  p { margin-bottom: modules(0.5); }
  a {
    padding-left: modules(0.25);
    text-decoration: underline;

    &:hover { text-decoration: none; }
  }
}

// TERMS AND CONDITIONS

.wrapper-terms {
  padding: modules(1);

  h3 { margin-top: modules(1); }
  h2,
  h3 { @include mscale($base_font_size); }
}

// ···
