// -------------------------------------------------------
//
// Base application styles
//
// -------------------------------------------------------

// The whole screen container
.container-main {
  overflow: hidden;
  height: auto;

  @include min-screen($bp3) { min-height: 100%; }
}

.wrapper-main {
  position: relative;
}

// Event logo styles

.container-event-logo {
  padding: 0;

  @include min-screen($bp3) { padding: 0; }
}

.logo {
  @include mscale($base_font_size);
  overflow: hidden;
  display: block;
  width: 100%;
  margin-bottom: 0;
  text-align: center;

  a {
    @include transition(opacity 150ms ease-in);
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    padding: modules(0.5) 0;
    cursor: pointer;

    @include min-screen($bp3) { padding: modules(1.5) 0; }

    &:hover, &:focus { outline: none; opacity: 0.7; }
  }

  img {
    display: inline-block;
    width: auto;
    max-height: modules(4);
    margin: 0 auto;
    padding: 0;

    @include min-screen($bp3) { max-height: modules(6); }
  }
}

// The centered container that contains all the account info

.container-event-column  {
  position: relative;

  @include min-screen($bp4) {
    @include outer-container(40%);
    height: auto;
    border-radius: $radius;
    margin-bottom: modules(4);
  }

  h3 { font-weight: bold; }
}

.container-customer-app-view {
  position: relative;

  @include min-screen($bp4) {
    margin-top: modules(3);
  }
}

// Each section inside the main column

.wrapper-module, .wrapper-module-centered {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: modules(1) modules(0.5);

  @include min-screen($bp3) { padding: modules(1); }

  h3 {
    text-transform: uppercase;
    margin-bottom: modules(0.5);
  }

  input[type=text],
  input[type=password],
  input[type=email],
  input[type=number],
  input[type=url],
  input[type=tel],
  input[type=search] {
    @include appearance(none);
    @include placeholder { color: $grey; }
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: modules(1);
    padding: modules(0.5);
    box-shadow: none;
    border: none;
    border-radius: $radius;
    background-color: $air_gray;
    border: 1px solid #E8EEEF;
    box-shadow: 0px 1px 1px #999 inset;
    color: $color_text;

    &:focus {
      outline: none;
      border: 1px solid rgba(255,255,255,1);
      opacity: 1;
    }

    &:-webkit-autofill, &:-moz-autofill {
      -webkit-box-shadow: 0 0 0px 1000px $nuclear inset;
      -webkit-text-fill-color: $nuclear;
    }
  }

  select {
    @include linear-gradient($air_gray, $graySilver);
    height: modules(2);
    background-color: $air_gray;

    &:focus {
      outline: none;
      border: 1px solid $nuclear;
    }
  }

  &:last-child { box-shadow: none; }
}

.wrapper-module {

  h3 {
    padding-right: modules(5);
    text-transform: uppercase;

    @include min-screen($bp3) { padding-right: modules(7); }
  }
}

.wrapper-module-centered {
  text-align: center;

  @include min-screen($bp4) { padding: modules(1) modules(2); }
  @include min-screen($bp5) { padding: modules(1) modules(3); }
  @include min-screen($bp6) { padding: modules(1) modules(4); }

  .highlight-text { padding-bottom: modules(1); }
}

.wrapper-pay-pal {
  clear: both;
  padding: modules(2) 0 modules(1);
  border-top: 1px dashed $color_text;
}

// ---------------------------------------------------------------------------------------------
