- breadcrumb :admins_event_accreditation_stations_station_catalog_items, current_event, @station

= render "form", station_catalog_item: @station_catalog_item

.wrapper-negative-space
  = render 'admins/events/stations/station_catalog_items/list', station_catalog_items: @list_model_presenter.all_items
