= search_simple_form_for q, url: search_admin_tickets_path, html: { method: :post, class: "searchForm" }  do |f|
  = f.input :number_cont
  = f.input :ticket_type_name_eq, as: :select, collection:  TicketType.form_selector, include_blank: true, label: ''
  = f.submit