/* ------------------------------------------------------- *\

 Customize inline variables

\* ------------------------------------------------------- */

body                      { background-color: transparent; }
body                      { color: $color_text; }
header                    { background-color: transparent; }

nav                       { box-shadow: inset 0px 0px 1px 0px $color_text; }
nav ul                    { color: $snow; }
nav ul a                  { }
nav ul a:hover            { }

.hint                     { color: $default; }


.btn                      { }
.btn                      { }

.amount-button            { }

.table-order tr:nth-child(even) { background-color: $air_gray; }
.table-order tr:nth-child(odd)  { background-color: $snow; }

