= simple_form_for [:admins, gtag] do |f|
  = f.input :tag_uid, placeholder: "Tag UID cont TODO"
  = f.input :tag_serial_number, placeholder: "Tag Serial Number cont TODO"
  = f.button :submit, class: "btn btn-primary"
