tr
  td[align="center" valign="top"]
    table#templateBody[border="0" cellpadding="0" cellspacing="0" width="600"]
      tr
        td.bodyContent[valign="top"]
          table[border="0" cellpadding="20" cellspacing="0" width="100%"]
            tr
              td[valign="top"]
                div[mc:edit="std_content00"]
                  h3.h3 = t("email.reset_password.greet", name: "#{@name}")
                  p = t("email.reset_password.mail_body")

                  p style="text-align: center"= link_to t('email.reset_password.mail_link'), event_edit_password_url(@event, reset_password_token: @token), { :style => "color: #ff0090; font-size: 18px; text-decoration: none;" }

