.wrapper-module-restriction
  = image_tag "img-closed-event.png", class: "event-state-image state-illustration"
  h3 = t('dashboard.without_gtags_claiming_started.claim')
  p = t('dashboard.without_gtags_claiming_started.description')
