.wrapper-module-centered
  h3 = t('dashboard.credits_history.header')
  = link_to t('dashboard.credits_history.button'), event_credits_history_path(@current_event, format: :pdf), class: "btn btn-action btn-action-empty-state btn-full-width"
