
  h3 = t('dashboard.without_gtags.add')
  = link_to t('dashboard.without_gtags.button', gtag: 'wristband'),
    new_event_gtag_assignment_path(@current_event), class: 'btn btn-action btn-action-empty-state btn-full-width'