= render "admins/events/analytics/stations/report_card", title: "Tickets in #{station.name}", chart_id: "checkin_ticket_type"

javascript:
    $(function () {
        var renderers = $.extend($.pivotUtilities.renderers, $.pivotUtilities.c3_renderers, $.pivotUtilities.export_renderers);
        var tpl = $.pivotUtilities.aggregatorTemplates;
        var numberFormat = $.pivotUtilities.numberFormat;
        var frFormat = numberFormat({digitsAfterDecimal: 0});

        var checkin_ticket_type = jQuery.parseJSON('#{ escape_javascript(checkin_ticket_type.html_safe)}');

        $("#checkin_ticket_type").pivotUI(checkin_ticket_type, {
            renderers: renderers,
            cols: ["Event Day"], rows: ["Ticket Type"],
            rendererName: "Table",
            aggregators: { "Total Tickets": function () { return tpl.sum(frFormat)(["Total Tickets"]) } }
        });

    });
