.mdl-tabs__panel.is-active id="#{name}_report"
  .content-grid.mdl-grid
    .mdl-cell.mdl-cell--8-col
    .mdl-cell.mdl-cell--2-col.right data-html2canvas-ignore="true"
      button.mdl-button.mdl-js-button.mdl-button--raised.export-button
        | EXPORT
    = link_to download_raw_data_admins_event_custom_analytics_path(@current_event, act: action, format: :csv) do
      .mdl-cell.mdl-cell--2-col.right data-html2canvas-ignore="true"
          button#download_raw_transactions.mdl-button.mdl-js-button.mdl-button--raised
            | RAW

    .mdl-cell.mdl-cell--12-col.reports-grid
      #table

javascript:

  $(document).ready(function() {
    var data = jQuery.parseJSON('#{ escape_javascript(data.html_safe)}');
    var title = "#{ name }";
    var cols = jQuery.parseJSON("#{ escape_javascript(cols.html_safe) }");
    var rows = jQuery.parseJSON("#{ escape_javascript(rows.html_safe) }");
    var metric = jQuery.parseJSON("#{ escape_javascript(metric.html_safe) }");
    var decs = "#{decimals}"
    var decimals = "#{decimals}"
    var renderers = $.extend($.pivotUtilities.renderers, $.pivotUtilities.export_renderers, $.pivotUtilities.c3_renderers);
    var sum = $.pivotUtilities.aggregatorTemplates.sum;
    var frFormat = $.pivotUtilities.numberFormat({digitsAfterDecimal: "#{decimals}"});
    var type = null
    var chartId = "#table"
    var show = null

    setPivotTable(data, rows, cols, metric, decimals, chartId, title, renderers, sum, frFormat, type, show);

    $(".export-button").click(function(){
          $(".pvtRenderer:first").val("TSV Export").trigger("change");
          var checkExist = setInterval(function() {
             if ($('textarea').length) {
                var text = $('textarea').text();
                var hiddenElement = document.createElement('a');
              hiddenElement.href = 'data:text/csv;charset=utf-8,' + encodeURI(text);
                hiddenElement.target = '_blank';
                hiddenElement.download = "#{ name }" + '_pivot_data.csv';
                hiddenElement.click();
                clearInterval(checkExist);
              $(".pvtRenderer:first").val("Table").trigger("change");
             }
          }, 100);
      });
  });
