ul
  li.table-action.action-delete = link_to admins_event_station_topup_credit_path(current_event, @station, topup_credit), method: :delete, data: { confirm: t('admin.confirm.delete') } do
    = fa_icon "trash"
