= simple_form_for @event, url: notify_customers_admins_refund_setting_path(@event), method: :post, data: { confirm: t('admin.confirm.delete') } do |f|
  = f.button :submit, t('admin.refund_settings.notify'), class: "btn btn-dashboard btn-dashboard-created"