// -------------------------------------------------------
//
//  Dashboard styles
//
// -------------------------------------------------------

$statistics-mobile:     $base_font_size*1;
$statistics-size:       $base_font_size*2.5;

.container-dashboard {
  position: relative;
  overflow: visible;
  margin-bottom: modules(1);
  padding: 0;
  border-radius: 3px;
  box-shadow: inset 0px 0px 1px 0px $light_grey;

  @include min-screen($bp3) {
    @include span-columns(6 of 12);
      @include omega(2n);
      min-height: modules(6);
  }

  h3 {
    overflow: hidden;
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
  }

  p { margin-bottom: 0; }
}

.container-databases {
  position: relative;
  overflow: visible;
  margin: 0 auto modules(1) auto;
  padding: 0;
  border-radius: 3px;
  box-shadow: inset 0px 0px 1px 0px $light_grey;

  @include min-screen($bp3) {
    min-height: modules(6);
  }

  h3 {
    overflow: hidden;
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
  }

  p { margin-bottom: 0; }
}

.wrapper-dashboard {
  padding: modules(1);
  text-align: center;
  min-height: modules(4);

   @include min-screen($bp3) { text-align: left;}
}

.wrapper-dashboard-reverse {
  padding: modules(1);
  text-align: center;
  min-height: modules(4);
  display: flex;
  justify-content: space-between;
}

.wrapper-dashboard-reverse-devices {
  padding: modules(1);
  text-align: center;
  min-height: modules(4);
  display: flex;
  flex-direction: column;
}

.wrapper-dashboard-main {
  padding: modules(1);
  background-color: $blue;

  h2, h3,p { color: $white; }
}

.container-statistics {
  @extend .container-show;
}

.container-transactions {
  text-align: left;
  position: relative;
  overflow: visible;
  margin-bottom: modules(1);
  padding: 0;
  border-radius: 3px;
  box-shadow: inset 0px 0px 1px 0px $light_grey;
  @include span-columns(12 of 12);

  @include min-screen($bp5) {
    text-align: center;
    @include span-columns(6 of 12);
      @include omega(2n);
      min-height: modules(6);
   }
}

.wrapper-statistics {
  text-align: center;
  display: inline-block;
  width: 50%;

  &:first-child { box-shadow: inset -1px 0px 0px 0px $graySilver; }
  &:nth-child(2) { box-shadow: none; }
  &:nth-child(3) { padding-top: modules(1); box-shadow: inset -1px 0px 0px 0px $graySilver; }
  &:nth-child(4) { padding-top: modules(1); }

  @include min-screen($bp2) {
    display: inline-block;
    width: 25%;
    padding: 0;
    box-shadow: inset 1px 0px 0px 0px $graySilver;

    &:first-child  { box-shadow: inset -1px 0px 0px 0px $graySilver; }
    &:nth-child(2) { box-shadow: none; }
    &:nth-child(3) { padding: 0; box-shadow: inset 1px 0px 0px 0px $graySilver; }
    &:nth-child(4) { padding: 0; box-shadow: inset 1px 0px 0px 0px $graySilver; }
  }

  h2, span {
    display: block;
    width: 100%;
    margin: 0;
    margin-top: 0;
  }

  h2 {
    font-weight: bold;
    color: $blue;
    @include min-screen($bp3) { @include mscale($statistics-mobile); }
    @include min-screen($bp5) { @include mscale($statistics-size); }
  }

  span {
    color: $grey;
  }
}

.wrapper-transactions {
  display: inline-block;
  padding-top: modules(1);
  flex: 1;

  @include min-screen($bp2) {
    text-align: center;
    display: inline-block;
    padding: 0;
    box-shadow: inset 1px 0px 0px 0px $graySilver;

    &:first-child  { box-shadow: inset -1px 0px 0px 0px $graySilver; }
    &:nth-child(2) { box-shadow: none; }
    &:nth-child(3) { padding: 0; box-shadow: inset 1px 0px 0px 0px $graySilver; }
    &:nth-child(4) { padding: 0; box-shadow: inset 1px 0px 0px 0px $graySilver; }
  }

  h2, span {
    display: block;
    width: 100%;
    margin: 0;
    margin-top: 0;
  }

  h2 {
    font-size: 1rem;
    font-weight: bold;
    color: $blue;
  }

  span {
    color: $grey;
  }
}



.dashboard-table-header {
  margin-bottom: 0;
  padding: modules(0.25) modules(1);
  background-color: $blue;
  color: $white;
  font-weight: normal;
  text-transform: uppercase;

  text-align: center;

   @include min-screen($bp3) { text-align: left;}
}

.dashboard-highlight {
  @include mscale($base_font_size*0.75);
  color: $grey;
  font-weight: bold;

  @include min-screen($bp4) { @include mscale($base_font_size); }
}

.refunds-alert {
  background-color: $amber;

  .change-status {
    @include min-screen($bp4) { box-shadow: inset 1px 0px 0px 0px $nuclear; }
  }

  .btn {
    width: 100%;
    background-color: $greenKickstarter;
    margin-top: modules(1);

    @include min-screen($bp4) {
      width: 100%;
      margin-top: modules(1.5);
    }
  }
}

.refunds-paypal {
  background-color: $blueDuller;

  .change-status {
    @include min-screen($bp4) { box-shadow: inset 1px 0px 0px 0px $nuclear; }
  }

  .btn {
    width: 100%;
    background-color: $greenKickstarter;
    margin-top: modules(1);

    @include min-screen($bp4) {
      width: 100%;
      margin-top: modules(1.5);
    }
  }
}

.event-status {
  position: relative;
  text-align: center;

  @include min-screen($bp4) {
    display: inline-block;
    vertical-align: top;
    width: 65%;
    min-height: modules(4);
    text-align: left;
  }
}

.alert-sign {
  @include mscale($base_font_size*2.25);
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  color: $white;
  text-align: center;

  @include min-screen($bp4) {
    width: 15%;
    text-align: left;
  }
}

.alert-text {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  color: $white;
  text-align: center;

  @include min-screen($bp4) {
    width: 85%;
    padding-right: modules(0.25);
    text-align: left;
  }
}

.change-status {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  min-height: modules(4);
  padding-top: modules(1);

  @include min-screen($bp4) {
    width: 35%;
    padding: 0 0 0 modules(1);
    box-shadow: inset 1px 0px 0px 0px $light_blue;
  }

  h2, h3, p { text-align: center; }
}

.current-status {
  @include mscale($base_font_size*2);
  text-transform: uppercase;
  margin-bottom: 0;

  @include min-screen($bp4) {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &:before {
    @include mscale($base_font_size*0.70);
    content: "Current status:";
    display: block;
    line-height: 0;
  }
}

// ========= DATABASES ========

.database {
  text-align: left;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem .4rem;
  border-bottom: 1px solid lighten($graySilver, 15%);

  & > * {
    margin: .5rem 0;
  }

  @include min-screen($bp4) {
    flex-direction: row;

    & > * {
      margin: 0;
    }
  }

  &:last-child {
    border-bottom: none;
  }

  &__name {
    flex: 1.2;
  }

  &__updated {
    flex: 1;
  }

  &__size {
    flex: 1;
    @include min-screen($bp4) { text-align: center; }
  }

  &__actions {
    flex: 2;
    @include min-screen($bp4) { text-align: right; }
  }

  &__btn {
    padding: .25rem .5rem;
    background: $red;
    border: 1px solid darken($red, 10%);
    border-radius: 3px;
    color: $nuclear;
    margin-right: .4rem;

    &:last-child {
      margin-right: 0;
    }

    &--download {
      background: $greenKickstarter;
      border: 1px solid darken($greenKickstarter, 10%);
    }

    &--disabled {
      background: lighten($graySilver, 15%);
      border: 1px solid lighten($graySilver, 10%);
      pointer-events: none;
      cursor: default;
    }
  }
}
