$background: #FFF;
$text: #888;
$amount: #EB2589;

.credits {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .credit {
    width: 48%;
    margin: 0 0 2rem 0;
    text-align: center;
    background: $background;
    border: 1px solid darken($background, 10%);
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(31, 37, 50, .1);
    padding: 2rem 1.4rem;

    @include min-screen($bp5) {
      width: 23%;
    }


    &__title {
      margin: 0;
      font-size: 1rem;
      font-weight: normal;
      color: $text;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__amount {
      color: $blue;
      font-size: 1.4rem;
      margin-bottom: 1rem;

      @include min-screen($bp5) {
        font-size: 2rem;
      }
    }
  }
}
