/* ------------------------------------------------------- *\

  Swicth styles

\* ------------------------------------------------------- */

.switch {
  @include user-select(none);
  position: relative;
  width: modules(3);
  padding-top: modules(1);

  input { display: none; }
}

.switch-checkbox {
  display: none;
}

.switch-label {
  overflow: hidden;
  display: block;
  width: modules(3);
  height: modules(1);
  box-shadow: inset 0px 0px 0px 2px $nuclear;
  color: $nuclear;
  border-radius: 20px;
  cursor: pointer;
}

.switch-inner {
  @include transition(margin 300ms ease-in);
  display: block;
  width: 200%;
  margin-left: -100%;

  &:before, &:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding-right: modules(0.25);
    line-height: 22px;
  }

  &:before {
    content: "ON";
    background-color: $greenKickstarter;
    font-weight: bold;
    text-align: right;
  }

  &:after {
    content: "OFF";
    background-color: transparent;
    text-align: right;
  }
}

.on-off-switch {
  @include transition(all 300ms ease-in);
  position: absolute;
  top: modules(0.95);
  right: modules(2);
  display: block;
  width: modules(0.5);
  height: modules(0.5);
  margin: 6px;
  background: $nuclear;
  border-radius: 20px;
}

.switch-checkbox:checked + .switch-label .switch-inner { margin-left: 0; }
.switch-checkbox:checked + .switch-label .switch-inner { right: 0px; }