// -------------------------------------------------------
//
//  TABLES base styles
//
// -------------------------------------------------------

table {
  overflow: hidden;
  width: 100%;
  border-radius: 3px;
  box-shadow: inset 0px 0 0px 1px $input_grey;
  table-layout: fixed;
}

th {
  overflow: hidden;
  display: none;
  white-space: nowrap;
  text-overflow: ellipsis;

  @include min-screen($bp3) {
    display: table-cell;
    padding: modules(0.25) modules(0.5);
    background-color: $side-panel;
    color: $nuclear;
    font-style: italic;
    font-weight: 600;
    text-align: left;
  }
}

tr {
  background-color: $white;

  &:nth-child(odd) { background-color: $admin_grey }
  &:last-child { box-shadow: none; }
  &.danger {
    background: #ffe2e2;

    td {
      box-shadow: inset 0px -1px 0px 0px darken(#ffe2e2, 5%);
    }
  }
}

.station-hidden {
  color: #BBB;

  .table-action {
    color: #BBB;
  }
}

td {
  overflow: hidden;
  position: relative;
  display: block;
  vertical-align: top;
  width: 100%;
  height: modules(2);
  padding: modules(0.5) modules(0.5) 0;
  text-align: right;

  @include min-screen($bp3) {
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
    width: auto;
    padding: 0 modules(0.25);
    box-shadow: inset 0px -1px 0px 0px darken($input_grey,5%);
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  a {
    width: 100%;
    overflow: hidden;
    display: block;
    padding: 0;
    color: $blue;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover, &:focus  {
      text-decoration: underline;
      outline: none;
    }
  }

  &:before {
    content: attr(data-label);
    position: absolute;
    top: modules(0.5);
    left: modules(0.5);
    display: block;
    width: 50%;
    color: $dark_grey;
    text-align: left;

    @include min-screen($bp3) { display: none; }
  }

  &.magic_wand {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-align: right;
    }
  }
}

.table-entitlemnet {
  @include mscale($base-font-size*0.75);
  display: inline-block;
  clear: both;
  overflow: hidden;
  width: auto;
  max-width: modules(6);
  margin: modules(0.15);
  padding: modules(0.25);
  border-radius: 3px;
  background-color: $light_grey;
  color: $white;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;

  @include min-screen($bp3) {
    display: inline-block;
    vertical-align: middle;
    float: none;
    width: auto;
    padding: modules(0.25);
  }
}
.subtable {
  width: 100%;

  tr {
    background-color: $white;
    box-shadow: inset 0px -1px 0px 0px $graySilver;

    &:nth-child(odd) { background-color: $input_grey }
    &:last-child { box-shadow: $white; }
  }

  td {
    width: 15%;
    vertical-align: middle;
  }
}


// _____ TABLE SORTABLE ______

.table-sortable-field {
  width: 100%;
  text-align: center;

  @include min-screen($bp3) { width: 5%; }


  i:hover {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
  }
}

.sortable-placeholder {
  border: 1px dashed rgba($blueZurb, .3);
  background-color: rgba($blueZurb, .2);
}

.is-alcohol {
  text-align: left;
  @include mscale($base-font-size*1.25);

  span {
    padding: modules(0.1);
    color: $white;
    cursor: pointer;

    &:hover { color: $blueZurb; }

    @include min-screen($bp3) {
      color: $blueZurb;
    }
  }
}

// ______  TABLE ACTIONS _______

.table-sorter-field {
  width: 100%;
  padding: 0;
  text-align: center;

  @include min-screen($bp3) { width: 5%; }

  span {
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
  }

  span:click {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    cursor: grabbing;;
  }
}

.table-actions-field {
  width: 100%;
  padding: 0 1rem 0 0;
  text-align: right;

  @include min-screen($bp3) { width: 15%; }

  ul {
    background-color: $grey;
    clear: both;

    @include min-screen($bp3) { background-color: transparent; }

  }

  li {
    display: inline-block;
    width: 50%;
    padding: modules(0.5);
    margin-left: 5px;

    @include min-screen($bp3) {
      width: auto;
      padding: 0;
    }
  }
}

.table-action {
  @include mscale($base-font-size*1.25);
  width: modules(2);
  height: 100%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.action-visible {
  text-align: left;

  a {
    padding: modules(0.1);
    color: $white;

    &:hover { color: $greenKickstarter; }

    @include min-screen($bp3) {
      color: $greenKickstarter;

      &:hover, &:focus {
        background-color: lighten($greenKickstarter,30%);
        outline: none;
      }
    }
  }
}

.action-hidden {
  text-align: left;

  a {
    padding: modules(0.1);
    color: $redZurb;

    &:hover { color: $redZurb; }

    @include min-screen($bp3) {
      color: $redZurb;

      &:hover, &:focus {
        background-color: lighten($redZurb,30%);
        outline: none;
      }
    }
  }
}

.action-delete {
  text-align: left;

  a {
    padding: modules(0.1);
    color: $white;

    &:hover { color: $red; }

    @include min-screen($bp3) {
      color: $red;

      &:hover, &:focus {
        background-color: lighten($red,30%);
        outline: none;
      }
    }
  }
}

.action-edit {
  text-align: left;

  a {
    padding: modules(0.1);
    color: $white;

    &:hover { color: $amber; }

    @include min-screen($bp3) {
      color: $amber;

      &:hover, &:focus {
        background-color: lighten($amber,30%);
        outline: none;
      }
    }
  }
}

.action-add {
  text-align: left;

  a {
    padding: modules(0.1);
    color: $white;

    &:hover { color: $blueZurb; }

    @include min-screen($bp3) {
      color: $blueZurb;

      &:hover, &:focus {
        background-color: lighten($blueZurb,30%);
        outline: none;
      }
    }
  }
}
