//______ BTN ________

.btn {
  @include appearance(none);
  @include transition (background-color 150ms linear);
  display: inline-block;
  padding: modules(0.5);
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
  text-transform: uppercase;
  cursor: pointer;
}

.btn-login {
  margin-top: modules(1);
  width: 100%;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.3);
  background-color: $greenKickstarter;

  &:hover, &:focus  {
    background-color: lighten($greenKickstarter, 8%);
    outline: none;
  }
}

.btn-primary {
  clear: both;
  float: right;
  min-width: modules(10);
  margin-top: modules(2);
  background-color: $greenKickstarter;
  color: $white;

  //span { padding-left: modules(0.25); }

  &:hover, &:focus {
    background-color: lighten($greenKickstarter,10%);
    outline: none;
  }
}

.btn-secondary {
  width: 100%;
  background-color: $light_grey;
  color: $white;

  &:hover, &:focus  {
    background-color: lighten($light_grey,10%);
    outline: none;
  }
}

.btn-action {
  @include transition(background-color 150ms linear);
  @include transition(color 150ms linear);
  position: relative;
  box-shadow: none;
  color: $grey;
  text-align: center;
  text-shadow: 0px 1px 1px $nuclear;

  @include min-screen($bp2) {
    &:hover {
      color: $dark_grey;
      background-color: $nuclear;
    }
  }

  i {
    display: inline-block;
    padding-right: modules(0.25);
    font-weight: bold;
  }
}

.btn-action-new {
}

.btn-action-back {
}

.btn-action-edit {

}

.btn-action-delete {

}

.btn-action-import {
}

.btn-dashboard { width: 100%; }

.btn-dashboard-created {
  background-color: $amber;
  color: $white;

  &:hover, &:focus {
    background-color: lighten($amber,10%);
    outline: none;
  }
}

.btn-dashboard-launched {
  background-color: $amber;
  color: $white;

  &:hover, &:focus {
    background-color: lighten($amber,10%);
    outline: none;
  }
}

.btn-dashboard-started {
  background-color: $greenKickstarter;
  color: $white;

  &:hover, &:focus  {
    background-color: lighten($greenKickstarter,10%);
    outline: none;
  }
}

.btn-dashboard-finished {
  background-color: $red;
  color: $white;

  &:hover, &:focus {
    background-color: lighten($red,10%);
    outline: none;
  }
}


.btn-dashboard-claiming_started {
  background-color: $red;
  color: $white;

  &:hover, &:focus {
    background-color: lighten($greenKickstarter,10%);
    outline: none;
  }
}

.btn-dashboard-closed {
  background-color: $amber;
  color: $white;

  &:hover, &:focus {
    background-color: lighten($amber,10%);
    outline: none;
  }
}

// Preevent products buttons

.btn-remove-fields {
  position: absolute;
  display: inline-block;
  width: modules(1.5);
  height: modules(1.5);
  top: modules(0.5);
  right: modules(0.5);
  padding-top: modules(0.25);
  border-radius: 50px;
  z-index: 1;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: $grey;

  &:hover {
    color: $red;
    background-color: lighten($red, 40%);
  }

}

