/* ------------------------------------------------------- *\

  Application header styles

\* ------------------------------------------------------- */

header {
  position: relative;
  display: block;
  width: 100%;
  height: modules(2);
  margin: 0;
  padding: modules(0.25) 0;
  background-color: $blue;

  h1 {
    display: inline-block;
    width: 33%;
    margin: 0;
    overflow: hidden;
    height: modules(2);
    text-align: center;

    @include min-screen($bp5) {
      width: auto;
      text-align: left;
    }
  }
}

.menu-trigger {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;

  @include min-screen($bp3) { display: none; }
}

.menu-option {
  position: absolute;
  top: modules(0);
  right: modules(0);
  height: modules(2);
  padding: modules(0.55) modules(1);
  background-color: $dark_blue;
  color: $white;
  text-transform: uppercase;
  z-index: 5;

  &:hover, &:focus {
    background-color: $side_panel;
    outline: none;
  }
}


.container-language {
  height: modules(2);
  padding: modules(0.25) modules(3) modules(0.25) modules(0.25);
  text-align: right;

  span {
    display: none;
    padding: modules(0.25);
    color: $dark_blue;

    @include min-screen($bp3){ display: inline-block; vertical-align: top; padding-top: 0; }
  }

  .selected {
    color: $white;
    text-shadow: none;

    &:hover { color: $white; }
  }
}

.container-preferences {
  height: modules(2);
  padding: modules(0.25) modules(3) modules(0.25) modules(0.25);
  text-align: left;

  span {
    display: none;
    padding: modules(0.25);
    color: $dark_blue;

    @include min-screen($bp3){ display: inline-block; vertical-align: top; padding-top: 0; }
  }

  .selected {
    color: $white;
    text-shadow: none;

    &:hover { color: $white; }
  }
}

.language-item  {
  @include transition(color 150ms linear);
  display: none;
  border-radius: 3px;
  color: $dark_blue;
  text-shadow: 0px 1px 1px lighten($blue, 13%);
  text-align: center;
  font-weight: bold;

  @include min-screen($bp3){ display: inline-block; vertical-align: top;}

  &:hover { color: lighten($blue, 13%); text-shadow: none; }
}
