- if controller_name != 'sessions'
  = link_to t("admin.defaults.log_in"), new_session_path(resource_name), class: "admin-forgot-password"

- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  = link_to t("admin.passwords.forgotten"), new_password_path(resource_name), class: "admin-forgot-password"
