//

$grayCadet:             #91a3b0 !default;
$grayCharcoal:          #36454f !default;
$graySilver:            #c0c0c0 !default;
$graySlate:             #708090 !default;
$grayDark:              #333333 !default;
$grayBattleship:        #848482 !default;
$grayAsh:               #b2beb5 !default;
$form_gray:             #e2e2e2 !default;
$pink:                  #E91E63 !default;
$light_pink:            #F48FB1 !default;
$green:                 #009688 !default;
$light_green:           #B2DFDB !default;
$dark_green:            #004d40 !default;
$baby_green:            #b2dfdb !default;
$deep_green:            #00695c !default;
$goGreen:               #00e676 !default;
$amber:                 #f9a825 !default;
$red:                   #dd2c00 !default;
$attention:             #FF8F00 !default;