@import colors

body.sessions.new
  background-color: $baby_green
a
  color: $green !important
  text-decoration: none
  font-weight: 400

a.mdl-navigation__link
  color: #757575 !important

input:-webkit-autofill
  -webkit-box-shadow: 0 0 0px 1000px white inset

.material-icons
  display: inline-flex
  align-items: center
  justify-content: center
  vertical-align: middle

.mdl-layout-title.header-item
  color: white !important
  text-decoration: none

.mdl-data-table
  -webkit-transform: translate3d(0,0,0)

.mdl-navigation__link
  padding: 8px 40px !important

.italic
  font-style: italic

.right
  text-align: right

.left
  text-align: left !important

.middle
  text-align: center !important

.uppercase
  text-transform: uppercase

.small
  font-size: 12px

.p-title
  color: $green
  text-align: center
  font-size: 17px
  padding: 2% 5%

.fieldset
  border-left: 3px solid $green
  padding-left: 5%
  margin-bottom: 5%

  &:last-child
    border: 0

.global-nav
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14)

.drawer-logo
  img
    width: 90%
    padding: 10px 35px

.mdl-card.fix-height
  min-height: 325px

.mdl-card
  overflow: visible !important

.mdl-card__title
  .tools
    width: 100%
    text-align: right
    color: $green
    cursor: pointer
    a
      color: $green !important
    .tool-item
      display: inline-block
      margin: 0 1%
      .subtool
        display: inline-block
        font-size: 13px
        color: $grayAsh
        text-transform: uppercase

.table-show.mdl-data-table td
  border: none !important

.mdl-checkbox__box-outline
  border: 1px solid $light_green !important

#bulk
  cursor: pointer

.mdl-switch.mdl-js-switch
  width: 30%
  margin: 1%

.mdl-data-table, .mdl-data-table.mdl-data-table--selectable
  button
    background: none
    border: none
    cursor: pointer
    visibility: hidden
    color: $grayBattleship
    font-size: 20px
    margin: 0
  .table-action
    display: inline-block

.hiding
  display: none

.nav-title
  display: block
  flex-shrink: 0
  padding: 7px 40px
  margin: 0
  color: #757575
  font-weight: 700
  font-size: 12px

.form-card
  padding: 5%
  min-height: initial !important

.search-card
  padding: 0 5%
  min-height: 30px !important

.form-inputs
  .mdl-textfield
    display: block
    width: 100%
    .mdl-textfield__input.datetime
      display: inline-block
      width: initial

.form-texts
  .mdl-textfield
    padding-top: 0 !important

.form-label
  color: $green
  font-size: 12px !important

.collection_check_boxes
  width: 25%
  display: inline-block
  background-color: $grayAsh
  border-radius: 2px
  color: white
  white-space: nowrap
  text-overflow: ellipsis
  cursor: pointer
  padding: 1%
  margin: 1% 1% 1% 0
  font-size: 13px
  font-weight: 100
  border: 1px solid white

  &:hover
    background-color: white
    color: $green
    border: 1px solid $grayAsh

input[type=checkbox]:checked + .collection_check_boxes
  background-color: $green
  color: white
  box-shadow: none

  &:hover
    background-color: $light_green

.section-header
  margin-bottom: 3%
  i
    display: inline-block
    vertical-align: middle
    line-height: normal
  span
    display: inline-block
    vertical-align: middle
    line-height: normal

.mdl-button--file
  input
    cursor: pointer !important
    height: 100% !important
    right: 0 !important
    opacity: 0 !important
    position: absolute !important
    top: 0 !important
    width: 32px !important
    z-index: 4 !important


#fixed-header-drawer-exp
  color: #2e2e2e

.file-inputs
  .mdl-textfield__input
    display: inline
    width: calc(100% - 37px)
    box-sizing: border-box
    margin-bottom: 3%
    .mdl-button--file
      right: 0

.register-action
  font-size: 0.9rem
  padding: 0 16px 16px 16px
  width: 100%
  text-align: center
  cursor: pointer
  width: 90%

.short-input
  width: 30% !important

.dropdown-search
  text-align: right

.form-submit
  margin: 3% 0 !important

.demo-card-wide.mdl-card.login-card
  width: 100%

.demo-card-wide.mdl-card.login-card .mdl-card__supporting-text, .register-action
  padding-left: 55px

.login-header
  text-align: center
  margin: 25% 0 5% 0

.login-submit
  margin: 3% 0 !important
  width: 100%

.mdl-textfield.mdl-js-textfield.mdl-textfield--file.boolean.optional.admin_remember_me
  display: none

.mdl-textfield.pack
  width: 100%

.wrapper-preevent-product
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12)
  padding: 16px
  margin-top: 16px

.resource-hidden
  color: #BBB

  a, td
    color: #BBB !important

.wrapper-instructions
  background-color: $attention
  color: #fff
  padding: 10px

.wrapper-instructions .condition
  padding-left: 1rem

label
  display: block

.btn-remove-fields
  position: absolute
  top: 0
  right: 0
  display: inline-block
  border-radius: 50px
  color: $grayBattleship !important
  text-align: center
  text-transform: uppercase
  z-index: 1
  cursor: pointer

  &:hover
    color: $red !important

.add_fields
  display: inline-block
  border-radius: 2px
  border: none
  padding: 10px 16px
  margin-top: 16px
  font-size: 14px
  color: white !important
  background-color: #BDBDBD
  text-align: center
  text-transform: uppercase
  z-index: 1
  cursor: pointer
  overflow: hidden

.container-invisible
  color: white
