= render 'customers/dashboards/event_created/admissions', admission: admission if admission
= render 'customers/dashboards/event_created/without_admissions' if !admission
= render 'customers/dashboards/event_created/credits', call_to_action: t('dashboard.credits.call_to_action') if admission
= render 'customers/dashboards/event_created/credits_without_admissions', call_to_action: t('dashboard.credits.call_to_action_no_admission') if !admission