= render 'customers/dashboards/event_started/admissions', admission: admission if admission
= render 'customers/dashboards/event_started/credits', call_to_action: t('dashboard.credits.call_to_action_started')