= render 'customers/dashboards/event_closed/refunds', gtag_registration: gtag_registration, call_to_action: t('dashboard.refunds.call_to_action') if gtag_registration && claim && current_event.refunds?