.wrapper-field.wrapper-session
  h3 Assign the ticket TODO
  = link_to 'Assign ticket TODO', new_customers_admission_path, class: "btn btn-continue"
  p TODO Remember: ticket number can only be assigned to a single account. The price of the top up is personal and untransferable