.wrapper-field.centered
  h3 Credit left? TODO
  = link_to 'Assign wristband TODO', new_customers_gtag_registration_path, class: "btn btn-primary"

  p TODO Remember: You need to assign your wristband to your account start the refund process