= render "customers/dashboards/event_#{current_event.aasm_state}", admission: @admission, gtag_registration: @gtag_registration, claim: @claim, refundable_amount: @refundable_amount, fee: @fee, minimum: @minimum