/* ------------------------------------------------------- *\

  Base stylesheet for common elments

\* ------------------------------------------------------- */

// HTML base styles
// ------------------------------------------------------

label {
  display: block;

  @include min-screen($bp3) {
    @include span-columns(4);
    vertical-align: middle;
  }
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=url],
input[type=tel],
input[type=search],
textarea {
  @include mscale($base_font_size);
  @include appearance(none);
  @include placeholder { color: $light_blue; }
  background-color: transparent !important;
  box-shadow: inset 12px -57px 0px -56px $grey;
  border: none;
  color: $light_grey;
  font-weight: lighter;
  overflow: hidden;
  padding: modules(0.5) 0;
  text-align: left;
  width: 100%;

  @include min-screen($bp3) {
    @include span-columns(8);
    vertical-align: middle;
  }

  &:focus {
    box-shadow: inset 12px -57px 0px -56px $magenta;
    outline: none;
    opacity: 1;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $blue inset !important;
    -webkit-text-fill-color: $nuclear;
  }
}

.input { position: relative; }