// -------------------------------------------------------
//
//  Aside base styles
//
// -------------------------------------------------------

aside {
  display: none;
  vertical-align: top;
  min-height: 100%;
  height: 100%;
  width: 17%;

  @include min-screen($bp3) { display: inline-block; }

  h3 {
    margin-bottom: modules(0.5);
    padding: modules(0.5) modules(1) 0;
    color: $nuclear;
    text-transform: uppercase;
  }

  ul {
    display: block;
    position: absolute;
    width: 17%;
    top: modules(2.5);
    left: 0;
  }

  li {
    display: block;
    vertical-align: top;
    text-decoration: none;

    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: modules(0.25) modules(1);
      color: $white;
      box-shadow: inset 0px -1px 0px 0px lighten($side_panel,5%);
      opacity: 0.5;

      @include min-screen($bp3) { box-shadow: none; }

      &:hover, &:focus {
        outline: none;
        opacity: 1;
      }
    }

    i {
      display: inline-block;
      width: modules(1);
      color: $light_blue;
    }

    &:last-child { margin-bottom: modules(1); }
  }
}

.mobile-trigger {
  position: absolute;
  top: 0;
  left: 0;
  display: block;

  a {
    display: inline-block;
    vertical-align: middle;
    padding: modules(0.5) modules(1) modules(0.5) modules(0.5);
    color: $white;
  }
}

.img-header {
  overflow: hidden;
  display: inline-block;
  width: 100%;
  height: modules(2);
  padding: modules(0.25) modules(0.75);
  background-color: darken($side_panel, 5%);

  a {
    display: block;
    width: 100%;
    height: 100%;

    &:hover, &:focus { outline: none; opacity: 0.5; }
  }

  img { vertical-align: top; }
}

.aside-logo {
  display: block;
  margin: 0;
  padding: 0;

  @include min-screen($bp2) { display: none; }
}

.mobile-sign-out {
  @include min-screen($bp3) { display: none; }
}
