// -------------------------------------------------------
//
//  Admin base styles
//
// -------------------------------------------------------


// HTML
html {
  position: relative;
  min-height: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  background-color: $side-panel;
  color: $light_grey;
  font-family: Lato;
  font-weight: 300;
}

h1, h2, h3, p,span, a,
ul, ol, li {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

abbr {
  color: $red;
  font-weight: bold;
}

.section-header {
  color: $blue;
  margin-bottom: modules(1);

  i {
    display: inline-block;
    padding-right: modules(0.5);
  }
}

.section-title-empty {
  padding: modules(2);
  border-radius: 3px;
  background-color: $admin_grey;
  box-shadow: inset 0px 0px 1px 0px $light_grey;
  color: red;
  text-shadow: 0px 1px 1px $white;
  text-align: center;

  .btn { margin-top: modules(1); }

  p {
    color: $light_grey;
    font-family: Lato;
    text-transform: uppercase;
  }

  img {
    width: auto;
    height: modules(4);
  }
}

// ________ TABLES _________

table {
  overflow: hidden;
  width: 100%;
  border-radius: 3px;
  box-shadow: inset 0px 0px 0px 1px $graySilver;
}

th {
  display: none;

  @include min-screen($bp3) {
    display: table-cell;
    padding: modules(0.25) modules(0.5);
    background-color: $side-panel;
    color: $nuclear;
    font-style: italic;
    font-weight: 100;
    text-align: left;
  }
}

tr {
  background-color: $white;
  box-shadow: inset 0px -1px 0px 0px $graySilver;

  &:nth-child(odd) { background-color: $admin_grey }
  &:last-child { box-shadow: none; }
}

td {
  position: relative;
  display: block;
  vertical-align: top;
  width: 100%;
  height: auto;
  padding: modules(0.5) modules(0.5) 0;
  text-align: right;

  @include min-screen($bp3) {
    display: table-cell;
    vertical-align: middle;
    max-width: modules(9);
    width: auto;
    padding: 0;
    text-align: left;
  }

  a {
    display: inline-block;
    padding: 0;
    color: $blue;

     @include min-screen($bp3) { padding: modules(0.5); }

    &:hover { text-decoration: underline; }
  }

  &:before {
    position: absolute;
    top: modules(0.5);
    left: modules(0.5);
    display: inline-block;
    width: 50%;
    vertical-align: top;
    color: $dark_grey;
    text-align: left;

    @include min-screen($bp3) { display: none; }
  }
}

.table-entitlemnet {
  @include mscale($base-font-size*0.75);
  display: inline-block;
  clear: both;
  overflow: hidden;
  width: auto;
  max-width: modules(6);
  margin: modules(0.15);
  padding: modules(0.25);
  border-radius: 3px;
  background-color: $light_grey;
  color: $white;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;

  @include min-screen($bp3) {
    display: inline-block;
    vertical-align: middle;
    float: none;
    width: auto;
    padding: modules(0.25);
  }
}

.entitlements-cell {
  text-align: center;

  @include min-screen($bp3) { text-align: left; }
}

// _____ TABLE TYPES _____

.entitlements {
  td:nth-of-type(1):before { content: "Name"; }
  //td:nth-of-type(5):before { content: "Actions"; }
}
.ticket-types {
  td:nth-of-type(1):before { content: "Name:"; }
  td:nth-of-type(2):before { content: "Company:"; }
  td:nth-of-type(3):before { content: "Credit:"; }
  td:nth-of-type(4):before {
    content: "Entitlements:";
    position: relative;
    left: auto;
    display: block;
    width: 100%;
    margin-bottom: modules(1);
    text-align: center;

     @include min-screen($bp3) { display: none; }
  }
  //td:nth-of-type(5):before { content: "Actions"; }
}

.tickets {
  td:nth-of-type(1):before { content: "Number"; }
  td:nth-of-type(2):before { content: "Ticket Type"; }
  //td:nth-of-type(5):before { content: "Actions"; }
}

.online_products {
  td:nth-of-type(1):before { content: "Name"; }
  td:nth-of-type(2):before { content: "Description"; }
  td:nth-of-type(3):before { content: "Amount"; }
  //td:nth-of-type(5):before { content: "Actions"; }
}

.table-actions-field {
  width: 100%;
  padding: 0;

  @include min-screen($bp3) {
    width: 15%;
    background-color: transparent;
    box-shadow: none;
  }

  ul { clear: both; }

  li {
    display: inline-block;
    width: 50%;
    padding: modules(0.5);

    @include min-screen($bp3) {
      width: auto;
      padding: 0;
    }
  }
}

.table-action {
  @include mscale($base-font-size*1.5);
  width: modules(2);
  height: 100%;
  text-align: center;
  text-shadow: 0px 2px 2px $white;
  vertical-align: middle;
  cursor: pointer;

}

.action-delete {
  text-align: left;

  a {
    color: $grey;

    &:hover { color: $red; }

    @include min-screen($bp3) {
      color: $red;

      &:hover { background-color: lighten($red,30%); }
    }
  }
}

.action-edit {
  text-align: right;

  a {
    color: $grey;
    text-shadow: 0px 1px 1px $white;

    &:hover { color: $amber; }

    @include min-screen($bp3) {
      color: $amber;

      &:hover { background-color: lighten($amber,30%); }
    }
  }
}

//______ BTN ________

.btn {
  @include appearance(none);
  @include transition (background-color 150ms linear);
  display: inline-block;
  padding: modules(0.5);
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
  text-transform: uppercase;
  cursor: pointer;
}

.btn-login {
  margin-top: modules(1);
  width: 100%;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.3);
  background-color: $magenta;

  &:hover { background-color: lighten($magenta, 8%); }
}

.btn-primary {
  clear: both;
  float: right;
  min-width: modules(10);
  margin-top: modules(2);
  background-color: $greenKickstarter;
  color: $white;

  //span { padding-left: modules(0.25); }

  &:hover {
    background-color: lighten($greenKickstarter,10%);
  }
}

.btn-secondary {
  width: 100%;
  background-color: $light_grey;
  color: $white;

  &:hover {
    background-color: lighten($light_grey,10%);
  }
}

.btn-action {
  max-width: modules(9);
  color: $white;
  text-align: center;

  //span { padding-left: modules(0.25); }
  i {
    display: inline-block;
    margin-right: modules(0.25);
  }
}

.btn-action-new {
  background-color: $greenKickstarter;
  color: $white;

  &:hover { background-color: lighten($greenKickstarter,10%); }
}

.btn-action-back {
  background-color: $grey;

  &:hover { background-color: lighten($grey,10%); }
}

.btn-action-edit {
  background-color: $amber;

  &:hover { background-color: lighten($amber,10%); }
}

.btn-action-delete {
  background-color: $red;

  &:hover { background-color: lighten($red,10%); }
}

.btn-action-import {
  float: right;
  max-width: modules(10);
  margin: modules(1) 0 0;
  background-color: $blue;

  &:hover { background-color: lighten($blue,10%); }
}

