// -------------------------------------------------------
//
//  Admin base styles
//
// -------------------------------------------------------


// HTML
html {
  position: relative;
  min-height: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  background-color: $side-panel;
  color: $light_grey;
  font-family: Lato;
  font-weight: 300;
}

h1, h2, h3, p, span, a,
ul, ol, li {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-title-empty {
  padding: modules(2);
  background-color: $light_grey;
  border-radius: 3px;
  color: $grey;
  text-shadow: 0px 1px 1px $admin_grey;
  text-align: center;
}

// ________ TABLES _________

table {
  overflow: hidden;
  width: 100%;
  border-radius: 3px;
  box-shadow: inset 0px 0px 0px 1px $graySilver;

  li { display: inline-block; }
}

th {
  padding: modules(0.25) modules(0.5);
  background-color: $side-panel;
  color: $nuclear;
  font-style: italic;
  font-weight: 100;
  text-align: left;
}

tr {
  background-color: $white;
  box-shadow: inset 0px -1px 0px 0px $light_grey;

  &:nth-child(odd) { background-color: $admin_grey; }
  &:last-child { box-shadow: none; }
}

td {
  padding: modules(0.5);

  a {
    color: $blue;

    &:hover { text-decoration: underline; }
  }
}

.table-actions-field { width: 30%; }

// __________

// Main wrapper include aside panel andcontainer main
.wrapper-main {
  position: relative;
  min-height:100%;
  height: auto;
}

.container-main {
  position: absolute;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: $white;

  @include min-screen($bp3) {
    display: inline-block;
    width: 87%;
  }
}

// BREADCRUMBS
.action-bar {
  display: block;
  width: 100%;
  padding: modules(0.5);
  box-shadow: inset 0 0px 2px 0px $light_grey;
  background-color: $admin_grey;

  @include min-screen($bp3) {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    padding: modules(1);
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

// ______ BREADCRUMBS ______

.breadcrumbs {
  display: block;
  width: 100%;
  padding-top: modules(.5);

  @include min-screen($bp3) {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    padding: 0;
  }

   a {
    color: $blue;

    &:hover { text-decoration: underline; }
  }
}

.action-bar-btns {
  display: block;
  width: 100%;
  padding-top: modules(.5);

  @include min-screen($bp3) {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    padding: 0;
    text-align: right;
  }

  .btn {
    display: inline-block;
    width: 32%;
    margin-right: 2%;
    padding: modules(0.5) modules(0.5);

    @include min-screen($bp3) { width: auto; }

    &:last-child { margin-right: 0; }

    i { padding: 0; }
  }
}

// ___________

.container-admin {
  padding: modules(0.5);

  @include min-screen($bp2) {
    padding: modules(1);
  }

  @include min-screen($bp3) {
    @include outer-container(100%);
    padding: modules(2);
  }
}

.btn {
  @include appearance(none);
  @include transition (background-color 150ms linear);
  display: inline-block;
  padding: modules(0.5);
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
  text-transform: uppercase;
  cursor: pointer;
}

.btn-login {
  margin-top: modules(1);
  width: 100%;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.3);
  background-color: $magenta;

  &:hover { background-color: lighten($magenta, 8%); }
}

.btn-primary {
  clear: both;
  float: right;
  min-width: modules(10);
  margin-top: modules(2);
  background-color: $greenKickstarter;
  color: $white;

  //span { padding-left: modules(0.25); }

  &:hover {
    background-color: lighten($greenKickstarter,10%);
  }
}

.btn-action {
  max-width: modules(6);
  color: $white;
  text-align: center;

  //span { padding-left: modules(0.25); }
  i { padding-right: modules(0.25); }
}

.btn-action-new {
  background-color: $greenKickstarter;
  color: $white;

  &:hover { background-color: lighten($greenKickstarter,10%); }
}

.btn-action-back {
  background-color: $grey;

  &:hover { background-color: lighten($grey,10%); }
}

.btn-action-edit {
  background-color: $amber;

  &:hover { background-color: lighten($amber,10%); }
}

.btn-action-delete {
  background-color: $red;

  &:hover { background-color: lighten($red,10%); }
}
