// -------------------------------------------------------
//
//  Admin base styles
//
// -------------------------------------------------------


// HTML
html {
  position: relative;
  min-height: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  background-color: $side-panel;
  color: $grey;
  font-weight: 400;
}

h1, h2, p,span, a,
ul, ol, li {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

h3 {
  @include mscale($base_font_size);
  color: $grey;

  i { padding-right: modules(0.25); }
}

abbr {
  color: $red;
  font-weight: bold;
}

.section-header {
  color: $blue;
  margin-bottom: modules(1);
  font-weight: 200;

  i {
    display: inline-block;
    padding-right: modules(0.5);
  }
}

.menu-header {
  padding: modules(0.25) modules(0.25) 0;
  color: $blue;
  font-weight: 200;

  i {
    display: inline-block;
    padding-right: modules(0.5);
  }
}

.section-title-empty {
  padding: modules(2);
  border-radius: 3px;
  background-color: $admin_grey;
  box-shadow: inset 0px 0px 1px 0px $light_grey;
  color: red;
  text-shadow: 0px 1px 1px $white;
  text-align: center;

  .btn { margin-top: modules(1); }

  p {
    color: $light_grey;
    text-transform: uppercase;
  }

  img {
    width: auto;
    height: modules(4);
  }
}

//  Common base styles
// -------------------------------------------------------

// Main wrapper include aside panel and container main
.wrapper-main {
  position: relative;
  min-height:100%;
  height: auto;
}

.container-main {
  position: absolute;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: $white;

  @include min-screen($bp3) {
    display: inline-block;
    width: 83%;
  }
}

// _________

.wrapper-negative-space {
  padding: modules(0.5);

  @include min-screen($bp2) {
    padding: modules(1);
  }

  @include min-screen($bp3) {
    @include outer-container(100%);
    padding: modules(2);
  }

  .btn-primary {
    margin: 0 0 modules(1);
    @include min-screen($bp3) { margin: 0; }
  }

  .btn-action {
    margin: 0 0 modules(1);
    @include min-screen($bp3) { margin: 0 modules(0.5) 0 0; }
  }
}

.wrapper-add-file {
  @include transition(opacity 83ms linear);
  overflow: hidden;
  display: block;
  width: 100%;
  margin-bottom: modules(1);
  padding: modules(0.5);
  border-radius: 3px;
  background-color: $admin_grey;
  border: 1px dashed $light_grey;

  .btn {
    max-width: 100%;
    width: 100%;

    @include min-screen($bp3) {
      @include span-columns(4);
      margin: 0;
      vertical-align: middle;
    }
  }

  input {
    cursor: pointer;
    margin-bottom: modules(1);

    @include min-screen($bp3) {
      @include span-columns(8);
      margin-bottom: 0;
      padding-top: modules(0.5);
    }

    .btn { margin: 0; }
  }
}

.container-search {
  @include transition(opacity 83ms linear);
  overflow: hidden;
  display: block;
  width: 100%;
  padding: 0 modules(0.5);
  border-radius: 3px;

  input[type=text], input[type=email], select {
    @include appearance(none);
    width: 100%;
    padding: modules(0.25);
    height: modules(2);
    border-radius: 3px;
    background-color: $white;
    box-shadow: inset 0px 0px 0px 1px $graySilver;
    border: none;

    &:focus { box-shadow: inset 0px 0px 0px 1px $magenta; }
  }

  label, input {
    display: block;
    width: 100%;
  }

  label {
    color: $nuclear;
  }

  abbr { display: none; }

  //TODO Manu
  .checkbox {
    display: block;

    input[type=checkbox] {
      display: block;
    }
  }
}

.custom-select {
  position: relative;

  i {
    position: absolute;
    top: modules(0.75);
    right: modules(0.5);
    color: $grey;
    z-index: 9;
    pointer-events: none;
  }
}

// TODO Manu: Find a better way
.deleted-field{
  color: $red;
}
