.mm-menu {
  background: transparent;
  overflow: visible;
}
.mm-page {

  @include min-screen($bp3) { position: static; }
}

.mm-menu.mm-right {
  overflow-y: scroll;
}

.mm-menu > .mm-panel > .mm-listview {
  margin: 0;
}

.mm-listview > li {
  @include mscale($base_font_size);
  color: $nuclear;
}

.mm-panel.mm-hasnavbar .mm-navbar {
  display: none;
}

//.mm-menu.mm-right { width: 30%; }