
.mm-menu {
  background: transparent;
}

.mm-menu > .mm-panel > .mm-listview {
  margin: 0;
}

.mm-listview > li {
  color: $white;
  @include mscale($base_font_size);
}

.mm-panel.mm-hasnavbar .mm-navbar {
  display: none;
}


//.mm-menu.mm-right { width: 30%; }