// -------------------------------------------------------
//
//  Dashboard styles
//
// -------------------------------------------------------

.container-dashboard {
  position: relative;
  margin-bottom: modules(1);
  padding: 0;
  overflow: visible;

  @include min-screen($bp3) {
    @include span-columns(6);
      @include omega(2n);
      min-height: modules(6);
   }

  h3 {
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
  }
}

.wrapper-dashboard {
  padding: modules(1);
  text-align: center;
  min-height: modules(4);

   @include min-screen($bp3) { text-align: left;}
}

.wrapper-dashboard-main {
  padding: modules(1);
  background-color: $blue;

  h2, h3,p { color: $white; }

}

.dashboard-table-header {
  margin-bottom: 0;
  padding: modules(0.25) modules(1);
  background-color: $blue;
  color: $white;
  font-weight: lighter;
  text-transform: uppercase;

  text-align: center;

   @include min-screen($bp3) { text-align: left;}
}

.dashboard-highlight {
  @include mscale($base_font_size*0.75);
  color: $grey;
  font-weight: bold;

  @include min-screen($bp4) { @include mscale($base_font_size); }
}

.refunds-alert {
  background-color: $amber;



  .change-status {
    @include min-screen($bp4) { box-shadow: inset 1px 0px 0px 0px $nuclear; }
  }

  .btn {
    width: 100%;
    background-color: $greenKickstarter;
    margin-top: modules(1);

    @include min-screen($bp4) {
      width: 100%;
      margin-top: modules(1.5);
    }
  }
}

.event-status {
  position: relative;
  text-align: center;

  @include min-screen($bp4) {
    display: inline-block;
    vertical-align: top;
    width: 65%;
    min-height: modules(4);
    text-align: left;
  }
}

.alert-sign {
  @include mscale($base_font_size*2.25);
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  color: $white;
  text-align: center;

  @include min-screen($bp4) {
    width: 15%;
    text-align: left;
  }
}

.alert-text {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  color: $white;
  text-align: center;

  @include min-screen($bp4) {
    width: 85%;
    padding-right: modules(0.25);
    text-align: left;
  }
}

.change-status {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  min-height: modules(4);
  padding-top: modules(1);

  @include min-screen($bp4) {
    width: 35%;
    padding: 0 0 0 modules(1);
    box-shadow: inset 1px 0px 0px 0px $light_blue;
  }

  h2, h3, p { text-align: center; }
}

.current-status {
  @include mscale($base_font_size*2);
  text-transform: uppercase;
  margin-bottom: 0;

  @include min-screen($bp4) {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &:before {
    @include mscale($base_font_size*0.70);
    content: "Current status:";
    display: block;
    line-height: 0;
  }
}