/* ------------------------------------------------------- *\

  Base stylesheet for common elments

\* ------------------------------------------------------- */

// HTML base styles
// ------------------------------------------------------

fieldset {
  border-bottom: 1px solid $graySilver;
  padding: modules(0.5);

  @include min-screen($bp2) {
    padding: modules(1);
  }

  @include min-screen($bp3) {
    @include outer-container(100%);
    padding: modules(2);
  }
}

label {
  display: block;
  padding-bottom: modules(1);

  @include min-screen($bp3) {
    @include span-columns(4);
    vertical-align: middle;
    margin: auto;
    padding-bottom: 0;
  }
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=url],
input[type=tel],
input[type=search], {
  @include mscale($base_font_size);
  @include appearance(none);
  @include placeholder { color: $light_grey; }
  overflow: hidden;
  vertical-align: top;
  width: 100%;
  padding: 0 0 modules(0.5);
  border: none;
  background-color: transparent;
  box-shadow: inset 12px -57px 0px -56px $graySilver;
  text-align: left;
  color: $black;

  @include min-screen($bp3) {
    @include span-columns(8);
    @include omega();
    vertical-align: middle;
  }

  &:focus {
    box-shadow: inset 12px -57px 0px -56px $magenta;
    outline: none;
    opacity: 1;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $blue inset !important;
    -webkit-text-fill-color: $nuclear;
  }
}

input[type=file] {

  &:focus {
    box-shadow: inset 0px 0px 0px 1px $white;
    outline: none;
  }
}

textarea {
  @include appearance(none);
  @include placeholder { color: $light_grey; }
  width: 100%;
  border-radius: 3px;
  border: 1px solid transparent;
  box-shadow: inset 0px 0px 0px 1px $graySilver;
  padding: modules(0.5);
  color: $black;
  //font-family: Courier, monospace !important;

  @include min-screen($bp3) {
    @include span-columns(8);
    @include omega();
    vertical-align: middle;
  }

  &:focus {
    box-shadow: inset 0px 0px 0px 1px $magenta;
    outline: none;
    opacity: 1;
  }
}

.textarea {
  @include appearance(none);
  @include placeholder { color: $input_grey; }
  border-radius: 3px;
  box-shadow: inset 0px 0px 0px 1px $black;
  padding: modules(0.5);
  color: $green;
  background-color: $dark_grey;
  font-family: Courier, monospace !important;

  @include min-screen($bp3) {
    @include span-columns(8);
    @include omega();
    vertical-align: middle;
  }

  &:focus {
    box-shadow: inset 0px 0px 0px 1px $graySilver;
    outline: none;
    opacity: 1;
  }
}


// Adjust width of the input file fields
.file {
  input {
    width: modules(10);

    @include min-screen($bp3) { width: auto; }
  }
}

// ________ CHECKBOXES ________

.controls {
  overflow: hidden;
  vertical-align: top;
  width: 100%;
  border: none;
  background-color: transparent !important;
  box-shadow: inset 12px -57px 0px -56px $graySilver;
  color: $dark_grey;
  text-align: left;

  @include min-screen($bp3) {
    @include span-columns(8);
    @include omega();
    float: none;
    vertical-align: middle;
  }

  .checkbox {
    overflow: hidden;
    display: inline-block;
    width: 48%;
    margin: 0 2% modules(1) 0;
    max-height: modules(2);

    @include min-screen($bp3) {
      @include span-columns(4);
      @include omega(3n);
    }
  }
}

.checkbox{
  input[type=checkbox] { display: none;}
}

.collection_check_boxes {
  overflow: hidden;
  width: 100%;
  display: inline-block;
  background-color: $input_grey;
  box-shadow: inset 0px 0px 0px 1px $graySilver;
  border-radius:4px;
  color: darken($graySilver,20%);
  padding: modules(0.5);
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor:pointer;

  &:hover { background-color: $white; }
}

input[type=checkbox]:checked + .collection_check_boxes {
  background-color: $blue;
  color: $white;
  box-shadow: none;

  &:hover { background-color: $light_blue; }
}

// _______

.input {
  position: relative;
  overflow: hidden;
  padding-bottom: modules(1);
}

.onoffswitch {
  @include user-select(none);
  position: relative;
  width: modules(3);
  padding-top: modules(1);

  input { display: none; }
}
.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  overflow: hidden;
  display: block;
  width: modules(3);
  height: modules(1);
  box-shadow: inset 0px 0px 0px 2px $nuclear;
  color: $nuclear;
  border-radius: 20px;
  cursor: pointer;
}

.onoffswitch-inner {
  @include transition(margin 300ms ease-in);
  display: block;
  width: 200%;
  margin-left: -100%;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: $green;
  font-weight: bold;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: transparent;
  text-align: right;
}
.onoffswitch-switch {
  @include transition(all 300ms ease-in);
  position: absolute;
  top: modules(0.95);
  right: modules(2);
  display: block;
  width: modules(0.5);
  height: modules(0.5);
  margin: 6px;
  background: $nuclear;
  border-radius: 20px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}


