/* ------------------------------------------------------- *\

  Base stylesheet for common elments

\* ------------------------------------------------------- */

// HTML base styles
// ------------------------------------------------------

label {
  display: block;
  padding-bottom: modules(1);

  @include min-screen($bp3) {
    @include span-columns(4);
    vertical-align: middle;
    padding-bottom: 0;
  }
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=url],
input[type=tel],
input[type=search],
textarea {
  @include mscale($base_font_size);
  @include appearance(none);
  @include placeholder { color: $light_grey; }
  overflow: hidden;
  vertical-align: top;
  width: 100%;
  padding: 0 0 modules(0.5);
  border: none;
  background-color: transparent !important;
  box-shadow: inset 12px -57px 0px -56px $graySilver;
  color: $dark_grey;
  text-align: left;

  @include min-screen($bp3) {
    @include span-columns(8);
    @include omega();
    vertical-align: middle;
  }

  &:focus {
    box-shadow: inset 12px -57px 0px -56px $magenta;
    outline: none;
    opacity: 1;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $blue inset !important;
    -webkit-text-fill-color: $nuclear;
  }
}

textarea { padding: 0; }

// ________ CHECKBOXES ________

.controls {
  overflow: hidden;
  vertical-align: top;
  width: 100%;
  padding: 0 0 modules(0.5);
  border: none;
  background-color: transparent !important;
  box-shadow: inset 12px -57px 0px -56px $graySilver;
  color: $dark_grey;
  text-align: left;

  @include min-screen($bp3) {
    @include span-columns(8);
    @include omega();
    vertical-align: middle;
  }
}

input[type=checkbox] { display: none;}

.collection_check_boxes {
  display: inline-block;
  width: 100%;
  background-color: $input_grey;
  box-shadow: inset 0px 0px 0px 1px $graySilver;
  border-radius:4px;
  color: darken($graySilver,20%);
  padding: modules(0.5);
  cursor:pointer;

   @include min-screen($bp3) {
    width: auto;
    margin: modules(0.5);
  }

  &:first-child { margin-right: 0; }
  &:hover { background-color: $white; }
}

input[type=checkbox]:checked + .collection_check_boxes {
  background-color: $blue;
  color: $white;
  box-shadow: none;

  &:hover { background-color: $light_blue; }
}

// _______

.input {
  position: relative;
  overflow: hidden;
  padding-bottom: modules(1);
}