/* ------------------------------------------------------- *\

  Base stylesheet for common elments

\* ------------------------------------------------------- */

// HTML base styles
// ------------------------------------------------------

form {
  overflow: hidden;
}

label {
  display: block;

  @include min-screen($bp3) {
    @include span-columns(4);
    vertical-align: middle;
  }
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=url],
input[type=tel],
input[type=search],
textarea {
  @include mscale($base_font_size);
  @include appearance(none);
  @include placeholder { color: $light_grey; }
  overflow: hidden;
  vertical-align: top;
  width: 100%;
  padding: 0 0 modules(0.5);
  border: none;
  background-color: transparent !important;
  box-shadow: inset 12px -57px 0px -56px $graySilver;
  color: $dark_grey;
  text-align: left;

  @include min-screen($bp3) {
    @include span-columns(8);
    margin: 0;
    vertical-align: middle;
  }

  &:focus {
    box-shadow: inset 12px -57px 0px -56px $magenta;
    outline: none;
    opacity: 1;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $blue inset !important;
    -webkit-text-fill-color: $nuclear;
  }
}

.input {
  position: relative;
  overflow: hidden;
  padding-bottom: modules(1);
}