/* ------------------------------------------------------- *\

  Application header styles

\* ------------------------------------------------------- */

header {
  position: relative;
  display: block;
  width: 100%;
  height: modules(2);
  margin: 0;
  padding: modules(0.25) 0;
  background-color: $blue;

  h1 {
    display: inline-block;
    width: 33%;
    margin: 0;
    overflow: hidden;
    height: modules(2);
    text-align: center;

    @include min-screen($bp5) {
      width: auto;
      text-align: left;
    }
  }
}

.menu-trigger {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;

  @include min-screen($bp3) { display: none; }
  a {
    &:focus { outline: 1px solid red; }
  }
}

.menu-option {
  position: absolute;
  top: modules(0);
  right: modules(0);
  height: modules(2);
  padding: modules(0.55) modules(1);
  background-color: $dark_blue;
  box-shadow: inset 1px 0px 0px 0px lighten($blue,5%);
  color: $white;
  text-transform: uppercase;
  z-index: 5;

  &:hover, &:focus {
    background-color: lighten($dark_blue, 10%);
    outline: none;
  }
}
