// -------------------------------------------------------
//
//  Notification messages
//
// -------------------------------------------------------

.msg-notification {

}

.msg-for-alert, .msg-for-error {
  position: absolute;
  top: modules(1);
  left: modules(1);
  right: modules(1);
  padding: modules(2);
  border-radius: 4px;
  background-color: $red;
  box-shadow: inset 0px 0px 0px 1px $white;
  color: $white;
  text-align: center;
  z-index: 6;

  @include min-screen($bp3) { left: modules(2); right: modules(2); }
  @include min-screen($bp4) { left: modules(3); right: modules(3); }

  p {
    margin-bottom: 0;
  }
}

.msg-for-notice {
  position: absolute;
  top: modules(1);
  left: modules(1);
  right: modules(1);
  padding: modules(2);
  border-radius: 4px;
  background-color: $green;
  box-shadow: inset 0px 0px 0px 1px $white;
  color: $white;
  text-align: center;
  z-index: 6;

  @include min-screen($bp3) { left: modules(2); right: modules(2); }
  @include min-screen($bp4) { left: modules(3); right: modules(3); }

  p {
    margin-bottom: 0;
  }
}

.msg-for-success {

}

.msg-for-info { }


.error_notification {
  padding: modules(1);
  border-radius: 3px;
  background-color: $red;
  text-align: center;
  color: $white;
}

.error {
  position: relative;
  right: modules(0.25);
  color: $red;
  font-weight: bold;
}
