// -------------------------------------------------------
//
//  Styles for "SHOW" containers
//
// -------------------------------------------------------

.container-show {
  overflow: hidden;
  width: 100%;
  padding: modules(1);
  border-radius: 3px;
  background-color: $white;
  box-shadow: inset 0px 0px 1px 0px $dark_grey;

  @include min-screen($bp3) {
    margin-bottom: modules(1);
  }

  dl { margin: 0; }

  dt {
    overflow: hidden;
    color: $grey;

    @include min-screen($bp3) {
      display: inline-block;
      vertical-align: top;
      padding: modules(0.25) 0;
      width: 40%;
    }
  }

  dd {
    overflow: hidden;
    position: relative;
    margin: 0;

    @include min-screen($bp3) {
      display: inline-block;
      vertical-align: top;
      padding: modules(0.25) 0;
      width: 60%;
    }
  }

  a {
    color: $blue;

    &:hover { text-decoration: underline; }
  }

  p { margin-bottom: 0; }
}

.event-img-preview {
  padding: modules(0.5);
  background-color: $input_grey;
  cursor: pointer;
  width: 100%;
  height: auto;

  @include min-screen($bp3) {
    display: inline-block;
    vertical-align: top;
    max-width: 60%;
    width: auto;
    margin-bottom:0;
  }
}

.delete-image {
  display: block;
  position: relative;
  width: 100%;
  height: modules(1);
  margin-bottom: modules(0.5);
  text-align: center;
  background-color: $red;
  border-radius: 3px;
  color: $white !important;
  z-index: 10;

  @include min-screen($bp3) {
    position: absolute;
    top: modules(0.25);
    left: 62%;
    width: modules(1);
    background-color: $light_grey;
    border-radius: 5px;
  }

  &:hover {
    background-color: lighten($red, 15%);
  }
}