= simple_form_for @event, url: admins_event_path(@event) do |f|
  = f.input :aasm_state, as: :hidden, input_html: { value: state }
  = f.button :submit, action, class: "btn btn-dashboard btn-dashboard-#{state}" do