// -------------------------------------------------------
//
//  Page form styles
//
// -------------------------------------------------------


label {
  @extend h3;

  @include min-screen ($bp3) {
    @include span-columns(4);
  }
}


input[type=text],
input[type=password],
input[type=email],
input[type=number],
input[type=url],
input[type=tel],
input[type=search],
textarea {
  @include mscale($base_font_size);
  @include appearance(none);
  width: 100%;
  margin-bottom: modules(1);
  padding: modules(.5);
  overflow: hidden;
  border-radius: 4px;
  background-color: $white;
  box-shadow: inset 0px 0px 0px 2px $pinkMagenta;
  border: none;
  font-family: Helvetica;

  @include min-screen ($bp3) {
    @include span-columns(8);
  }

  &:focus {
    outline: none;
    opacity: 1;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $white inset !important;
  }
  &:-moz-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $white inset !important;
  }
}
