/* ------------------------------------------------------- *\

  Base stylesheet for common elments

\* ------------------------------------------------------- */

$nav-size: $base-font-size*2;

// HTML base styles
// -------------------------------------------------------

header {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  background-image: image-url("headerbg.jpg");
  background-repeat: repeat-x;
  background-size: 95% 95%;

  @include min-screen($bp2) {  background-size: auto; }

  h1 { margin-bottom: 0; }
}

// _____ MOBILE NAV ______

.navigation-mobile {
  position: absolute;
  top: modules(4.5);
  left: modules(0.5);
  right: modules(0.5);
  z-index: 4;

  p {
    @include mscale($base-font-size*0.9);
    @include linear-gradient(to top, #3d3d3d, #585858);
    position: relative;
    display: block;
    margin-bottom: 0;
    padding: modules(0.5) modules(0.25);
    font-family: Helvetica;
    color: $white;
    font-weight: bold;
    cursor: pointer;
  }

  i {
    display: block;
    position: absolute;
    top: modules(0.5);
    right: modules(0.25);
    padding: 0 modules(0.25);
    box-shadow: inset 1px 0px 0px 0px $grey;
  }

  ul {
    display: none;
    background-color: $white;
    margin: 0;
    padding: 0;

    &.open { display: block; }
  }

  li {
    position: relative;

    a {
      display: block;
      width: 100%;
      height: 100%;
      padding: modules(0.5);
      box-shadow: inset 0px -1px 0px 0px $input_grey;
      color: $grey;
      font-weight: bold;

      &:hover { background-color: $input_grey; }
    }
  }
}

// _____ DESKTOP NAV ______

.navigation-desktop {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  height: modules(4);
  padding: modules(0.5);
  background-image: image-url("menu.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  color: $white;

  @include min-screen($bp2) { display: block; }
  @include min-screen($bp5) { width: 1014px; }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    @include mscale($nav-size);
    display: inline-block;
    vertical-align: top;
    width: auto;
    padding: 0 modules(0.25);
    font-weight: bold;
    cursor: pointer;

    &:first-child {
      padding-left: 0;

      @include min-screen($bp4) { padding-left: modules(1); }
    }

    &:last-child {
      padding-right: 0;

      @include min-screen($bp4) { padding-right: modules(1); }
    }
  }
}

.nav-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: $white;

  &:hover { color: $pinkMagenta; }
}

// ______________

.container-header {
  position: relative;
  width: 100%;
  text-align: center;

  @include min-screen($bp3) {
    @include outer-container;
  }
}

.bbf-logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index:1;

  @include min-screen($bp4) {
    left: modules(2.5);
  }

  img {
    width: modules(3);
    height: auto;

    @include min-screen($bp3) {
      width: modules(6.5);
      height: auto;
    }
  }

  &:hover { opacity: 0.8; }
}

.logo {
  display: block;
  width: 100%;
  max-width: modules(31);
  margin: 0 auto;

  img { width: 100%; height: auto; }
}

.language-selection {
  @include mscale ($nav-size);
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 modules(0.5);
  background-color: $white;
  font-weight: bold;
  cursor: pointer;

  @include min-screen($bp3) {
    position: absolute;
    top: 45%;
    background: none;
  }

  @include min-screen($bp4) { right: modules(2); }

  li {
    display: inline-block;
    padding-left: modules(0.25);

    &:first-child { padding-left: 0; }
  }

  a {
    &:hover { text-decoration: underline; }
    &.language-selected { color: $pinkMagenta; }
  }
}

.user-options {
  float: right;
  text-align: right;

  a { color: $pinkMagenta; }

  &:hover {
    .submenu {
      display: block;
    }
  }
}

.submenu {
  display: none;
  position: absolute;
  top: modules(2.65);
  right: 0;
  margin: 0;
  text-align: center;
  z-index: 1;

  li {
    display: block;
    padding: 0;

    &:first-child { padding: 0; }
    &:last-child { padding: 0; }
  }
}

.link-submenu {
  display: block;
  width: 100%;
  height: 100%;
  padding: modules(0.5) modules(1);
  background: $black;
  box-shadow: inset 0px -2px 0px 0px $grayGunmetal;

  &:hover {
    background-color: $pinkMagenta;
    color: $black;
  }
}