// -------------------------------------------------------
//
//  Notification messages
//
// -------------------------------------------------------

.msg-notification {

}

.msg-for-alert, .msg-for-error {
  position: absolute;
  top: modules(3);
  left: modules(2);
  right: modules(2);
  padding: modules(2);
  border-radius: 4px;
  background-color: $white;
  box-shadow: inset 0px 0px 0px 3px $red;
  color: $red;
  text-align: center;
  z-index: 3;

  p {
    @include mscale($nav-size);
    margin-bottom: 0;
  }
}

.msg-for-notice {

}

.msg-for-success {

}

.msg-for-info { }


.error_notification {
  padding: modules(1);
  border-radius: 3px;
  background-color: $red;
  text-align: center;
  color: $white;
}

.error {
  position: relative;
  right: modules(0.25);
  color: $red;
  font-weight: bold;

  @include min-screen($bp3) {
    position: absolute;
    right: modules(0.25);
    top: 0;
  }
}
