$nuclear:       #fff;
$grey:          #666;
$btn_green:     #A7D173;
$light_grey:    #999;
$dark_grey:     #333333;
$input_grey:    #E8EEEF;
$admin_grey:    #f5f5f5;

$footer_color:  #4671B7;

//SOCIAL
$facebook:      #3b5998;
$skype:         #12A5F4;
$twitter:       #00aced;
$linked:        #007bb6;
$youtube:       #bb0000;

$error_red:     #bb0000;

//CORP
$blue:          #0097A7;
$light_blue:    #80cbd3;
$dark_blue:     #1b5359;
$magenta:       #EB288A;
$side_panel:    #37474F;

$glwnt_header:  #212738;