ul
  - if customer_event_profile.customer.confirmed_at.nil?
    li.table-action.action-delete = link_to resend_confirmation_admins_event_customer_event_profile_path(event: current_event, id: customer_event_profile), method: :post, remote: true, data: { confirm: t("admin.confirm.delete") } do
      = fa_icon "send"
