.wrapper-field.centered.form-inputs
  h3 = t('dashboard.without_admissions.call_to_action')
  = link_to t('dashboard.without_admissions.button'), new_customers_admission_path, class: "btn btn-primary"

  p = t('dashboard.without_admissions.description')