.mdl-cell.mdl-cell--12-col.italic.small
  .pagination_left = paginate objects, param_name: local_assigns[:param_name].presence || :page
  .pagination_right = page_entries_info objects, entry_name: local_assigns[:entry_name].presence || 'item'